


    <div class="modal fade signin-form" id="modal-signin" role="dialog">
      <div class="modal-dialog signin-form__dialog">
        <div class="signin-form__button-close hidden-lg hidden-md hidden-sm">
          <button class="close signin-form__button-close__btn" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="signin-form__header"><a class="signin-form__header__logo" href="#"><img src="assets/img/logo/Logo-form.png" alt=""></a>
          <p class="signin-form__sub">Universal access to the world’s best education.</p>
        </div>
        <div class="modal-content signin-form__content">
          <div class="modal-body signin-form__body">
            <ul class="signin-form__tabs">
              <li class="active signin-form__tabs__items"><a class="signin-form__tabs__link" data-toggle="tab" href="#sign-in">Sign In</a></li>
              <li class="signin-form__tabs__items"><a class="signin-form__tabs__link" data-toggle="tab" href="#sign-up">Sign Up</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="sign-in">
                <h3 class="signin-form__body__title">Log Into Your Account</h3>
                <p class="signin-form__body__sub">Your student account is your portal to all things Educef: your classroom, projects, forums, career resources, and more!</p>
                <form class="signin-form__form">
                  <div class="signin-form__form__inputs">
                    <input class="input-item" type="text" placeholder="Email">
                    <input class="input-item" type="password" placeholder="Password">
                  </div>
                  <button class="btn-green list-link__btn">Sign In</button><a class="signin-form__link" href="#">Forgot your password?</a>
                </form>
                <div class="group-btn-socials">
                  <p class="group-btn-socials__sub">or sign in with one of these services</p>
                  <div class="btn-social btn-social--facebook"><i class="glyph-icon flaticon-social-1"></i><i>facebook</i></div>
                  <div class="btn-social btn-social--twitter"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i><i>twitter</i></div>
                </div>
              </div>
              <div class="tab-pane fade" id="sign-up">
                <h3 class="signin-form__body__title">Log Into Your Account</h3>
                <p class="signin-form__body__sub">Your student account is your portal to all things Educef: your classroom, projects, forums, career resources, and more!</p>
                <form class="signin-form__form">
                  <div class="signin-form__form__inputs">
                    <input class="input-item" type="text" placeholder="User name">
                    <input class="input-item" type="email" placeholder="Email">
                    <input class="input-item" type="password" placeholder="Password">
                    <input class="input-item" type="password" placeholder="Confirm Password">
                  </div>
                  <button class="btn-green list-link__btn">Sign Up</button>
                </form>
                <div class="group-btn-socials">
                  <p class="group-btn-socials__sub">or sign up with one of these services</p>
                  <div class="btn-social btn-social--facebook"><i class="glyph-icon flaticon-social-1"></i><i>facebook</i></div>
                  <div class="btn-social btn-social--twitter"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i><i>twitter</i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="signin-form__footer"><a class="signin-form__footer__link" href="#">Having trouble logging in?</a></div>
      </div>
    </div>


    <div class="bundle-content">
      <div class="container">

        <nav class="breadcrumb-wapper">
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/ximaths">XI Maths</a></li>
            <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/ximaths/previousyearpapers">Previous Year Papers</a></li>
          </ul>
        </nav>
        <div class="row">
          <div class="col-lg-3 col-md-3 sidebar-left">
            <div class="list-link" id="menu-left">
                          <ul class="list-link__list">
                            <li class="list-link__item"><a class="list-link__link " href="#about">About the Course</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#about">Course Overview</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#course">Topics Covered</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#creator">Created By</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#faq">FAQs</a></li>
                            <!--<li class="list-link__item"><a class="list-link__link " href="#faq">Reviews</a></li> -->
                          </ul>
              <div class="title-list list-link__title">High School (X) Maths</div><a class="btn-green list-link__btn" href="previousyearpapers/coursestart">Start Course</a>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="bundle-header__about">
              <h1 class="bundle-header__title">UPSC Maths Paper 1</h1>
              <p>
                This course covers all the topics of UPSC Optional Mathematics. These topics are helpful in many other competitive exams such as IFoS and GATE, and also covers Engineering Mathematics. Engineering Mathematics will be extrememly helpful in your career. It has applications in many fields including Data Science, Machine Learning, Artificial Intelligence, Software Development, Financial Modelling and much more.
              </p>
              <p>
                Based on the diverse applications of topics covered in this course, the target audience for this course will also include working professionals in the above-mentioned and relevant fields.
                So, please let us know if you find our course helpful in your work or projects.
              </p>
            </div>
            <div class="bundle-list">
                          <div class="bundle" id="about">
                            <div class="bundle__title">About the Course</div>
                            <div class="bundle__content">
                              <div class="bundle__content__sub">
                                <p class="paragrap-content">In these course, we will cover seven units, namely, Number Systems, Algebra, Coordinate Geometry, Trigonometry, Mensuration, Statistics and Probability. The total marks covered by these topics are 80.</p>
                                <p> 1) The unit Number System contains the chapter Real Numbers and covers 6 marks.
                                </p>
                                <p> 2) The unit Algebra contains the chapters Polynomials, Pair of Linear Equations in Two Variables, Quadratic Equations, Arithmetic and Progressions, and covers 20 marks.
                                </p>
                                <p> 3) The unit Coordinate Geometry contains the chapter Lines in Two Dimensions and covers 6 marks.
                                </p>
                                <p> 4) The unit Geometry contains the chapters Triangles, Circles and Constructions, and covers 15 marks.
                                </p>
                                <p> 5) The unit Trigonometry contains the chapters Introduction to Trigonometry, Trigonometric Identities and Heights & Distances, and covers 12 marks.
                                </p>
                                <p> 6) The unit Mensuration contains the chapters Areas Related to Circles and Surface Areas & Volumes, and covers 10 marks.
                                </p>
                                <p> 7) The unit Statistics & Proabability contains the chapters Statistics and Probability, and covers 11 marks.
                                </p>
                              </div>
                              <div class="detail">

                                <!--
                                <div class="detail__block">
                                  <div class="detail__infor detail__infor--title">Projects overview</div>
                                  <p class="detail__infor__sub">MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training? Not too many people! That is what the MCSE boot camps are for.</p>
                                  <p class="detail__infor__sub">These boot camps are typically an intense two-week long MCSE training course that prepares you for the MCSE exams. Some companies that conduct boot camps offering Microsoft certification, especially the MCSE, guarantee that you will pass your MCSE exams. If you happen to fail, they will usually issue a voucher to try it again. For many people who attend these MCSE boot camps, it is preferable to have an intense two weeks with little to distract you rather than drawing out the classes for weeks with outside influences like work and family interfering with study time. Sure, being gone for two weeks is a temporary hassle, but you will have your certification in a fraction of the time.</p>
                                </div>
                                -->

                              </div>
                            </div>
                          </div>


                          <div class="detail__block">
                                  <div class="bundle__title">Course Overview</div>
                                              <div class="detail__list">
                                                <div class="row">
                                                  <div class="col-md-4 col-sm-4 detail__list__item">
                                                    <div class="detail__list__wapper"><img class="detail__list__image" src="/assets/img/courses-bundle/1.jpeg" alt="creater by"></div>
                                                    <div class="detail__list__content">
                                                      <div class="detail__list__title">6 Units</div>
                                                      <div class="detail__list__subs">This course has 6 units divided into 13 chapters. Chapters are further divided into lessons to cover the topics in a detailed and clear manner.</div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4 col-sm-4 detail__list__item">
                                                    <div class="detail__list__wapper"><img class="detail__list__image" src="/assets/img/courses-bundle/2.jpeg" alt="creater by"></div>
                                                    <div class="detail__list__content">
                                                      <div class="detail__list__title">6 Term Exams and 13 Quizzes</div>
                                                      <div class="detail__list__subs">These Exams and Quizzes are designed to help you practice and apply the skills you learn.</div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4 col-sm-4 detail__list__item">
                                                    <div class="detail__list__wapper"><img class="detail__list__image" src="/assets/img/courses-bundle/3.jpeg" alt="creater by"></div>
                                                    <div class="detail__list__content">
                                                      <div class="detail__list__title">Previous Year problems</div>
                                                      <div class="detail__list__subs">Some problems from previous years papers are solved to understand the pattern and trend of questions asked in the exam.</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                          </div>


                          <div class="bundle" id="syllabus">
                            <div class="bundle__title">Topics Covered</div>
                            <div class="bundle__content">

                              <div class="list-syllabus">
                                            <div class="list-brief-content">

                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__title">Unit 1: Relations and Functions</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">video</a><span>·</span><a class="list-brief__item__content" href="#">Significance of Unit 1: Relations and Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">reading</a><span>·</span><a class="list-brief__item__content" href="#">Important Topics Covered</a></div>
                                                </div>
                                              </div>

                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 1:</div>
                                                  <div class="list-brief__top__title">Relations and Functions</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Types of Relations</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">One-to-One and Onto Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Composite Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Inverse of a Function</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Binary Operations</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 1</a><span>·</span><a class="list-brief__item__content" href="#">Relations and Functions</a></div>
                                                </div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 2:</div>
                                                  <div class="list-brief__top__title">Inverse Trigonometric Functions</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Domain and Range</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Prinicipal Value Branch</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Graphs of Inverse Trigonometric Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Elementary Properties of Inverse Trigonometric Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 2</a><span>·</span><a class="list-brief__item__content" href="#">Inverse Trigonometric Functions</a></div>
                                                </div>
                                              </div>

                                              <div class="list-brief__top">
                                                  <div class="list-brief__top__title">Unit 2: Algebra</div>
                                              </div>
                                              <div class="list-brief__list">
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">video</a><span>·</span><a class="list-brief__item__content" href="#">Significance of Algebra</a>
                                                </div>
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">reading</a><span>·</span><a class="list-brief__item__content" href="#">Important Topics Covered</a></div>
                                              </div>

                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 3:</div>
                                                  <div class="list-brief__top__title">Matrices</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Notations and Concepts</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Operation on Matrices</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Elementary Row and Column Operations</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 3</a><span>·</span><a class="list-brief__item__content" href="#">Matrices</a></div>
                                                </div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 4:</div>
                                                  <div class="list-brief__top__title">Determinants</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Determinant of a Square Matrix</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Properties and Applications of Determinants</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Adjoint and Inverse of a Square Matrix</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Solutions of Systems of Linear Equations in Two or Three Variables</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Some Real Life Problems and Applications</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 4</a><span>·</span><a class="list-brief__item__content" href="#">Determinants</a></div>
                                                </div>
                                              </div>

                                              <div class="list-brief__top">
                                                  <div class="list-brief__top__title">Unit 3: Calculus</div>
                                              </div>
                                              <div class="list-brief__list">
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">video</a><span>·</span><a class="list-brief__item__content" href="#">Significance of Calculus</a>
                                                </div>
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">reading</a><span>·</span><a class="list-brief__item__content" href="#">Important Topics Covered</a></div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 5:</div>
                                                  <div class="list-brief__top__title">Continuity and Differentiability</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Introduction</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Derivative of Composite Functions: Chain rule,</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Derivatives of
                                                  Inverse Trigonometric Functions,</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Derivative of Implicit Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Exponential and
                                                  Logarithmic Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Derivatives of Logarithmic and Exponential Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 7</a><span>·</span><a class="list-brief__item__content" href="#">Logarithmic Differentiation</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 8</a><span>·</span><a class="list-brief__item__content" href="#">Derivatives of Functions Expressed in Parametric Forms</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 9</a><span>·</span><a class="list-brief__item__content" href="#">Second Order Derivatives</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 10</a><span>·</span><a class="list-brief__item__content" href="#">Rolle's and Lagrange's Mean Value Theorems</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 11</a><span>·</span><a class="list-brief__item__content" href="#">Some Real Life Problems and Applications</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 5</a><span>·</span><a class="list-brief__item__content" href="#">Continuity and Differentiability</a></div>
                                                </div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 6:</div>
                                                  <div class="list-brief__top__title">Applications of Derivatives</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Introduction</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Derivative of Composite Functions: Chain rule</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Derivatives of
                                                  Inverse Trigonometric Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Derivative of Implicit Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Exponential and
                                                  Logarithmic Functions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Some Real Life Problems and Applications</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 6</a><span>·</span><a class="list-brief__item__content" href="#">Applications of Derivatives</a></div>
                                                </div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 7:</div>
                                                  <div class="list-brief__top__title">Integrals</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Integrations as Inverse Process of Differentiation</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Integration by Substitution</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Integration by Partial Fractions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Integration by Parts</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Evalution of some Integrals of Standard Types</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Definite Integrals as a Limit of a Sum</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 7</a><span>·</span><a class="list-brief__item__content" href="#">Fundamental Theorem of Calculus</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 8</a><span>·</span><a class="list-brief__item__content" href="#">Basic Properties and Evaluation of Definite Integrals</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Some Real Life Problems and Applications</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 7</a><span>·</span><a class="list-brief__item__content" href="#">Integrals</a></div>
                                                </div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 8:</div>
                                                  <div class="list-brief__top__title">Applications of the Integrals</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Area under a Curve</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Area between the Curves</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Some Real Life Problems and Applications</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 8</a><span>·</span><a class="list-brief__item__content" href="#">Applications of the Integrals</a></div>
                                                </div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 9:</div>
                                                  <div class="list-brief__top__title">Differential Equations</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Definition: Order and Degree</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">General and Particular Solutions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Formation of Differential Equation</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Method of
                                                  Separation of Variables</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Solutions of Homogeneous Differential Equations of First Order and First Degree</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Some Real Life Problems and Applications</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 9</a><span>·</span><a class="list-brief__item__content" href="#">Applications of Derivatives</a></div>
                                                </div>
                                              </div>

                                              <div class="list-brief__top">
                                                  <div class="list-brief__top__title">Unit 4: Vectors and Three-Dimensional Geometry</div>
                                              </div>
                                              <div class="list-brief__list">
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">video</a><span>·</span><a class="list-brief__item__content" href="#">Significance of Vectors and Three-Dimensional Geometry</a>
                                                </div>
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">reading</a><span>·</span><a class="list-brief__item__content" href="#">Important Topics Covered</a></div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 10:</div>
                                                  <div class="list-brief__top__title">Vectors</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Vectors and Scalars</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Types and Components of Vectors</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Addition of Vectors and Muliplication of a Vector by Scalar</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Scalar (Dot) Product of Vectors</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Vector (Cross) Product of Vectors</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Scalar Triple Product of Vectors.</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 10</a><span>·</span><a class="list-brief__item__content" href="#">Vectors</a></div>
                                                </div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 11:</div>
                                                  <div class="list-brief__top__title">Three-Dimensional Geometry</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Direction Cosines and Direction Ratios of a Line joining Two Points</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Cartesian Equation and Vector Equation of a Line</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Coplanar and Skew Lines</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Shortest Distance between Two Lines</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Cartesian and Vector Equation of a Plane</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Coplanar and Skew Lines</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 7</a><span>·</span><a class="list-brief__item__content" href="#">Angle between (i) Two Lines, (ii) Two Planes, (iii) A Line and a Plane</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 8</a><span>·</span><a class="list-brief__item__content" href="#">Distance of a Point From a Plane</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 9</a><span>·</span><a class="list-brief__item__content" href="#">Some Real Life Problems and Applications</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 11</a><span>·</span><a class="list-brief__item__content" href="#">Three-Dimensional Geometry</a></div>
                                                </div>
                                              </div>

                                              <div class="list-brief__top">
                                                  <div class="list-brief__top__title">Unit 5: Linear Programming</div>
                                              </div>
                                              <div class="list-brief__list">
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">video</a><span>·</span><a class="list-brief__item__content" href="#">Significance of Linear Programming</a>
                                                </div>
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">reading</a><span>·</span><a class="list-brief__item__content" href="#">Important Topics Covered</a></div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 12:</div>
                                                  <div class="list-brief__top__title">Linear Programming</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Introduction, Terminologies and Types of LP problems</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Formulation of LP problems</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Graphical Method of Solution for Problems in Two Variables</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Formulation of LP problems</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Feasible and Infeasible Regions and Solutions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Optimal Feasible Solutions</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 12</a><span>·</span><a class="list-brief__item__content" href="#">Linear Programming</a></div>
                                                </div>
                                              </div>
                                              <div class="list-brief__top">
                                                  <div class="list-brief__top__title">Unit 6: Probability</div>
                                              </div>
                                              <div class="list-brief__list">
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">video</a><span>·</span><a class="list-brief__item__content" href="#">Significance of Probability</a>
                                                </div>
                                                <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">reading</a><span>·</span><a class="list-brief__item__content" href="#">Important Topics Covered</a></div>
                                              </div>
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 13:</div>
                                                  <div class="list-brief__top__title">Probability</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Conditional Probability</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Multiplication Theorem on Probability</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Indepdendent Events</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Total Probability</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Bayes' Theorem</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Random Variable and its Probability Distribution</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 7</a><span>·</span><a class="list-brief__item__content" href="#">Repeated Independent (Bernoulli) Trials and Binomial Distribution</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 13</a><span>·</span><a class="list-brief__item__content" href="#">Probability</a></div>
                                                </div>
                                              </div>


                                              <!--
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Lab:</div>
                                                  <div class="list-brief__top__title">Free trial</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">reading</a><span>·</span><a class="list-brief__item__content" href="#">Codelab - Sign Up for the Free Trial and Create a Project</a></div>
                                                </div>
                                              </div>
                                            -->
                                            </div>
                              </div>

                              <div class="list-syllabus__group-button">
                                <div class="list-syllabus__view-more" id="cs-button-view">View more</div>
                              </div>


                            </div>

                          </div>
                          <!--
                          <div class="bundle" id="creator">
                            <div class="bundle__title">Creators by</div>
                            <div class="bundle__content">
                              <div class="creator">
                                <div class="creator__title">University of Republic SG</div>
                                <div class="creator__content">
                                  The city of southern California, san diego is locally known as ‘America’s Finest City’.
                                  It’s located on San Diego Bay, an inlet of the Pacific Ocean near the Mexican border.
                                  San Diego is the second largest city in California and the seventh largest in the United States.
                                  It is also nicknamed as ‘America’s biggest small town’.
                                </div>
                              </div>
                            </div>
                          </div>
                          -->


                          <div class="detail__block" id = "creator">
                                  <div class="bundle__title">Created by</div>
                                  <div class="detail__about">
                                    <div class="detail__wrapper-image"><img class="detail__image" src="../assets/img/courses-bundle/creator.png" alt="creater by"></div>
                                    <div class="detail__title">XYZ</div>
                                  </div>
                          </div>

                          <div class="bundle" id="faq">
                            <div class="bundle__title">FAQs</div>
                            <div class="bundle__content">
                                          <div class="faqs faqs--course-single" id="faqs">
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer1" aria-expanded="true">What is the importance of this course?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse in" id="answer1">
                                                            <div class="faqs__body">
                                                              This course forms an important segment of XI Maths and many competitive examinations Maths, including JEE.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer2" aria-expanded="false">What are the prerequisites of this course?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer2">
                                                            <div class="faqs__body">
                                                              This course requires basic efficieny with XI level Maths Topics. Students are advised to practice a lot of problems to master in this course.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer3" aria-expanded="false">How can I access lectures and assignments?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer3">
                                                            <div class="faqs__body">
                                                              All the lectures and assignments can be accessed on the course-page itself.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer4" aria-expanded="false">What can I expect in the paid course?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer4">
                                                            <div class="faqs__body">
                                                              In the paid course, all the course material would be provided. Apart from that, all the subjective
                                                              questions will be graded by us. You'll also get access to online tutoring for a specified amount of time.
                                                            </div>
                                                          </div>
                                                        </div>
                                          </div>
                            </div>
                          </div>

                          <div class="reviews__btn"><a class="button-default reviews__enroll" href="previousyearpapers/coursestart">Start Course</a></div>

                          <!--
                          <div class="bundle" id="how-it-works">
                            <div class="bundle__title">How it works</div>
                            <div class="bundle__content">
                                          <div class="list_works">
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="assets/img/course-single/Icon-how-it-works-1.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Coursework</div>
                                                <div class="list_works__subs">Each course is like an interactive textbook, featuring pre-recorded videos, quizzes and projects.</div>
                                              </div>
                                            </div>
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="assets/img/course-single/Icon-how-it-works-2.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Help from Your Peers</div>
                                                <div class="list_works__subs">Connect with thousands of other learners and debate ideas, discuss course material, and get help mastering concepts.</div>
                                              </div>
                                            </div>
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="assets/img/course-single/Icon-how-it-works-3.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Certificates</div>
                                                <div class="list_works__subs">Earn official recognition for your work, and share your success with friends, colleagues, and employers.</div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                          </div>
                          -->




                          <!--
                          <div class="bundle" id="reviews">
                            <div class="bundle__title">Reviews</div>
                            <div class="bundle__content">
                                          <div class="reviews">
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course. I highly recommend taking this course if you have an interest in web design. Looking forward to learning how to bring the site to life in Dan's Dreamweaver course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Course quality</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Learner support</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Learner support</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                              <div class="reviews__btn"><a class="button-default reviews__enroll" href="https://www.facebook.com/groups/1889374178036289/" target="_blank">Facebook Group</a></div>
                            </div>
                          </div>
                        -->
            </div>
          </div>
        </div>
      </div>
    </div>
