<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/ximaths">XI Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/ximaths/algebra">Algebra</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/ximaths/algebra/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Principle of Mathematical Introduction
                                </li>
                                <li class="list-catagories__item">
                                  2. Complex Numbers and Quadratic Equations
                                </li>
                                <li class="list-catagories__item">
                                  3. Linear Inequalities
                                </li>
                                <li class="list-catagories__item">
                                  4. Permutations and Combinations
                                </li>
                                <li class="list-catagories__item">
                                  5. Binomial Theorem
                                </li>
                                <li class="list-catagories__item">
                                  6. Sequences and Series
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Principle of Mathematical Induction<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "principleofmathematicalinduction/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="principleofmathematicalinduction/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "principleofmathematicalinduction/principleofmathematicalinduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="principleofmathematicalinduction/principleofmathematicalinduction">Lesson 2: Principle of Mathematical Induction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "principleofmathematicalinduction/quiz1principleofmathematicalinduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="principleofmathematicalinduction/quiz1principleofmathematicalinduction">Quiz 1: Principle of Mathematical Induction</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Complex Numbers and Quadratic Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <a class="list-brief__item__kind" href= "complexnumbersandquadraticequations/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="complexnumbersandquadraticequations/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbersandquadraticequations/complexnumbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="complexnumbersandquadraticequations/complexnumbers">Lesson 2: Complex Numbers</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbersandquadraticequations/algebraofcomplexnumbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="complexnumbersandquadraticequations/algebraofcomplexnumbers">Lesson 3: Algebra of Complex Numbers</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbersandquadraticequations/modulusandconjugate"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="complexnumbersandquadraticequations/modulusandconjugate">Lesson 4: Modulus and Conjugate</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbersandquadraticequations/argandandpolarrepresentation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="complexnumbersandquadraticequations/argandandpolarrepresentation">Lesson 5: Argand and Polar Representation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbersandquadraticequations/quadraticequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="complexnumbersandquadraticequations/quadraticequations">Lesson 6: Quadratic Equations</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbersandquadraticequations/quiz2complexnumbersandquadraticequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="complexnumbersandquadraticequations/quiz2complexnumbersandquadraticequations">Quiz 2: Complex Numbers and Quadratic Equations</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Linear Inequalities<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <a class="list-brief__item__kind" href= "linearinequalities/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linearinequalities/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linearinequalities/inequalities"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linearinequalities/inequalities">Lesson 2: Inequalities</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linearinequalities/algebraicgraphicalsolutionsoflinearinequalitiesonevariable"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linearinequalities/algebraicgraphicalsolutionsoflinearinequalitiesonevariable">Lesson 3: Algebraic/Graphical Solutions of Linear Inequalities: One Variable</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linearinequalities/algebraicgraphicalsolutionsoflinearinequalitiestwovariables"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linearinequalities/algebraicgraphicalsolutionsoflinearinequalitiestwovariables">Lesson 4: Algebraic/Graphical Solutions of Linear Inequalities: Two Variables</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linearinequalities/quiz3linearinequalities"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linearinequalities/quiz3linearinequalities">Quiz 3: Linear Inequalities</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Permutations and Combinations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="permutationsandcombinations/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/fundamentaltheoremofcounting"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="permutationsandcombinations/fundamentaltheoremofcounting">Lesson 2: Fundamental Principle of Counting</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/permutations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="permutationsandcombinations/permutations">Lesson 3: Permutations</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/combinations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="permutationsandcombinations/combinations">Lesson 4: Combinations</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/quiz4permutationsandcombinations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="permutationsandcombinations/quiz4permutationsandcombinations">Quiz 4: Permutations and Combinations</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Chapter 5. Binomial Theorem<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter5">
                                <a class="list-brief__item__kind" href= "binomialtheorem/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="binomialtheorem/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "binomialtheorem/binomialtheoremforpositiveintegralindices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="binomialtheorem/binomialtheoremforpositiveintegralindices">Lesson 2: Binomial Theorem for Positive Integral Indices</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "binomialtheorem/generalandmiddleindices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="binomialtheorem/generalandmiddleindices">Lesson 3: General and Middle Indices</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "binomialtheorem/quiz5binomialtheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="binomialtheorem/quiz5binomialtheorem">Quiz 5: Binomial Theorem</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter6" aria-expanded="false">Chapter 6. Sequences and Series<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter6">
                                <a class="list-brief__item__kind" href= "sequencesandseries/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="sequencesandseries/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/sequences"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="sequencesandseries/sequences">Lesson 2: Sequences</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/series"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="sequencesandseries/series">Lesson 3: Series</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/arithmeticprogression(ap)"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="sequencesandseries/arithmeticprogression(ap)">Lesson 4: Arithmetic Progression(AP)</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/geometricprogession(gp)"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="sequencesandseries/geometricprogession(gp)">Lesson 5: Geometric Progression(GP)</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/relationshipbetweenamandgm"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="sequencesandseries/relationshipbetweenamandgm">Lesson 6: Relationship between AM and GM</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/sumtontermsofspecialseries"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="sequencesandseries/sumtontermsofspecialseries">Lesson 7: Sum to n terms of Special Series</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/quiz6sequencesandseries"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="sequencesandseries/quiz6sequencesandseries">Quiz 6: Sequences and Series</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Sets and Functions">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/setsandfunctions">Sets and Functions</a>
                    <a class="design-sprint__contents__link" href="/ximaths/setsandfunctions">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/ximaths/algebra">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Coordinate Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/coordinategeometry">Coordinate Geometry</a>
                    <a class="design-sprint__contents__link" href="/ximaths/coordinategeometry">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/calculus">Calculus</a>
                    <a class="design-sprint__contents__link" href="/ximaths/calculus">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Mathematical Reasoning">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/mathematicalreasoning">Mathematical Reasoning</a>
                    <a class="design-sprint__contents__link" href="/ximaths/mathematicalreasoning">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Statistics and Probability">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/statisticsandprobability">Statistics and Probability</a>
                    <a class="design-sprint__contents__link" href="/ximaths/statisticsandprobability">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Previous Year Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/previousyearpapers">Previous Year Papers</a>
                    <a class="design-sprint__contents__link" href="/ximaths/previousyearpapers">Start</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
