<footer class="footer">
      <video id="video-background" playsinline autoplay muted loop preload="none">
        <source src="/assets/img/bg-footer.jpg" type="video/mp4">
      </video>
      <div class="container">
        <div class="footer__top">
          <h2 class="footer__top__title">Start Your New Goal & Make Life Better</h2>
          <div class="footer__top__sub">Learn with us and enjoy the awesome experience of Online Collaborative Learning</div>
          <!--
          <a class="btn button-default design-sprint__item__button" href="#">enroll now</a>
        -->
        </div>
        <div class="row footer__content">
          <div class="col-lg-5 col-md-5"><a class="logo__link footer__logo" href="/"><img class="logo__image" src="/assets/img/logo_footer.png" alt="Logo Educef"></a>
            <p class="footer__item__sub">
              Education Intiative<br />
              We have a Simple Goal, Quality Education to All<br />
              Join our Initiative
            </p>
                <div class="asocials">
                  <ul class="asocials__list">
                    <li class="asocials__item"><a class="asocials__link" href="https://www.linkedin.com/company/pymaths/" target="_blank"><span class="glyph-icon icon-custom flaticon-social-media asocials__icon"></span></a></li>
                    <li class="asocials__item"><a class="asocials__link" href="https://www.facebook.com/pymath/" target="_blank"><span class="glyph-icon icon-custom flaticon-social-1 asocials__icon"></span></a></li>
                    <li class="asocials__item"><a class="asocials__link" href="https://twitter.com/PyMaths" target="_blank"><span class="glyph-icon icon-custom flaticon-twitter-logo-silhouette asocials__icon"></span></a></li>
                    <!-- <li class="asocials__item"><a class="asocials__link" href="#"><span class="glyph-icon icon-custom flaticon-google-plus-symbol asocials__icon"></span></a></li> -->
                    <li class="asocials__item"><a class="asocials__link" href="https://www.youtube.com/channel/UCsQ2DVwsKzFCGwigbiAYLBA" target="blank"><span class="glyph-icon icon-custom flaticon-social-4 asocials__icon"></span></a></li>
                    <li class="asocials__item"><a class="asocials__link" href="#"><span class="glyph-icon icon-custom flaticon-pinterest-logotype asocials__icon"></span></a></li>
                  </ul>
                </div>
          </div>
          <div class="col-lg-7 col-md-7 footer__content__right">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 footer__item">
                <h3 class="footer__item__title">System</h3>
                    <ul class="footer-link__list">
                      <li class="footer-link__item"><a class="footer-link__link ">Help center</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Support forum</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">affiliate</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Explore</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Pricing</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Social</a>
                      </li>
                    </ul>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 footer__item">
                <h3 class="footer__item__title">more</h3>
                    <ul class="footer-link__list">
                      <li class="footer-link__item"><a class="footer-link__link ">About us</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Blog</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Service</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Sign in</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Sign up</a>
                      </li>
                      <li class="footer-link__item"><a class="footer-link__link ">Contact</a>
                      </li>
                    </ul>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 footer__item">
                <h3 class="footer__item__title">get in touch</h3>
                <div class="footer-link__link footer-link__link--contact">Contact us if you need help with anything</div>
               <!-- <div class="footer-link__link footer-link__link--phone">(+ 01) 2675 2868</div>
                <div class="footer-link__link footer-link__link--phone">(+ 01) 2120 286473</div>.
                <div class="footer-link__link footer-link__link--phone">prateek96.4@gmail.com</div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">&copy; 2018 PyMaths</div>
      </div>
    </footer>