<header class="header-content">

        <div class="header-top hidden-sm hidden-xs" id="header-top">
        <div class="container">
          <nav class="navbar navbar-inverse header-top__top">
            <div class="navbar-header"><a class="navbar-brand logo__link" href="/"><img class="logo__image" src="/assets/img/logo_header.png" alt="Logo PyMaths"></a></div>
            <div class="nav navbar-nav navbar-left categories"><a class="dropdown-toggle categories__button"><i class="glyph-icon flaticon-signs-1 categories__icon"></i><span class="categories__text">Competitive Exams</span></a>
              <div class="dropdown-catagories">
                    <ul class="dropdown-catagories__list ">

                      <li class="dropdown-catagories__item"><a class="dropdown-catagories__link " href="/gatemaths" >GATE Maths</a>

                        <!--
                        <span class="glyph-icon flaticon-arrows-3 dropdown-catagories__icon"></span>
                        <div class="cate-sub">
                          <ul class="cate-sub__list">
                            <li class="cate-sub__item"><a class="cate-sub__link" href="http://swlabs.co/educef/html/index#">Design Thinking</a></li>
                            <li class="cate-sub__item"><a class="cate-sub__link" href="http://swlabs.co/educef/html/index#">Fashion</a></li>
                          </ul>
                        </div>
                      -->
                      </li>
                      <li class="dropdown-catagories__item"><a class="dropdown-catagories__link " href="/catquant" >CAT Quant</a>
                      </li>
                      <!--
                      <li class="dropdown-catagories__item"><a class="dropdown-catagories__link " href="http://swlabs.co/educef/html/index#">Blogs</a>
                        <span class="glyph-icon flaticon-arrows-3 dropdown-catagories__icon"></span>
                        <div class="cate-sub">
                          <ul class="cate-sub__list">
                            <li class="cate-sub__item"><a class="cate-sub__link" href="http://swlabs.co/educef/html/index#">Databases</a></li>
                            <li class="cate-sub__item"><a class="cate-sub__link" href="http://swlabs.co/educef/html/index#">Mobie Apps</a></li>
                          </ul>
                        </div>
                      </li>
                      -->

                    </ul>

              </div>
            </div>

            <form class="navbar-form navbar-left form-search">

              <div class="form-search__input-group">
                <input class="form-control form-search__input" type="text" placeholder="Search your course..." id="searchInput">
                <div class="form-search__btn-group">
                  <button class="btn form-search__button" type="submit" disabled><i class="glyph-icon flaticon-search form-search__icon"></i></button>
                </div>
                <!-- <ul class="search_drop_cvr"><li class="dropdown-catagories__item"><a href="/asa" class="dropdown-catagories__link">hi</a></li></ul> -->
                <ul class="search_drop_cvr">

                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths" class="dropdown-catagories__link">Engineering Maths</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/realanalysis" class="dropdown-catagories__link">Real Analysis</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/calculus" class="dropdown-catagories__link">Calculus (Engineering)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/vectoranalysis" class="dropdown-catagories__link">Vector Analysis</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/complexanalysis" class="dropdown-catagories__link">Complex Analysis</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/analyticgeometry" class="dropdown-catagories__link">Analytic (Coordinate) Geometry (Engineering)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/linearalgebra" class="dropdown-catagories__link">Linear Algebra</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/ordinarydifferentialequations" class="dropdown-catagories__link">Ordinary Differential Equations</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/partialdifferentialequations" class="dropdown-catagories__link">Partial Differential Equations</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/numericalmethods" class="dropdown-catagories__link">Numerical Methods</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/linearprogramming" class="dropdown-catagories__link">Linear Programming (Engineering)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/algebra" class="dropdown-catagories__link">Algebra (Engineering)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/engineeringmaths/probabilityandstatistics" class="dropdown-catagories__link">Probability and Statistics (Engineering/GATE)</a>
                  </li>

                  <li class="dropdown-catagories__item">
                    <a href="/upscmaths" class="dropdown-catagories__link">UPSC Maths (IAS or IFS)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/upscmaths/upscmathscomplete" class="dropdown-catagories__link">UPSC Maths (Complete)</a>
                  </li>

                  <li class="dropdown-catagories__item">
                    <a href="/jeemaths" class="dropdown-catagories__link">JEE Maths (Mains and Advanced)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/jeemaths/algebra" class="dropdown-catagories__link">Algebra (JEE)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/jeemaths/trigonometry" class="dropdown-catagories__link">Trigonometry (JEE)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/jeemaths/analyticgeometry" class="dropdown-catagories__link">Analytical (Coordinate) Geometry (JEE)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/jeemaths/differentialcalculus" class="dropdown-catagories__link">Differential Calculus</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/jeemaths/integralcalculus" class="dropdown-catagories__link">Integral Calculus</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/jeemaths/vectors" class="dropdown-catagories__link">Vectors (JEE)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/jeemaths/jeemathscomplete" class="dropdown-catagories__link">JEE Maths (Complete)</a>
                  </li>

                  <li class="dropdown-catagories__item">
                    <a href="/xiimaths" class="dropdown-catagories__link">XII (12th) Maths</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xiimaths/relationsandfunctions" class="dropdown-catagories__link">Relations and Functions</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xiimaths/algebra" class="dropdown-catagories__link">Algebra (12th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xiimaths/calculus" class="dropdown-catagories__link">Calculus (12th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xiimaths/vectorsandthreedimensionalgeometry" class="dropdown-catagories__link">Vectors and Three-Dimensional Geometry (12th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xiimaths/linearprogramming" class="dropdown-catagories__link">Linear Programming (12th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xiimaths/probability" class="dropdown-catagories__link">Probability (12th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xiimaths/xiimathscomplete" class="dropdown-catagories__link">XII (12th) Maths Complete</a>
                  </li>

                  <li class="dropdown-catagories__item">
                    <a href="/ximaths" class="dropdown-catagories__link">XI (11th) Maths</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ximaths/setsandfunctions" class="dropdown-catagories__link">Sets and Functions (11th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ximaths/algebra" class="dropdown-catagories__link">Algebra (11th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ximaths/coordinategeometry" class="dropdown-catagories__link">Coordinate Geometry (11th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ximaths/calculus" class="dropdown-catagories__link">Calculus (11th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ximaths/mathematicalreasoning" class="dropdown-catagories__link">Mathematical Reasoning (11th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ximaths/statisticsandprobability" class="dropdown-catagories__link">Statistics and Probability (11th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ximaths/ximathscomplete" class="dropdown-catagories__link">XI (11th) Maths Complete</a>
                  </li>

                  <li class="dropdown-catagories__item">
                    <a href="/xmaths" class="dropdown-catagories__link">X (10th) Maths</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xmaths/numbersystems" class="dropdown-catagories__link">Number Systems (10th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xmaths/algebra" class="dropdown-catagories__link">Algebra (10th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xmaths/coordinategeometry" class="dropdown-catagories__link">Coordinate Geometry (10th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xmaths/geometry" class="dropdown-catagories__link">Geometry (10th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xmaths/trigonometry" class="dropdown-catagories__link">Trigonometry (10th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xmaths/mensuration" class="dropdown-catagories__link">Mensuration (10th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xmaths/statisticsandprobability" class="dropdown-catagories__link">Statistics and Probability (10th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/xmaths/xmathscomplete" class="dropdown-catagories__link">X (10th) Maths Complete</a>
                  </li>

                  <li class="dropdown-catagories__item">
                    <a href="/ixmaths" class="dropdown-catagories__link">IX (9th) Maths</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ixmaths/numbersystems" class="dropdown-catagories__link">Number Systems (9th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ixmaths/algebra" class="dropdown-catagories__link">Algebra (9th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ixmaths/coordinategeometry" class="dropdown-catagories__link">Coordinate Geometry (9th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ixmaths/mensuration" class="dropdown-catagories__link">Mensuration (9th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ixmaths/statisticsandprobability" class="dropdown-catagories__link">Statistics and Probability (9th)</a>
                  </li>
                  <li class="dropdown-catagories__item">
                    <a href="/ixmaths/ixmathscomplete" class="dropdown-catagories__link">IX (9th) Maths Complete</a>
                  </li>

                  <li class="dropdown-catagories__item">
                    <a href="/careforcareer" class="dropdown-catagories__link">Care for Career</a>
                  </li>
                </ul>
              </div>
            </form>


            <div class="nav navbar-nav navbar-right nav-right nav-right--login">
              <!-- <button class="btn btn-default button-default nav-right__instructor" type="submit">Downloads</button> -->
              <a class="btn btn-default button-default nav-right__instructor" href="/downloads">Downloads</a>

              <!--
              <div class="nav-right__notifications"><a class="nav-right__item" href="http://swlabs.co/educef/html/index#"><i class="glyph-icon flaticon-commerce-1 nav-right__item__icon"></i><span class="nav-right__item__notification">02</span></a><a class="nav-right__item" href="http://swlabs.co/educef/html/index#"><i class="glyph-icon flaticon-bell nav-right__item__icon"></i><span class="nav-right__item__notification">02</span></a>
                <div class="nav-right__profile"><i class="glyph-icon flaticon-profile-2 nav-right__profile__icon"></i><span class="nav-right__profile__status"></span>
                  <div class="profile">
                    <div class="profile__avarta"><img class="profile__image" src="./30w.jpg" alt=""></div><a class="profile__user-name" href="http://swlabs.co/educef/html/index#">Alex Sander</a><a class="profile__course" href="http://swlabs.co/educef/html/index#"><i class="glyph-icon flaticon-profile profile__icon"></i><span class="profile__text">My profile</span></a><a class="profile__course" href="http://swlabs.co/educef/html/index#"><i class="glyph-icon flaticon-shield profile__icon"></i><span class="profile__text">My course</span></a><a class="btn btn-default button-default profile__btn" href="http://swlabs.co/educef/html/index#">Log out</a>
                  </div>
                </div>
              </div>
            -->
            </div>


            <!--
            <div class="nav navbar-nav navbar-right nav-right--notlogin">
              <div class="nav-right__notifications"><a class="nav-right__item" href="http://swlabs.co/educef/html/index#"><i class="glyph-icon flaticon-shapes nav-right__item__icon"></i><span class="nav-right__item__notification">02</span></a><a class="nav-right__item" href="http://swlabs.co/educef/html/index#"><i class="glyph-icon flaticon-commerce-1 nav-right__item__icon"></i><span class="nav-right__item__notification">02</span></a></div>
              <button class="btn btn-default button-default nav-right__become" type="submit">become an Instructor</button>
              <div class="nav-right__signin"><a class="nav-right__signin__link" href="http://swlabs.co/educef/html/index#" data-toggle="modal" data-target="#modal-signin" data-modal-target="#sign-in">Sign in</a><span>|</span><a class="nav-right__signin__link" href="http://swlabs.co/educef/html/index#" data-toggle="modal" data-target="#modal-signin" data-modal-target="#sign-up">sign up</a></div>
            </div>
          -->

          </nav>
        </div>
      </div>

      <div class="bottom-header hidden-sm hidden-xs affix-top" id="scrollspy" data-spy="affix" data-offset-top="112">
        <div class="container">
          <div class="logo--menu"><a class="logo__link" href="http://pymaths.com/"><img class="logo__image" src="/assets/img/logo_header.png" alt="PyMaths"></a></div>
          <nav class="menu-main">
                <ul class="nav navbar-nav menu-main__list ">
                  <li class="menu-main__item active"><a class="menu-main__link " href="/engineeringmaths"  id="elements">Engineering Maths</a>
                    <div class="dropdown-catagories dropdown-catagories--menu">
                      <ul class="dropdown-catagories__list">
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/realanalysis">Real Analysis</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/calculus">Calculus</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/vectoranalysis">Vector Analysis</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/complexanalysis">Complex Analysis</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/analyticgeometry">Analytic Geometry</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/linearalgebra">Linear Algebra</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/partialdifferentialequations">Partial Differential Equations</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/numericalmethods">Numerical Methods</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/linearprogramming">Linear Programming</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/algebra">Algebra</a>
                        </li>
                        <li class="dropdown-catagories__item"><a class="dropdown-catagories__link" href="/engineeringmaths/probabilityandstatistics">Probability and Statistics</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="menu-main__item"><a class="menu-main__link " href="/upscmaths"  id="elements">UPSC Maths</a>
                    <div class="dropdown-catagories dropdown-catagories--menu">
                      <ul class="dropdown-catagories__list">
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/upscmaths/syllabus" >Syllabus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/upscmaths/paperi" >Paper I</a>
                          <div class="cate-sub">
                            <ul class="cate-sub__list">
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/linearalgebra">Linear Algebra</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/calculus">Calculus</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/analyticgeometry">Analytic Geometry</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/ordinarydifferentialequations">Ordinary Differential Equations</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/dynamicsandstatics">Dynamics and Statics</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/vectoranalysis">Vector Analysis</a></li>
                            </ul>
                          </div>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/upscmaths/paperii" >Paper II</a>
                          <div class="cate-sub">
                            <ul class="cate-sub__list">
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/algebra">Algebra</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/realanalysis">Real Analysis</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/complexanalysis">Complex Analysis</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/linearprogramming">Linear Programming</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/partialdifferentialequations">Partial Differential Equations</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/numericalanalysisandcomputerprogramming">Numerical Analysis and Computer Programming</a></li>
                              <li class="cate-sub__item"><a class="cate-sub__link" href="/upscmaths/mechanicsandfluiddynamics">Mechanics and Fluid Dynamics</a></li>
                            </ul>
                          </div>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/upscmaths/previousyearpapers" >Previous Year Papers</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="menu-main__item"><a class="menu-main__link " href="/jeemaths"  id="elements">JEE Maths</a>
                    <div class="dropdown-catagories dropdown-catagories--menu">
                      <ul class="dropdown-catagories__list">
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/jeemaths/syllabus">Syllabus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/jeemaths/algebra">Algebra</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/jeemaths/trigonometry">Trigonometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/jeemaths/analyticalgeometry">Analytical Geometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/jeemaths/differentialcalculus">Differential Calculus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/jeemaths/integralcalculus">Integral Calculus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/jeemaths/vectors">Vectors</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/jeemaths/previousyearpapers">Previous Year Papers</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="menu-main__item"><a class="menu-main__link " href="/xiimaths"  id="elements">XII Maths</a>
                    <div class="dropdown-catagories dropdown-catagories--menu">
                      <ul class="dropdown-catagories__list">
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xiimaths/syllabus">Syllabus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xiimaths/relationsandfunctions">Relations and Functions</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xiimaths/algebra">Algebra</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xiimaths/calculus">Calculus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xiimaths/vectorsandthreedimensionalgeometry" >Vectors and Three - Dimensional Geometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xiimaths/linearprogramming">Linear Programming</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xiimaths/probability">Probability</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xiimaths/previousyearpapers">Previous Year Papers</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                   <li class="menu-main__item"><a class="menu-main__link " href="/ximaths"  id="elements">XI Maths</a>
                    <div class="dropdown-catagories dropdown-catagories--menu">
                      <ul class="dropdown-catagories__list">
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ximaths/syllabus">Syllabus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ximaths/setsandfunctions">Sets and Functions</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ximaths/algebra">Algebra</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ximaths/coordinategeometry">Coordinate Geometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ximaths/calculus">Calculus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ximaths/mathematicalreasoning">Mathematical Reasoning</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ximaths/statisticsandprobability">Statistics and Probability</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ximaths/previousyearpapers">Previous Year Papers</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="menu-main__item"><a class="menu-main__link " href="/xmaths"  id="elements">X Maths</a>
                    <div class="dropdown-catagories dropdown-catagories--menu">
                      <ul class="dropdown-catagories__list">
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/syllabus">Syllabus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/numbersystems">Number Systems</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/algebra">Algebra</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/coordinategeometry">Coordinate Geometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/geometry">Geometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/trigonometry">Trigonometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/mensuration">Mensuration</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/statisticsandprobability">Statistics and Probability</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/xmaths/previousyearpapers">Previous Year Papers</a>
                        </li>
                      </ul>
                    </div>
                  </li>

                 <li class="menu-main__item"><a class="menu-main__link " href="/ixmaths"  id="elements">IX Maths</a>
                    <div class="dropdown-catagories dropdown-catagories--menu">
                      <ul class="dropdown-catagories__list">
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ixmaths/syllabus">Syllabus</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ixmaths/numbersystems">Number Systems</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ixmaths/algebra">Algebra</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ixmaths/coordinategeometry">Coordinate Geometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ixmaths/geometry">Geometry</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ixmaths/mensuration">Mensuration</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ixmaths/statisticsandprobability">Statistics and Probability</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/ixmaths/previousyearpapers">Previous Year Papers</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                 <li class="menu-main__item"><a class="menu-main__link " href="/careforcareer"  id="elements">Care For Career</a>
                    <div class="dropdown-catagories dropdown-catagories--menu">
                      <ul class="dropdown-catagories__list">
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="https://www.facebook.com/groups/261170104727090/">Visit our Group</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/careforcareer/podcasts">Podcasts</a>
                        </li>
                        <li class="dropdown-catagories__item "><a class="dropdown-catagories__link" href="/careforcareer/blogs">Blogs</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
          </nav>
        </div>
      </div>


      <div class="header__mobile hidden-lg hidden-md">
        <div class="header-top">
          <div class="container">
            <!--
            <div class="nav-right--notlogin nav-right--notlogin--mobile pull-right">
              <div class="nav-right__notifications"><a class="nav-right__item" href="#"><i class="glyph-icon flaticon-shapes nav-right__item__icon"></i><span class="nav-right__item__notification">02</span></a><a class="nav-right__item" href="#"><i class="glyph-icon flaticon-commerce-1 nav-right__item__icon"></i><span class="nav-right__item__notification">02</span></a></div>
              <button class="form-search__button--mobile" type="submit" data-toggle="collapse" data-target="#form-search-mobile"><i class="glyph-icon flaticon-search form-search__icon"></i></button>
              <button class="button-default nav-right__become" type="submit">become an Instructor</button>
              <div class="nav-right__signin"><a class="nav-right__signin__link" href="#" data-toggle="modal" data-target="#modal-signin" data-modal-target="#sign-in">Sign in</a><span>|</span><a class="nav-right__signin__link" href="#" data-toggle="modal" data-target="#modal-signin" data-modal-target="#sign-up">sign up</a></div>
            </div>
            -->
            <form class="navbar-form form-search--mobile" id="form-search-mobile">
              <div class="container">
                <div class="form-search__input-group">
                  <input class="form-control form-search__input" type="text" placeholder="Search your course...">
                  <div class="form-search__btn-group">
                    <button class="btn form-search__button" type="submit"><i class="glyph-icon flaticon-search form-search__icon"></i></button>
                  </div>
                </div>
                <button class="dropdown-toggle form-search__button form-search__button--close" type="submit" data-toggle="collapse" data-target="#form-search-mobile"><i class="glyph-icon flaticon-access-denied form-search__icon"></i></button>
              </div>
            </form>
          </div>
        </div>

        <nav class="navbar" id="header-mobile" data-spy="affix" data-offset-top="75">
          <div class="container">
            <div class="categories--mobile pull-left"><a class="dropdown-toggle categories--mobile__buttonsm" id="menu-categories" data-toggle="collapse" data-target="#dropdown-categories"><i class="glyph-icon flaticon-signs-1 categories--mobile__icon"></i></a></div>
            <button class="navbar-toggle nav-icon pull-right collapsed visible-sm visible-xs" id="menu-hamberger" data-toggle="collapse" data-target="#menu-main"><span class="bar"></span></button>
            <div class="logo--mobile text-center"><a class="logo__link" href="/"><img class="logo__image" src="/assets/img/logo_header.png" alt="Logo PyMaths"></a></div>
          </div>
          <div class="menu-mobile">
                <ul class="menu-mobile__list ">
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/engineeringmaths">Engineering Maths</a><span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/realanalysis">Real Analysis</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/calculus">Calculus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/vectoranalysis">Vector Analysis</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/complexanalysis">Complex Analysis</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/analyticgeometry">Analytic Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/linearalgebra">Linear Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/ordinarydifferentialequations">Ordinary Differential Equations</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/ordinarydifferentialequations">Partial Differential Equations</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/numericalmethods">Numerical Methods</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/linearprogramming">Linear Programming</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/algebra">Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/engineeringmaths/probabilityandstatistics">Probability and Statistics</a></li>
                    </ul>
                  </li>
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/upscmaths">UPSC Maths</a><span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/syllabus">Syllabus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/linearalgebra">Linear Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/calculus">Calculus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/analyticgeometry">Analytic Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/ordinarydifferentialequations">Ordinary Differential Equations</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/dynamicsandstatics">Dynamics and Statics</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/vectoranalysis">Vector Analysis</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/algebra">Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/realanalysis">Real Analysis</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/complexanalysis">Complex Analysis</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/linearprogramming">Linear Programming</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/partialdifferentialequations">Partial Differential Equations</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/numericalanalysisandcomputerprogramming">Numerical Analysis and Computer Programming</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/mechanicsandfluiddynamics">Mechanics and Fluid Dynamics</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/upscmaths/previousyearpapers">Previous Year Papers</a></li>
                    </ul>
                  </li>
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/jeemaths">JEE Maths</a><span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/jeemaths/syllabus">Syllabus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/jeemaths/algebra">Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/jeemaths/trigonometry">Trigonometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/jeemaths/analyticalgeometry">Analytical Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/jeemaths/differentialcalculus">Differential Calculus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/jeemaths/integralcalculus">Integral Calculus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/jeemaths/vectors">Vectors</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/jeemaths/previousyearpapers">Previous Year Papers</a></li>
                    </ul>
                  </li>
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/xiimaths">XII Maths</a><span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xiimaths/syllabus">Syllabus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xiimaths/relationsandfunctions">Relations and Functions</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xiimaths/algebra">Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xiimaths/calculus">Calculus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xiimaths/vectorsandthreedimensionalgeometry">Vectors and Three-Dimensional Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xiimaths/linearprogramming">Linear Programming</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xiimaths/probability">Probability</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xiimaths/previousyearpapers">Previous Year Papers</a></li>
                    </ul>
                  </li>
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/ximaths">XI Maths</a><span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ximaths/syllabus">Syllabus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ximaths/setsandfunctions">Sets and Functions</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ximaths/algebra">Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ximaths/coordinategeometry">Coordinate Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ximaths/calculus">Calculus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ximaths/mathematicalreasoning">Mathematical Reasoning</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ximaths/statisticsandprobability">Statistics and Probability</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ximaths/previousyearpapers">Previous Year Papers</a></li>
                    </ul>
                  </li>
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/xmaths">X Maths</a><span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/syllabus">Syllabus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/numbersystems">Number Systems</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/algebra">Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/coordinategeometry">Coordinate Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/geometry">Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/trigonometry">Trigonometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/mensuration">Mensuration</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/statisticsandprobability">Statistics and Probability</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/xmaths/previousyearpapers">Previous Year Papers</a></li>
                    </ul>
                  </li>
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/ixmaths">IX Maths</a><span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ixmaths/syllabus">Syllabus</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ixmaths/numbersystems">Number Systems</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ixmaths/algebra">Algebra</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ixmaths/coordinategeometry">Coordinate Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ixmaths/geometry">Geometry</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ixmaths/mensuration">Mensuration</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ixmaths/statisticsandprobability">Statistics and Probability</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/ixmaths/previousyearpapers">Previous Year Papers</a></li>
                    </ul>
                  </li>
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="c/areforcareer">Care for Career</a><span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="https://www.facebook.com/groups/261170104727090/">Visit our Group</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/careforcareer/podcasts">Podcasts</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="/careforcareer/blogs">Blogs</a></li>
                    </ul>
                  </li>
                </ul>
          </div>
          <div class="menu-mobile-dropdown menu-mobile--categories">
                <ul class="menu-mobile__list ">

                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/gatemaths">GATE Maths</a>
                    <!--
                    <span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="#">Design Thinking</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="#">Fashion</a></li>
                    </ul>
                  -->
                  </li>
                  <li class="menu-mobile__item"><a class="menu-mobile__link" href="/catquant">CAT Quant</a>
                    <!--
                    <span class="dropdown-toggle glyph-icon flaticon-arrows-3 menu-mobile__icon" data-toggle="dropdown" onClick="void(0)"></span>
                    <ul class="dropdown-menu dropdown-mobile">
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="#">Databases</a></li>
                      <li class="dropdown-mobile__item "><a class="dropdown-mobile__link" href="#">Mobie Apps</a></li>
                    </ul>
                  -->
                  </li>
                </ul>
          </div>
        </nav>
      </div>
      <div class="button-default btn-ontop" id="on-top"><span class="glyph-icon flaticon-arrows-5"></span></div>
    </header>
