	<script src="/assets/lib/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/lib/js/bootstrap.min.js"></script>
    <script src="/assets/lib/slick/slick.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/jquery-matchHeight.js"></script>
    <script src="/assets/js/slicks.js"></script>
    <script src="/assets/js/home.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/custom.js"></script>
    <div class="positionfixed"></div>
  </body>