
{{> admin/_head}}

{{> _msg}}

<div class="container body">
 	<div class="main_container">
 		{{> admin/_sidebar}}
 		{{> admin/_header}}
	{{{body}}}
		{{> admin/_footer}}
	</div>
</div>

{{> admin/_scripts}}