<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths">UPSC Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths/complexanalysis">Complex Analysis</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/upscmaths/complexanalysis/analysisoffunctions">Analysis of Functions</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Analytic Functions
                                </li>
                                <li class="list-catagories__item">
                                  2. Power Series Representation of an Analytic Function
                                </li>
                                <li class="list-catagories__item">
                                  3. Cauchy's Residue Theorem and Contour Integration
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Analytic Functions<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "analyticfunctions/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="analyticfunctions/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "analyticfunctions/cauchyriemannequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="analyticfunctions/cauchyriemannequations">Lesson 2: Cauchy-Riemann Equations</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "analyticfunctions/cauchystheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="analyticfunctions/cauchystheorem">Lesson 3: Cauchy's Theorem</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "analyticfunctions/cauchysintegralformulae"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="analyticfunctions/cauchysintegralformulae">Lesson 4: Cauchy's Integral formulae</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "analyticfunctions/quiz1analyticfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="analyticfunctions/quiz1analyticfunctions">Quiz 1: Analytic Functions</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Power Series Representation of an Analytic Function<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                              <a class="list-brief__item__kind" href= "powerseriesrepresentationofananalyticfunction/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="powerseriesrepresentationofananalyticfunction/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "powerseriesrepresentationofananalyticfunction/singularities"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="powerseriesrepresentationofananalyticfunction/singularities">Lesson 2: Singularities</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "powerseriesrepresentationofananalyticfunction/taylorsseries"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="powerseriesrepresentationofananalyticfunction/taylorsseries">Lesson 3: Taylor's Series</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "powerseriesrepresentationofananalyticfunction/laurentsseries"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="powerseriesrepresentationofananalyticfunction/laurentsseries">Lesson 4: Laurent's Series</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "powerseriesrepresentationofananalyticfunction/quiz2powerseriesrepresentationofananalyticfunction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="powerseriesrepresentationofananalyticfunction/quiz2powerseriesrepresentationofananalyticfunction">Quiz 2: Power Series Representation of an Analytic Function</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Cauchy's Residue Theorem and Contour Integration<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                              <a class="list-brief__item__kind" href= "cauchysresiduetheoremandcontourintegration/cauchysresiduetheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="cauchysresiduetheoremandcontourintegration/cauchysresiduetheorem">Lesson 1: Cauchy's Residue Theorem</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "cauchysresiduetheoremandcontourintegration/contourintegration"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="cauchysresiduetheoremandcontourintegration/contourintegration">Lesson 2: Contour Integration</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "cauchysresiduetheoremandcontourintegration/quiz3cauchysresiduetheoremandcontourintegration"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="cauchysresiduetheoremandcontourintegration/quiz3cauchysresiduetheoremandcontourintegration">Quiz 3: Cauchy's Residue Theorem and Contour Integration</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h2>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
                <div class="special courses__list">
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearalgebra">Linear Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearalgebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearalgebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearalgebra">Linear Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearalgebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearalgebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/calculus">Calculus</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/calculus"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/calculus"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/analyticgeometry">Analytic Geometry</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/analyticgeometry"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/analyticgeometry"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/ordinarydifferentialequations"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/ordinarydifferentialequations"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/dynamicsandstatics">Dynamics and Statics</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/dynamicsandstatics"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/dynamicsandstatics"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/vectoranalysis">Vector Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/vectoranalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/vectoranalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/algebra">Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/algebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/algebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/realanalysis">Real Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/realanalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/realanalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/complexanalysis">Complex Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/complexanalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/complexanalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearprogramming">Linear Programming</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearprogramming"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearprogramming"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/numericalanalysisandcomputerprogramming">Numerical Analysis and Computer Programming</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/numericalanalysisandcomputerprogramming"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/numericalanalysisandcomputerprogramming"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/mechanicsandfluiddynamics">Mechanics and Fluid Dynamics</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/mechanicsandfluiddynamics"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/mechanicsandfluiddynamics"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
</div>
