<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/xmaths">X Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/xmaths/trigonometry">Trigonometry</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/xmaths/trigonometry/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Introduction to Trigonometry
                                </li>
                                <li class="list-catagories__item">
                                  2. Trigonometric Identities
                                </li>
                                <li class="list-catagories__item">
                                  3. Heights and Distances
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Introduction to Trigonometry<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "introductiontotrigonometry/trigonometricratiosofanacuteangleofarightangledtriangle"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontotrigonometry/trigonometricratiosofanacuteangleofarightangledtriangle">Lesson 1: Trigonometric Ratios of an Acute Angle of a Right-Angled Triangle</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "introductiontotrigonometry/ratiosandassociatedproofs"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontotrigonometry/ratiosandassociatedproofs">Lesson 2: Ratios and Associated Proofs</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "introductiontotrigonometry/relationshipsbetweentheratios"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontotrigonometry/relationshipsbetweentheratios">Lesson 3: Relationships between the Ratios</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "introductiontotrigonometry/somereallifeproblemsandapplications"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontotrigonometry/somereallifeproblemsandapplications">Lesson 4: Some Real Life Problems and Applications</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "introductiontotrigonometry/quiz1introductiontotrigonometry"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontotrigonometry/quiz1introductiontotrigonometry">Quiz 1: Introduction to Trigonometry</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Trigonometric Identities<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <a class="list-brief__item__kind" href= "trigonometricidentities/theequationsin^(2x)+cos^(2x)=1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="trigonometricidentities/theequationsin^(2x)+cos^(2x)=1">Lesson 1: The equation sin^(2x)+cos^(2x) = 1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricidentities/somesimpleidentities"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="trigonometricidentities/somesimpleidentities">Lesson 2: Some simple Indentities</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricidentities/trigonometricratiosofcomplimentaryangles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="trigonometricidentities/trigonometricratiosofcomplimentaryangles">Lesson 3: Trigonometric Ratios of Complimentary Angles</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricidentities/somereallifeproblemsandapplications"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="trigonometricidentities/somereallifeproblemsandapplications">Lesson 4: Some Real Life Problems and Applications</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricidentities/quiz2trigonometricidentities"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="trigonometricidentities/quiz2trigonometricidentities">Quiz 2: Trigonometric Identities</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Heights and Distances<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <a class="list-brief__item__kind" href= "heightsanddistances/angleofelevation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="heightsanddistances/angleofelevation">Lesson 1: Angle of Elevation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "heightsanddistances/angleofdepression"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="heightsanddistances/angleofdepression">Lesson 2: Angle of Depression</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "heightsanddistances/somereallifeproblemsandapplications"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="heightsanddistances/somereallifeproblemsandapplications">Lesson 3: Some Real Life Problems and Applications</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "heightsanddistances/quiz3heightsanddistances"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="heightsanddistances/quiz3heightsanddistances">Quiz 3: Heights and Distances</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Number Systems">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xmaths/numbersystems">Number Systems</a>
                    <a class="design-sprint__contents__link" href="/xmaths/numbersystems">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xmaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/xmaths/algebra">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Coordinate Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xmaths/coordinategeometry">Coordinate Geometry</a>
                    <a class="design-sprint__contents__link" href="/xmaths/coordinategeometry">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xmaths/trigonometry">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="/xmaths/trigonometry">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Mensuration">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xmaths/mensuration">Mensuration</a>
                    <a class="design-sprint__contents__link" href="/xmaths/mensuration">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Statistics and Probability">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xmaths/statisticsandprobability">Statistics and Probability</a>
                    <a class="design-sprint__contents__link" href="/xmaths/statisticsandprobability">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Previous Year Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xmaths/previousyearpapers">Previous Year Papers</a>
                    <a class="design-sprint__contents__link" href="/xmaths/previousyearpapers">Start</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
