<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths">JEE Maths</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link" href="/jeemaths/previousyearpapers">Previous Year Papers</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/previousyearpapers/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Functions
                                </li>
                                <li class="list-catagories__item">
                                  2. Limits & Derivatives
                                </li>
                                <li class="list-catagories__item">
                                  3. Continuity & Differentiality
                                </li>
                                <li class="list-catagories__item">
                                  4. Application of Derivatives
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">1. Functions<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Types of Relations and Functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Real-valued functions of a Real variable, Into, Onto and One-to-One functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Sum, Difference, Product, and Quotient of two functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Composite Functions, Absolute value, Polynomial, Rational, Trigonometric, Exponential and Logarithmic Functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Even and Odd functions and Inverse of a function<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Continuity of Composite functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Quiz 1: Functions<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">2. Limits and Derivatives<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Limits<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Limits of Trignometric Functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Intuitive idea of Derivatives<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Derivatives<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Quiz 2: Limits and Derivatives<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">3. Continuity and Differentiability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Continuity<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Differentiability<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Exponential and Logarithmic Functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Logarithmic Differentiation<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Derivatives of Functions in Parametric Forms<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Second Order Dervatives<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson L’Hospital Rule of evaluation of Limits of functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Quiz 3: Continuity and Differentiability<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">4. Application of Derivatives<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Rate of Change of Derivatives<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Chain Rule, Derivatives of Polynomial, Rational, Trigonometric, Inverse Trigonometric, Exponential and Logarithmic functions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Derivatives of Implicit functions, Derivatives up to Order two, Geometrical Interpretation of the Derivative<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Tangents and Normals, Increasing and Decreasing functions, Maximum and Minimum values of a function<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Rolle’s Theorem and Lagrange’s Mean Value Theorem<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson Approximations<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Quiz 4: Application of Derivatives<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>

    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/trigonometry">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/trigonometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/analyticalgeometry">Analytical Geometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/analyticalgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/differentialcalculus">Differential Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/differentialcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/integralcalculus">Integral Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/integralcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/jeemathscomplete">JEE Maths Complete</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/jeemathscomplete">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/previousyearpapers">Previous Years Papers</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/previousyearpapers">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

</div>
