<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths">JEE Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/previousyearpapers">Previous Year Papers</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/previousyearpapers/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Complex Numbers
                                </li>
                                <li class="list-catagories__item">
                                  2. Theory of Equations
                                </li>
                                <li class="list-catagories__item">
                                  3. Sequences and Series
                                </li>
                                <li class="list-catagories__item">
                                  4. Permutations and Combinations
                                </li>
                                <li class="list-catagories__item">
                                  5. Binomial Theorem
                                </li>
                                <li class="list-catagories__item">
                                  6. Probability
                                </li>
                                <li class="list-catagories__item">
                                  7. Matrices and Detrminants
                                </li>
                                <li class="list-catagories__item">
                                  8. Functions
                                </li>
                                <li class="list-catagories__item">
                                  9. Limit, Continuity and Differentiability
                                </li>
                                <li class="list-catagories__item">
                                  10. Application of Derivatives
                                </li>
                                <li class="list-catagories__item">
                                  11. Indefinite Integration
                                </li>
                                <li class="list-catagories__item">
                                  12. Definite Integration
                                </li>
                                <li class="list-catagories__item">
                                  13. Area
                                </li>
                                <li class="list-catagories__item">
                                  14. Differential Equations
                                </li>
                                <li class="list-catagories__item">
                                  15. Straight Line and Pair of Straight Lines
                                </li>
                                <li class="list-catagories__item">
                                  16. Circle
                                </li>
                                <li class="list-catagories__item">
                                  17. Parabola
                                </li>
                                <li class="list-catagories__item">
                                  18. Ellipse
                                </li>
                                <li class="list-catagories__item">
                                  19. Hyperbola
                                </li>
                                <li class="list-catagories__item">
                                  20. Trigonometric Ratios and Identities
                                </li>
                                <li class="list-catagories__item">
                                  21. Trigonometric Equations
                                </li>
                                <li class="list-catagories__item">
                                  22. Inverse Circular Functions
                                </li>
                                <li class="list-catagories__item">
                                  23. Properties of Triangles
                                </li>
                                <li class="list-catagories__item">
                                  24. Vectors
                                </li>
                                <li class="list-catagories__item">
                                  25. 3D Geometry
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson1" aria-expanded="false">Chapter 1: Complex Numbers<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson1">
                                <a class="list-brief__item__kind" href= "complexnumbers/complexnumberiniotaform"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Complex Number in Iota Form</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/conjugateandmodulusofacomplexnumber"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Conjugate and Modulus of a Complex Number</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/argumentofacomplexnumber"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Argument of a Complex Number</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/rotationofacomplexnumber"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Rotation of a Complex Number</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/demoivrestheoermcuberootsandnthrootsofunity"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: De-Moivre's Theoerm, Cube Roots and nth Roots of Unity</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson2" aria-expanded="false">Chapter 2: Theory of Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson2">
                                <a class="list-brief__item__kind" href= "theoryofequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Quadratic Equations</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "theoryofequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Common Roots</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "theoryofequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Transformation of Roots</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "theoryofequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Graph of Quadratic Expression</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "theoryofequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Some Special Forms</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson3" aria-expanded="false">Chapter 3: Sequences and Series<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson3">
                                <a class="list-brief__item__kind" href= "sequencesandseries/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Arithmetic Progression (AP)</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Sum of n terms of an AP</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Geometric Progression (GP)</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Sum of Infinite Terms and n terms of a GP</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Harmonic Progression (HP)</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: Relationship between AM, GM, HM and Some Special Series</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson4" aria-expanded="false">Chapter 4: Permutations and Combinations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson4">
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: General Arrangement</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Properties of Combinational and General Selections</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Multinomial, Repeated Arrangement and Selection</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Distribution of Object into Group</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Dearrangement and Number of Divisors</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson5" aria-expanded="false">Chapter 5: Binomial Theorem<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson5">
                                <a class="list-brief__item__kind" href= "binomialtheorem/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Binomial Expansion and General Term</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "binomialtheorem/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Properties of Binomial Coefficient</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson6" aria-expanded="false">Chapter 6: Probability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson6">
                                <a class="list-brief__item__kind" href= "probability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Classical Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Addition and Subtraction Law of Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Indepedent and Conditional Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Law of Total Probability and Bayes' Theorem</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Probability Distribution and Binomial Distribution</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson7" aria-expanded="false">Chapter 7: Matrices and Determinants<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson7">
                                <a class="list-brief__item__kind" href= "matricesanddeterminants/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Types of Matrices, Addition, Subtraction and Transpose of a Matrix</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matricesanddeterminants/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Product of Matrices</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matricesanddeterminants/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Properties of Determinants</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matricesanddeterminants/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Adjoint and Inverse of a Matrix</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matricesanddeterminants/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Solving System of Equations</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson8" aria-expanded="false">Chapter 8: Functions<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson8">
                                <a class="list-brief__item__kind" href= "functions/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Classification of Functions, Domain and Range</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functions/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Composite of Functions and Even, Odd Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functions/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Types of Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functions/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Inverse and Periodic Functions</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson9" aria-expanded="false">Chapter 9: Limit, Continuity and Differentiability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson9">
                                <a class="list-brief__item__kind" href= "limitcontinuityanddifferentiability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: 0/0 and infinity/infinity Form</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitcontinuityanddifferentiability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: 1^infinity Form, RHL and LHL</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitcontinuityanddifferentiability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Squeeze, Newton-Leibnitz's Theorem</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitcontinuityanddifferentiability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Continuity at a Point</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitcontinuityanddifferentiability/limitcontinuityanddifferentiability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Continuity in a Domain</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitcontinuityanddifferentiability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: Continuity for Composition and Function</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitcontinuityanddifferentiability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: Differentiability at a Point</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitcontinuityanddifferentiability/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: Differentiation</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson10" aria-expanded="false">Chapter 10: Application of Derivatives<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson10">
                                <a class="list-brief__item__kind" href= "applicationofderivatives/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Equations of Tangent and Normal</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Increasing and Decreasing Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Rolle's Theorem and Lagrange's Theorem</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Maxima and Minima</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson11" aria-expanded="false">Chapter 11: Indefinite Integration<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson11">
                                <a class="list-brief__item__kind" href= "indefiniteintegration/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Some Standard Results</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "indefiniteintegration/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Some Special Integrals</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "indefiniteintegration/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Integration by Parts</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "indefiniteintegration/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Integration, Irrational Function and Partial Fraction</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson12" aria-expanded="false">Chapter 12: Definite Integration<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson12">
                                <a class="list-brief__item__kind" href= "definiteintegration/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Properties of Definite Integral</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "definiteintegration/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Periodicity of Integral Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "definiteintegration/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Estimation, Gamma Function and Derivative of Definite Integration</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "definiteintegration/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Limits as the Sum</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson13" aria-expanded="false">Chapter 13: Area<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson13">
                                <a class="list-brief__item__kind" href= "area/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Area based on Geometrical Figures without using Integration</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "area/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Area using Integration</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson14" aria-expanded="false">Chapter 14: Differential Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson14">
                                <a class="list-brief__item__kind" href= "differentialequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Solution of Differential Equations by Variable Separable Method</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Linear Differential Equation and Exact Differential Equation</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Applications of Homogeneous Differential Equations</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson15" aria-expanded="false">Chapter 15: Straight Line and Pair of Straight Lines<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson15">
                                <a class="list-brief__item__kind" href= "straightlineandpairofstraightlines/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Various Forms of Straight Line</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "straightlineandpairofstraightlines/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Angle between Straight Lines and Equation of Angle Bisector</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "straightlineandpairofstraightlines/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Area and Family of Concurrent Lines</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "straightlineandpairofstraightlines/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Homogeneous Equation of Pair of Straight Lines</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "straightlineandpairofstraightlines/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: General Equation of Pair of Straight Lines</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson16" aria-expanded="false">Chapter 16: Circle<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson16">
                                <a class="list-brief__item__kind" href= "circle/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Equation of Circle</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circle/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Relation between Two Circles</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circle/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Equation of Tangent, Normal and Length of Tangents</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circle/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Radical Axis and Family of Circle</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circle/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Equation of Chord Bisected at a Point, Product of Pair of Tangents</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circle/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: Chord of Contact of Tangents, Pole and Equation of Polar</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson17" aria-expanded="false">Chapter 17: Parabola<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson17">
                                <a class="list-brief__item__kind" href= "parabola/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Equation of Parabola and Focal Chord</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "parabola/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Equation of Tangents and Properties</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "parabola/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Equation of Normal and Properties</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "parabola/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Diameter, Chord of Contact, Chord Bisected and Product of Pair of Tangents</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson18" aria-expanded="false">Chapter 18: Ellipse<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson18">
                                <a class="list-brief__item__kind" href= "ellipse/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Equation of Ellipse and Focal Chord</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "ellipse/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Equation of Tangent and Normal</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "ellipse/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Equation of Chord of Contact, Chord Bisected at a given Point and Diameter</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson19" aria-expanded="false">Chapter 19: Hyperbola<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson19">
                                <a class="list-brief__item__kind" href= "hyperbola/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Equation of Hyperbola and Focal Chord</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "hyperbola/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Equation of Tangent and Normal</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "hyperbola/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Equation of Chord of Contact, Chord Bisected Diameter, Asymptote and Rectangular Hyperbola</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson20" aria-expanded="false">Chapter 20: Trigonometric Ratios and Identities<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson20">
                                <a class="list-brief__item__kind" href= "trigonometricratiosandidentities/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Trigonometric Formulae</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricratiosandidentities/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Graph and Conditoinal Identities</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricratiosandidentities/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Maxima and Minima</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricratiosandidentities/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Height and Distance</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson21" aria-expanded="false">Chapter 21: Trigonometric Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson21">
                                <a class="list-brief__item__kind" href= "trigonometricequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: General Solution</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Solving Equations with Graph</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometricequations/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Problems Based on Maximum and Minimum</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson22" aria-expanded="false">Chapter 22: Inverse Circular Functions<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson22">
                                <a class="list-brief__item__kind" href= "inversecircularfunctions/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Domain and Range</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "inversecircularfunctions/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Properties of Inverse Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "inversecircularfunctions/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Sum and Difference Formulae</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson23" aria-expanded="false">Chapter 23: Properties of Triangles<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson23">
                                <a class="list-brief__item__kind" href= "propertiesoftriangles/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Applications of Sine, Cosine, Projection and Half Angle Formulae</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "propertiesoftriangles/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Applications of Area, Napier's Analogy and Solution of a Triangle</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "propertiesoftriangles/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Circumcircle, Incircle, Escribed, Orthocentre and Centroid of a Triangle</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson24" aria-expanded="false">Chapter 24: Vectors<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson24">
                                <a class="list-brief__item__kind" href= "vectors/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Scalar Product of Two Vectors</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "vectors/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Vector Product of Two Vectors</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "vectors/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Scalar Triple Product/Dot Product/Mixed Product</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "vectors/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Vector Triple Product</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "vectors/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Solving Equations and Reciprocal of Vectors</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson25" aria-expanded="false">Chapter 25: 3D Geometry<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson25">
                                <a class="list-brief__item__kind" href= "3dgeometry/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Direction Cosines and Direction Ratios of a Line</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "3dgeometry/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Straight Line in Space and Shortest Distance</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "3dgeometry/"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Equation of a Plane</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>

    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/trigonometry">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/trigonometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/analyticalgeometry">Analytical Geometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/analyticalgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/differentialcalculus">Differential Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/differentialcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/integralcalculus">Integral Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/integralcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/jeemathscomplete">JEE Maths Complete</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/jeemathscomplete">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/previousyearpapers">Previous Years Papers</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/previousyearpapers">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

</div>
