<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths">JEE Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/previousyearpapers">Previous Year Papers</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/previousyearpapers/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Complex Numbers
                                </li>
                                <li class="list-catagories__item">
                                  2. Theory of Equations
                                </li>
                                <li class="list-catagories__item">
                                  3. Sequences and Series
                                </li>
                                <li class="list-catagories__item">
                                  4. Permutations and Combinations
                                </li>
                                <li class="list-catagories__item">
                                  5. Binomial Theorem
                                </li>
                                <li class="list-catagories__item">
                                  6. Probability
                                </li>
                                <li class="list-catagories__item">
                                  7. Matrices and Detrminants
                                </li>
                                <li class="list-catagories__item">
                                  8. Functions
                                </li>
                                <li class="list-catagories__item">
                                  9. Limit, Continuity and Differentiability
                                </li>
                                <li class="list-catagories__item">
                                  10. Application of Derivatives
                                </li>
                                <li class="list-catagories__item">
                                  11. Indefinite Integration
                                </li>
                                <li class="list-catagories__item">
                                  12. Definite Integration
                                </li>
                                <li class="list-catagories__item">
                                  13. Area
                                </li>
                                <li class="list-catagories__item">
                                  14. Differential Equations
                                </li>
                                <li class="list-catagories__item">
                                  15. Straight Line and Pair of Straight Lines
                                </li>
                                <li class="list-catagories__item">
                                  16. Circle
                                </li>
                                <li class="list-catagories__item">
                                  17. Parabola
                                </li>
                                <li class="list-catagories__item">
                                  18. Ellipse
                                </li>
                                <li class="list-catagories__item">
                                  19. Hyperbola
                                </li>
                                <li class="list-catagories__item">
                                  20. Trigonometric Ratios and Identities
                                </li>
                                <li class="list-catagories__item">
                                  21. Trigonometric Equations
                                </li>
                                <li class="list-catagories__item">
                                  22. Inverse Circular Functions
                                </li>
                                <li class="list-catagories__item">
                                  23. Properties of Triangles
                                </li>
                                <li class="list-catagories__item">
                                  24. Vectors
                                </li>
                                <li class="list-catagories__item">
                                  25. 3D Geometry
                                </li>
                                <li class="list-catagories__item">
                                  26. Miscellaneous
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson1" aria-expanded="false">Chapter 1: Complex Numbers<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson1">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Complex Number in Iota Form</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Conjugate and Modulus of a Complex Number</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Argument of a Complex Number</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Rotation of a Complex Number</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: De-Moivre's Theoerm, Cube Roots and nth Roots of Unity</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 1: Complex Numbers</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson2" aria-expanded="false">Chapter 2: Theory of Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson2">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Quadratic Equations</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Common Roots</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Transformation of Roots</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Graph of Quadratic Expression</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Some Special Forms</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 2: Theory of Equations</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson3" aria-expanded="false">Chapter 3: Sequences and Series<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson3">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Arithmetic Progression (AP)</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Sum of n terms of an AP</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Geometric Progression (GP)</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Sum of Infinite Terms and n terms of a GP</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Harmonic Progression (HP)</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: Relationship between AM, GM, HM and Some Special Series</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 3: Sequences and Series</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson4" aria-expanded="false">Chapter 4: Permutations and Combinations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson4">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: General Arrangement</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Properties of Combinational and General Selections</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Multinomial, Repeated Arrangement and Selection</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Distribution of Object into Group</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Dearrangement and Number of Divisors</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 4: Permutations and Combinations</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson5" aria-expanded="false">Chapter 5: Binomial Theorem<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson5">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Binomial Expansion and General Term</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Properties of Binomial Coefficient</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 5: Binomial Theorem</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson6" aria-expanded="false">Chapter 6: Probability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson6">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: Classical Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: Addition and Subtraction Law of Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: Indepedent and Conditional Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: Law of Total Probability and Bayes' Theorem</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: Probability Distribution and Binomial Distribution</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 6: Probability</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson7" aria-expanded="false">Chapter 7: Matrices and Determinants<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson7">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 7: Matrices and Determinants</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson8" aria-expanded="false">Chapter 8: Functions<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson8">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 8: Functions</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson9" aria-expanded="false">Chapter 9: Limit, Continuity and Differentiability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson9">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 9: Limit, Continuity and Differentiability</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson10" aria-expanded="false">Chapter 10: Application of Derivatives<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson10">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 10: Application of Derivatives</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson11" aria-expanded="false">Chapter 11: Indefinite Integration<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson11">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 11: Indefinite Integration</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson12" aria-expanded="false">Chapter 12: Definite Integration<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson12">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 12: Definite Integration</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson13" aria-expanded="false">Chapter 13: Area<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson13">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 13: Area</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson14" aria-expanded="false">Chapter 14: Differential Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson14">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 14: Differential Equations</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson15" aria-expanded="false">Chapter 15: Straight Line and Pair of Straight Lines<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson15">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 15: Straight Line and Pair of Straight Lines</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson16" aria-expanded="false">Chapter 16: Circle<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson16">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 16: Circle</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson17" aria-expanded="false">Chapter 17: Parabola<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson17">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 17: Parabola</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson18" aria-expanded="false">Chapter 18: Ellipse<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson18">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 18: Ellipse</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson19" aria-expanded="false">Chapter 19: Hyperbola<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson19">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 19: Hyperbola</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson20" aria-expanded="false">Chapter 20: Trigonometric Ratios and Identities<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson20">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 20: Trigonometric Ratios and Identities</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson21" aria-expanded="false">Chapter 21: Trigonometric Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson21">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 21: Trigonometric Equations</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson22" aria-expanded="false">Chapter 22: Inverse Circular Functions<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson22">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 22: Inverse Circular Functions</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson23" aria-expanded="false">Chapter 23: Properties of Triangles<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson23">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 23: Properties of Triangles</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson24" aria-expanded="false">Chapter 24: Vectors<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson24">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 24: Vectors</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson25" aria-expanded="false">Chapter 25: 3D Geometry<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson25">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 25: 3D Geometry</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#Lesson26" aria-expanded="false">Chapter 26: Miscellaneous<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="Lesson26">
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 1: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 2: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 3: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 4: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 5: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 6: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 7: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Lesson 8: </a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= ""><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "">Quiz 26: Miscellaneous</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>

    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/trigonometry">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/trigonometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/analyticalgeometry">Analytical Geometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/analyticalgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/differentialcalculus">Differential Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/differentialcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/integralcalculus">Integral Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/integralcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/jeemathscomplete">JEE Maths Complete</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/jeemathscomplete">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/previousyearpapers">Previous Years Papers</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/previousyearpapers">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

</div>
