<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths">JEE Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/previousyearpapers">Previous Year Papers</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/previousyearpapers/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Algebra
                                </li>
                                <li class="list-catagories__item">
                                  2. Trigonometry
                                </li>
                                <li class="list-catagories__item">
                                  3. Analytical Geometry
                                </li>
                                <li class="list-catagories__item">
                                  4. Differential Calculus
                                </li>
                                <li class="list-catagories__item">
                                  5. Integral Calculus
                                </li>
                                <li class="list-catagories__item">
                                  6. Vectors
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Unit 1. Algebra<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "algebra/complexnumbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "algebra/complexnumbers">Chapter 1: Complex Numbers</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "algebra/quadraticequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "algebra/quadraticequations">Chapter 2: Quadratic Equations</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "algebra/sequenceandseries"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Chapter 3: Sequence and Series</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "algebra/binomialtheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "algebra/sequenceandseries">Chapter 4: Binomial Theorem</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "algebra/permutationsandcombinations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "algebra/permutationsandcombinations">Chapter 5: Permutations and Combinations</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "algebra/matrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "algebra/matrices">Chapter 6: Matrices</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "algebra/determinants"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "algebra/determinants">Chapter 7: Determinants</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "algebra/probability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "algebra/probability">Chapter 8: Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "algebra/quiz1algebra"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "algebra/quiz1algebra">Quiz 1: Algebra</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Unit 2. Trigonometry<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <a class="list-brief__item__kind" href= "trigonometry/trigonometricfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "trigonometry/trigonometricfunctions">Chapter 1: Trigonometric Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometry/inversetrigonometricfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "trigonometry/inversetrigonometricfunctions">Chapter 2: Inverse Trigonometric Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "trigonometry/quiz2trigonometry"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "trigonometry/quiz2trigonometry">Quiz 2: Trigonometry</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Unit 3. Analytical Geometry<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <a class="list-brief__item__kind" href= "analyticalgeometry/straightlines"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "analyticalgeometry/straightlines">Chapter 1: Straight Lines</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "analyticalgeometry/circles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "analyticalgeometry/circles">Chapter 2: Circles</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "analyticalgeometry/conicsections"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "analyticalgeometry/conicsections">Chapter 3: Conic Sections</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "analyticalgeometry/threedimensionalgeometry"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "analyticalgeometry/threedimensionalgeometry">Chapter 4: Three-Dimensional Geometry</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "analyticalgeometry/quiz3analyticalgeometry"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "analyticalgeometry/quiz3analyticalgeometry">Quiz 3: Analytical Geometry</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Unit 4. Differential Calculus<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse in" id="chapter4">
                                <a class="list-brief__item__kind" href= "differentialcalculus/functions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "differentialcalculus/functions">Chapter 1: Functions</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialcalculus/limitsandderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "differentialcalculus/limitsandderivatives">Chapter 2: Limits and Derivatives</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialcalculus/continuityanddifferentiability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "differentialcalculus/continuityanddifferentiability">Chapter 3: Continuity and Differentiability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialcalculus/applicationofderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "differentialcalculus/applicationofderivatives">Chapter 4: Application of Derivatives</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialcalculus/quiz4differentialcalculus"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "differentialcalculus/quiz4differentialcalculus">Quiz 4: Differential Calculus</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Unit 5. Integral Calculus<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter5">
                                <a class="list-brief__item__kind" href= "integralcalculus/integration"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "integralcalculus/integration">Chapter 1: Integration</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integralcalculus/applicationofintegrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "integralcalculus/applicationofintegrals">Chapter 2: Application of Integrals</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integralcalculus/differentialequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "integralcalculus/differentialequations">Chapter 3: Differential Equations</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integralcalculus/quiz5integralcalculus"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "integralcalculus/quiz5integralcalculus">Quiz 5: Integral Calculus</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter6" aria-expanded="false">Unit 6. Vectors<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter6">
                                <a class="list-brief__item__kind" href= "vectors/vectoralgebra"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "vectors/vectoralgebra">Chapter 1: Vector Algebra</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "vectors/quiz6vectors"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "vectors/quiz6vectors">Quiz 6: Vectors</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>

    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/trigonometry">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/trigonometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/analyticalgeometry">Analytical Geometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/analyticalgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/differentialcalculus">Differential Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/differentialcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/integralcalculus">Integral Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/integralcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/jeemathscomplete">JEE Maths Complete</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/jeemathscomplete">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/previousyearpapers">Previous Years Papers</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/previousyearpapers">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

</div>
