


    <div class="modal fade signin-form" id="modal-signin" role="dialog">
      <div class="modal-dialog signin-form__dialog">
        <div class="signin-form__button-close hidden-lg hidden-md hidden-sm">
          <button class="close signin-form__button-close__btn" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="signin-form__header"><a class="signin-form__header__logo" href="#"><img src="/assets/img/logo/Logo-form.png" alt=""></a>
          <p class="signin-form__sub">Universal access to the world’s best education.</p>
        </div>
        <div class="modal-content signin-form__content">
          <div class="modal-body signin-form__body">
            <ul class="signin-form__tabs">
              <li class="active signin-form__tabs__items"><a class="signin-form__tabs__link" data-toggle="tab" href="#sign-in">Sign In</a></li>
              <li class="signin-form__tabs__items"><a class="signin-form__tabs__link" data-toggle="tab" href="#sign-up">Sign Up</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="sign-in">
                <h3 class="signin-form__body__title">Log Into Your Account</h3>
                <p class="signin-form__body__sub">Your student account is your portal to all the things: your classroom, projects, forums, career resources, and more!</p>
                <form class="signin-form__form">
                  <div class="signin-form__form__inputs">
                    <input class="input-item" type="text" placeholder="Email">
                    <input class="input-item" type="password" placeholder="Password">
                  </div>
                  <button class="btn-green list-link__btn">Sign In</button><a class="signin-form__link" href="#">Forgot your password?</a>
                </form>
                <div class="group-btn-socials">
                  <p class="group-btn-socials__sub">or sign in with one of these services</p>
                  <div class="btn-social btn-social--facebook"><i class="glyph-icon flaticon-social-1"></i><i>facebook</i></div>
                  <div class="btn-social btn-social--twitter"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i><i>twitter</i></div>
                </div>
              </div>
              <div class="tab-pane fade" id="sign-up">
                <h3 class="signin-form__body__title">Log Into Your Account</h3>
                <p class="signin-form__body__sub">Your student account is your portal to all the things: your classroom, projects, forums, career resources, and more!</p>
                <form class="signin-form__form">
                  <div class="signin-form__form__inputs">
                    <input class="input-item" type="text" placeholder="User name">
                    <input class="input-item" type="email" placeholder="Email">
                    <input class="input-item" type="password" placeholder="Password">
                    <input class="input-item" type="password" placeholder="Confirm Password">
                  </div>
                  <button class="btn-green list-link__btn">Sign Up</button>
                </form>
                <div class="group-btn-socials">
                  <p class="group-btn-socials__sub">or sign up with one of these services</p>
                  <div class="btn-social btn-social--facebook"><i class="glyph-icon flaticon-social-1"></i><i>facebook</i></div>
                  <div class="btn-social btn-social--twitter"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i><i>twitter</i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="signin-form__footer"><a class="signin-form__footer__link" href="#">Having trouble logging in?</a></div>
      </div>
    </div>

    <div class="design-sprint">
      <div class="container design-sprint__list">
        <div class="row design-sprint__content">
          <div class="col-lg-4 col-md-4 col-sm-4 design-sprint__item">
            <h1 class="design-sprint__item__title">Our Education Initiative</h1>
            <p class="design-sprint__item__content">We want to provide quality education to all and assist students and professionals in their career growth and advancement through collaborative learning and support.</p>
            <!--
            <a class="btn button-default design-sprint__item__button" href="http://swlabs.co/educef/html/index.html#">enroll now</a>
            -->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 design-sprint__item-image">
            <div class="design-sprint__wapper"><img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Become Content Developer"></div>
            <div class="design-sprint__contents" style="height: 92px;"><a class="design-sprint__contents__title" href="https://www.facebook.com/groups/319388251960495/" target="_blank">Become Content Developer</a><a class="design-sprint__contents__link" href="https://www.facebook.com/groups/319388251960495/" target="_blank"><img src="/assets/img/online-support.png">Join Our ContentDev Team</a></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 design-sprint__item-image">
            <div class="design-sprint__wapper"><img class="design-sprint__wapper__image" src="/assets/img/techdev.jpg" alt="Become Tech Developer"></div>
            <div class="design-sprint__contents" style="height: 92px;"><a class="design-sprint__contents__title" href="https://www.facebook.com/groups/261170104727090/" target="_blank">Become Tech Developer</a><a class="design-sprint__contents__link" href="https://www.facebook.com/groups/261170104727090/" target="_blank"><img src="/assets/img/online-support.png">Join Our TechDev Team</a></div>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="list-icons">
      <div class="container">
            <div class="row list-icons__list">
              <div class="list-icons__item"><a class="list-icons__link" href="#"><img class="list-icons__image" src="/assets/img/home/01image.png" alt="home/01image.png"></a></div>
              <div class="list-icons__item"><a class="list-icons__link" href="#"><img class="list-icons__image" src="/assets/img/home/02image.png" alt="home/02image.png"></a></div>
              <div class="list-icons__item"><a class="list-icons__link" href="#"><img class="list-icons__image" src="/assets/img/home/03image.png" alt="home/03image.png"></a></div>
              <div class="list-icons__item"><a class="list-icons__link" href="#"><img class="list-icons__image" src="/assets/img/home/01image.png" alt="home/01image.png"></a></div>
              <div class="list-icons__item"><a class="list-icons__link" href="#"><img class="list-icons__image" src="/assets/img/home/02image.png" alt="home/02image.png"></a></div>
              <div class="list-icons__item"><a class="list-icons__link" href="#"><img class="list-icons__image" src="/assets/img/home/03image.png" alt="home/03image.png"></a></div>
              <div class="list-icons__item"><a class="list-icons__link" href="#"><img class="list-icons__image" src="/assets/img/home/01image.png" alt="home/01image.png"></a></div>
            </div>
      </div>
    </div>
    -->

    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">top specializations</h2>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
                <div class="special courses__list ">
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt=""></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="engineeringmaths/calculus.html" target="_blank">Engineering Maths</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-0.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">347</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">347</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt=""></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="upscmaths/upscmathspaperi.html" target="_blank">UPSC Maths Paper I</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-1.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt=""></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="upscmaths/upscmathspaperii.html" target="_blank">UPSC Maths Paper II</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-1.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/jeemaths.png" alt=""></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="jeemaths/jeemaths.html" target="_blank">JEE Maths</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-2.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/xiimaths.png" alt=""></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="xiimaths/xiimaths.html" target="_blank">XII Maths</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-3.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/ximaths.png" alt=""></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="ximaths/ximaths.html" target="_blank">XI Maths</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-4.png" alt=""></span><span class="courses__content__author-name">Anthony Leath</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">347</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">347</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/xmaths.png" alt=""></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="xmaths/xmaths.html" target="_blank">X Maths</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-5.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/ixmaths.png" alt=""></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="ixmaths/ixmaths.html" target="_blank">IX Maths</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/careforcareer.png" alt=""></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="careforcareer/placementprep.html" target="_blank">Career Prep</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-11.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">Join</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>

    <!--
    <div class="list-course spy" id="course">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s"> top rated courses</h2>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-course-rate"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course rated-courses">
                <div class="rated-cou courses__list ">
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/0.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal networks and for deep learning</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-0.png" alt=""></span><span class="courses__content__author-name">Anthony Leath</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">347</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">347</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$100</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/1.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Design effective advertising pointers</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-1.png" alt=""></span><span class="courses__content__author-name">Ryan Stewart</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$110</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/2.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Complete graphic design: Photomagic</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-2.png" alt=""></span><span class="courses__content__author-name">Jared Brooks</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$99</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/3.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Presents: The Yoga of Awakening</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-3.png" alt=""></span><span class="courses__content__author-name">Ryan Stewart</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$89</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/4.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal networks and for deep learning</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-4.png" alt=""></span><span class="courses__content__author-name">Anthony Leath</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">347</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">347</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$100</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/5.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Design effective advertising pointers</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-5.png" alt=""></span><span class="courses__content__author-name">Ryan Stewart</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$110</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/6.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Complete graphic design: Photomagic</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">Jared Brooks</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$99</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/7.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Presents: The Yoga of Awakening</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-7.png" alt=""></span><span class="courses__content__author-name">Ryan Stewart</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$89</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/8.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">neutal networks and for deep learning</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-8.png" alt=""></span><span class="courses__content__author-name">Anthony Leath</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">347</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">347</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$100</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/9.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Design effective advertising pointers</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-9.png" alt=""></span><span class="courses__content__author-name">Ryan Stewart</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$110</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/10.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Complete graphic design: Photomagic</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-10.png" alt=""></span><span class="courses__content__author-name">Jared Brooks</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$99</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/courses-image/11.jpg" alt=""></div>
                        <div class="courses__top__bundle">bundle</div>
                        <div class="courses__top__bt-seller">best seller</div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="#">Presents: The Yoga of Awakening</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="#"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-11.png" alt=""></span><span class="courses__content__author-name">Ryan Stewart</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <div class="courses__col-right courses__content__price">$89</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="best-features event spy" id="partner">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title"> our best features</h2>
        </div>
        <div class="row">
          <div class="item">
            <div class="col-lg-5 col-md-5 item__left wow zoomInLeft"><img class="item__left__image" src="/assets/img/home/goalpic.png" alt="">
              <h3 class="item__left__title">Goal Oriented Learning</h3>
              <p class="item__left__content">
                We believe that learning is fun when it is goal oriented, interactive and done in an engaging manner. We have designed the courses in a MOOC style which will enable students to strict to their curriculum.
              </p>

            </div>
            <div class="col-lg-7 col-md-7 item__right">
              <div class="item__right__image-left"><img class="item__right__image" src="/assets/img/home/work.jpg" alt=""></div>
              <div class="item__right__image-right"><img class="item__right__image" src="/assets/img/home/macooklearning1.jpg" alt=""></div>
            </div>
          </div>
          <div class="item">
            <div class="col-lg-5 col-md-5 item__left wow zoomInRight">
               <img class="item__left__image" src="/assets/img/home/typewriter.jpg" alt="">
              <h3 class="item__left__title">Master the mathematical concepts</h3>
              <p class="item__left__content">
                Master the mathematical concepts required to help you in your academics or advance your career. Mathematics has huge applications in almost every aspect of life. So its worth spending some time and learn a thing or two about it.
              </p>
            </div>
            <div class="col-lg-7 col-md-7 item__right">
              <div class="item__right__image-left"><img class="item__right__image" src="/assets/img/home/mathsbg.jpg" alt=""></div>
              <div class="item__right__image-right"><img class="item__right__image" src="/assets/img/home/pi.jpg" alt=""></div>
            </div>
          </div>
          <div class="item">
            <div class="col-lg-5 col-md-5 item__left wow zoomInLeft">
               <!-- <img class="item__left__image" src="/assets/img/home/icon-03.png" alt=""> -->
              <h3 class="item__left__title">Highly Curated Courses</h3>
              <p class="item__left__content">
                Our courses and content is highly curated to help students learn the most in minimum of time. </p>
                <p>Our content development and curating tema includes professionals and student from Indian Institute of Technology (IIT).
              </p>
              <p>Our team takes standard textbooks and internet as reference to come up with high quality educational content.</p>
            </div>
            <div class="col-lg-7 col-md-7 item__right">
          <!--    <div class="item__right__image-left-3"><img class="item__right__image" src="/assets/img/home/curated.jpg" alt=""></div> -->
              <div class="item__right__image-right-3"><img class="item__right__image" src="/assets/img/home/bookshelf.jpg" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="promotions spy" id="event">
      <div class="container">
        <div class="row promotions__list">
          <div class="col-lg-6 col-md-6 col-sm-6 promotions__item"><a class="pro-item pro-item--left" href="#">
              <div class="pro-item__item"><span class="glyph-icon flaticon-shield pro-item__icon"></span></div>
              <div class="pro-item__item">
                <div class="pro-item__title">Free Courses</div>
                <p class="pro-item__subcontent">Refresh your knowledge of Graphic Design learning path. No prior knowledge is required.</p>
              </div></a></div>
          <div class="col-lg-6 col-md-6 col-sm-6 promotions__item"><a class="pro-item" href="#">
              <div class="pro-item__item"><span class="glyph-icon flaticon-shield pro-item__icon"></span></div>
              <div class="pro-item__item">
                <div class="pro-item__title">Free Bundle</div>
                <p class="pro-item__subcontent">Refresh your knowledge of Graphic Design learning path. No prior knowledge is required.</p>
              </div></a></div>
        </div>
      </div>
    </div>
    -->


    <div class="list-course spy" id="membership">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s"> Recent Blogs</h2>
          <div class="list-course__view-more"><a class="list-course__header__btn" href="careforcareer/blogs.html" target="_blank"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-recent-blog"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="blog">
          <div class="blog-col">
            <div class="blog-col__item">
              <div class="blog__item">
                <div class="blog__item__left"><a class="blog__item__link" href="#"><img class="blog__item__image" src="/assets/img/blogwriters/prateekyadav.jpg" alt=""></a></div>
                <div class="blog__item__right">
                  <div class="blog__item__date">Nov, 2018</div><a class="blog__item__title" href="#">How I Scored 100/100 in X Maths</a>
                  <div class="blog__item__infor"><a class="blog__item__author" href="#">Prateek Yadav</a>
                    <div class="col-left">
                      <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span>347</span></div>
                      <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span>347</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-col">
            <div class="blog-col__item">
              <div class="blog__item">
                <div class="blog__item__left"><a class="blog__item__link" href="#"><img class="blog__item__image" src="/assets/img/blogwriters/prateekyadav.jpg" alt=""></a></div>
                <div class="blog__item__right">
                  <div class="blog__item__date">Nov 08, 2018</div><a class="blog__item__title" href="#">How I Scored 95/100 in XII Maths</a>
                  <div class="blog__item__infor"><a class="blog__item__author" href="#">Prateek Yadav</a>
                    <div class="col-left">
                      <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span>347</span></div>
                      <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span>347</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-col">
            <div class="blog-col__item">
              <div class="blog__item">
                <div class="blog__item__left"><a class="blog__item__link" href="#"><img class="blog__item__image" src="/assets/img/blogwriters/abhinaykumar.jpg" alt=""></a></div>
                <div class="blog__item__right">
                  <div class="blog__item__date">Nov 08, 2018</div><a class="blog__item__title" href="#">How I cleared JP Morgan and Goldman Sachs</a>
                  <div class="blog__item__infor"><a class="blog__item__author" href="#">Prateek Yadav</a>
                    <div class="col-left">
                      <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span>347</span></div>
                      <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span>347</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-col">
            <div class="blog-col__item">
              <div class="blog__item">
                <div class="blog__item__left"><a class="blog__item__link" href="#"><img class="blog__item__image" src="/assets/img/blogwriters/amitanand.jpg" alt=""></a></div>
                <div class="blog__item__right">
                  <div class="blog__item__date">Nov 08, 2018</div><a class="blog__item__title" href="#">How I Cleared IFoS Examination</a>
                  <div class="blog__item__infor"><a class="blog__item__author" href="#">Amit Anand</a>
                    <div class="col-left">
                      <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span>347</span></div>
                      <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span>347</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!--
    <div class="form-subs spy" id="forum">
      <div class="container">
        <div class="row form-subs__content">
          <div class="col-lg-6 col-md-6 col-sm-12 column-item">
            <h2 class="form-subs__title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.002s"> Subscribe Our Newsletter</h2>
            <p class="form-subs__sub">For new awesome courses & special promotion campaign!</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 column-item">
            <form class="form-subs__form">
              <input class="form-subs__input" type="text" placeholder="Your email...">
              <button class="btn btn-default button-default form-subs__button" type="submit">enroll now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="testimotials spy" id="elements">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Our Team</h2>
        </div>
        <div class="row">
          <div class="testimotials__list">
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Prateek is working as a Content and Tech Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/prateekyadav.jpg"></div>
                  <div class="testimotials__item__user">Prateek Yadav</div>
                  <div class="testimotials__item__prof">Consultant, Ernst and Young</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Abhishek is working as a Business Strategist and Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/abhishekbansal.jpg"></div>
                  <div class="testimotials__item__user">Abhishek Bansal</div>
                  <div class="testimotials__item__prof">Consultant, Ernst and Young</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Raghav is working as a Business Strategist and Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/raghavmehta.jpg"></div>
                  <div class="testimotials__item__user">Raghav Mehta</div>
                  <div class="testimotials__item__prof">Consultant, Ernst and Young</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Shubham is working as a Tech Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/shubhamgoyal.jpg"></div>
                  <div class="testimotials__item__user">Shubham Goyal</div>
                  <div class="testimotials__item__prof">Software Develper, Lowe's</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Suraj is working as a digital and offline strategist as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/surajsingh.jpg"></div>
                  <div class="testimotials__item__user">Suraj Singh</div>
                  <div class="testimotials__item__prof">Strategist, PyMaths</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Abhinay is working as a Tech Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/abhinaykumar.jpg"></div>
                  <div class="testimotials__item__user">Abhinay Kumar</div>
                  <div class="testimotials__item__prof">Quant, Goldman Sachs</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Sahil is working as a Tech Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/sahilkhan.jpg"></div>
                  <div class="testimotials__item__user">Sahil Khan</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Deepankur is working as a Tech Developer as part of the PyMaths Team.</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/deepankurkansal.jpg"></div>
                  <div class="testimotials__item__user">Deepankur Kansal</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Shivam is working as a Content Developer as part of the PyMaths Team.</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/shivamshukla.jpg"></div>
                  <div class="testimotials__item__user">Shivam Shukla</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Tejas is working as a Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/tejasketkar.jpg"></div>
                  <div class="testimotials__item__user">Tejas Ketkar</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Kaustav is working as a Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/kaustavsen.jpg"></div>
                  <div class="testimotials__item__user">Kaustav Sen</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Patrick is working as a Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/patrickhelmenkampchen.jpg"></div>
                  <div class="testimotials__item__user">Patrick Helmenkamp Chen</div>
                  <div class="testimotials__item__prof">Student, DTU Diplomingenior</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Simon is working as a Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/simonlacourse.jpg"></div>
                  <div class="testimotials__item__user">Simon Lacourse</div>
                  <div class="testimotials__item__prof">Student, Concordia University</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Deepankar is working as a Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/deepankarvish.jpg"></div>
                  <div class="testimotials__item__user">Deepankar Vish</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Jyoti is working as a Content and Website Curator as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/jyotiratnashree.jpg"></div>
                  <div class="testimotials__item__user">Jyoti ratna Shree</div>
                  <div class="testimotials__item__prof">Student, NIFT Bengaluru</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Shyam is working as a Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/shyamshah.jpg"></div>
                  <div class="testimotials__item__user">Shyam Shah</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Soorykant is working as a Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/soorykantsuman.jpg"></div>
                  <div class="testimotials__item__user">Soorykant Suman</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>
                <div class="testimotials__item">
                  <div class="glyph-icon flaticon-weather testimotials__icon"></div>
                  <p class="testimotials__item__content">Divij is working as a Content Developer as part of the PyMaths Team</p>
                  <div class="testimotials__item__avatar"><img class="testimotials__item__image" src="/assets/img/team/divijjain.jpg"></div>
                  <div class="testimotials__item__user">Divij Jain</div>
                  <div class="testimotials__item__prof">Student, IIT Kanpur</div>
                </div>

          </div>
        </div>
      </div>
    </div>


    