<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths">JEE Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/differentialcalculus">Differential Calculus</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/differentialcalculus/functions">Functions</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Functions
                                </li>
                                <li class="list-catagories__item">
                                  2. Limits and Derivatives
                                </li>
                                <li class="list-catagories__item">
                                  3. Continuity and Differentiality
                                </li>
                                <li class="list-catagories__item">
                                  4. Applications of Derivatives
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Functions<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse in" id="chapter1">
                                <a class="list-brief__item__kind" href= "functions/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "functions/introduction"><a class="list-brief__item__kind" href= "functions/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functions/typesofrelationsandfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "functions/typesofrelationsandfunctions">Lesson 2: Types of Relations and Functions<span class="pull-right">30 minutes</span></div>
                                <a class="list-brief__item__kind" href= "functions/realvaluedfunctionsofarealvariableintoontoandonetoonefunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "functions/realvaluedfunctionsofarealvariableintoontoandonetoonefunctions">Lesson 3: Real-valued functions of a Real variable, Into, Onto and One-to-One functions<span class="pull-right">30 minutes</span></div>
                                <a class="list-brief__item__kind" href= "functions/sumdifferenceproductandquotientoftwofunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "functions/sumdifferenceproductandquotientoftwofunctions">Lesson 4: Sum, Difference, Product, and Quotient of two functions<span class="pull-right">30 minutes</span></div>
                                <a class="list-brief__item__kind" href= "functions/compositefunctionsabsolutevaluepolynomialrationaltrigonometricexponentialandlogarithmicfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "functions/compositefunctionsabsolutevaluepolynomialrationaltrigonometricexponentialandlogarithmicfunctions">Lesson 5: Composite Functions, Absolute value, Polynomial, Rational, Trigonometric, Exponential and Logarithmic Functions<span class="pull-right">30 minutes</span></div>
                                <a class="list-brief__item__kind" href= "functions/evenandoddfunctionsandinverseofafunction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "functions/evenandoddfunctionsandinverseofafunction">Lesson 6: Even and Odd functions and Inverse of a function<span class="pull-right">30 minutes</span></div>
                                <a class="list-brief__item__kind" href= "functions/continuityofcompositefunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "functions/continuityofcompositefunctions">Lesson 7: Continuity of Composite functions<span class="pull-right">30 minutes</span></div>
                                <a class="list-brief__item__kind" href= "functions/quiz1functions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "functions/quiz1functions">Quiz 1: Functions<span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Limits and Derivatives<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <a class="list-brief__item__kind" href= "limitsandderivatives/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "limitsandderivatives/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitsandderivatives/limits"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "limitsandderivatives/limits">Lesson 2: Limits</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitsandderivatives/limitsoftrigonometricfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "limitsandderivatives/limitsoftrigonometricfunctions">Lesson 3: Limits of Trignometric Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitsandderivatives/intuitiveideaofderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "limitsandderivatives/intuitiveideaofderivatives">Lesson 4: Intuitive idea of Derivatives</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitsandderivatives/derivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "limitsandderivatives/derivatives">Lesson 5: Derivatives</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "limitsandderivatives/quiz2limitsandderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "limitsandderivatives/quiz2limitsandderivatives">Quiz 2: Limits and Derivatives</a></a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Continuity and Differentiability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/inroduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/inroduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/continuity"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/continuity">Lesson 2: Continuity</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/differentiability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/differentiability">Lesson 3: Differentiability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/exponentialandlogarithmicfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/exponentialandlogarithmicfunctions">Lesson 4: Exponential and Logarithmic Functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/logarithmicdifferentiation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/logarithmicdifferentiation">Lesson 5: Logarithmic Differentiation</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/derivativesoffunctionsinparametricforms"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/derivativesoffunctionsinparametricforms">Lesson 6: Derivatives of Functions in Parametric Forms</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/secondorderderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/secondorderderivatives">Lesson 7: Second Order Derivatives</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/lhospitalruleofevaluationoflimitsoffunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/lhospitalruleofevaluationoflimitsoffunctions">Lesson 8: L’Hospital Rule of evaluation of Limits of functions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/quiz3continuityanddifferentiability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "continuityanddifferentiability/quiz3continuityanddifferentiability">Quiz 3: Continuity and Differentiability</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Applications of Derivatives<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <a class="list-brief__item__kind" href= "applicationsofderivatives/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "applicationsofderivatives/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationsofderivatives/rateofchangeofderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "applicationsofderivatives/rateofchangeofderivatives">Lesson 2: Rate of Change of Derivatives</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationsofderivatives/chainrulederivativesofpolynomialrationaltrigonometricinversetrigonometricexponentialandlogarithmicfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "applicationsofderivatives/chainrulederivativesofpolynomialrationaltrigonometricinversetrigonometricexponentialandlogarithmicfunctions">Lesson 3: Chain Rule, Derivatives of Polynomial, Rational, Trigonometric, Inverse Trigonometric, Exponential and Logarithmic functions</a></a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationsofderivatives/derivativesofimplicitfunctionsderivativesuptoordertwogeometricalinterpretationofthederivative"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "applicationsofderivatives/derivativesofimplicitfunctionsderivativesuptoordertwogeometricalinterpretationofthederivative">Lesson 4: Derivatives of Implicit functions, Derivatives up to Order two, Geometrical Interpretation of the Derivative</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationsofderivatives/tangentsandnormalsincreasinganddecreasingfunctionsmaximumandminimumvaluesofafunction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "applicationsofderivatives/tangentsandnormalsincreasinganddecreasingfunctionsmaximumandminimumvaluesofafunction">Lesson 5: Tangents and Normals, Increasing and Decreasing functions, Maximum and Minimum values of a function</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationsofderivatives/rollestheoremandlagrangesmeanvaluetheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "applicationsofderivatives/rollestheoremandlagrangesmeanvaluetheorem">Lesson 6: Rolle’s Theorem and Lagrange’s Mean Value Theorem</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationsofderivatives/approximations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "applicationsofderivatives/approximations">Lesson 7: Approximations</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationsofderivatives/quiz4applicationsofderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "applicationsofderivatives/quiz4applicationsofderivatives">Quiz 4: Applications of Derivatives</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>


    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/trigonometry">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/trigonometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/analyticalgeometry">Analytical Geometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/analyticalgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/differentialcalculus">Differential Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/differentialcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/integralcalculus">Integral Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/integralcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/jeemathscomplete">JEE Maths Complete</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/jeemathscomplete">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/previousyearpapers">Previous Years Papers</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/previousyearpapers">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>


</div>
