<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/engineeringmaths">Engineering Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/engineeringmaths/linearalgebra">Linear Algebra</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/engineeringmaths/linearalgebra/vectorspacesoverrealrandcomplexcplanes">Vector Spaces</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Vector Spaces over Real (R) and Complex (C) Planes
                                </li>
                                <li class="list-catagories__item">
                                  2. Linear Transformations
                                </li>
                                <li class="list-catagories__item">
                                  3. Algebra of Matrices
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Vector Spaces over Real (R) and Complex (C) Planes<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse in" id="chapter1">
                                <a class="list-brief__item__kind" href= "vectorspacesoverrealrandcomplexcplanes/lineardependenceandindependence"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="vectorspacesoverrealrandcomplexcplanes/lineardependenceandindependence">Lesson 1: Linear Dependence and Independence</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "vectorspacesoverrealrandcomplexcplanes/vectorspacesandsubspaces"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="vectorspacesoverrealrandcomplexcplanes/vectorspacesandsubspaces">Lesson 2: Vector Spaces and Subspaces</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "vectorspacesoverrealrandcomplexcplanes/basisanddimension"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="vectorspacesoverrealrandcomplexcplanes/basisanddimension">Lesson 3: Basis and Dimension</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "vectorspacesoverrealrandcomplexcplanes/quiz1vectorspacesoverrealrandcomplexcplanes"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="vectorspacesoverrealrandcomplexcplanes/quiz1vectorspacesoverrealrandcomplexcplanes">Quiz 1: Vector Spaces over Real (R) and Complex (C) Planes</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Linear Transformations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                              <a class="list-brief__item__kind" href= "lineartransformations/rankandnullity"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="lineartransformations/rankandnullity">Lesson 1: Rank and Nullity</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "lineartransformations/matrixofalineartransformation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="lineartransformations/matrixofalineartransformation">Lesson 2: Matrix of a Linear Transformation</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "lineartransformations/quiz2lineartransformations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="lineartransformations/quiz2lineartransformations">Quiz 2: Linear Transformations</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Algebra of Matrices<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                              <a class="list-brief__item__kind" href= "algebraofmatrices/rowandcolumnreduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/rowandcolumnreduction">Lesson 1: Row and Column Reduction</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/echelonform"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/echelonform">Lesson 2: Echelon Form</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/congruenceandsimilarity"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/congruenceandsimilarity">Lesson 3: Congruence and Similarity</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/rankofamatrix"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/rankofamatrix">Lesson 4: Rank of a Matrix</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/inverseofamatrix"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/inverseofamatrix">Lesson 5: Inverse of a Matrix</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/solutionofasystemoflinearequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/solutionofasystemoflinearequations">Lesson 6: Solution of a System of Linear Equations</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/eigenvaluesandeigenvectors"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/eigenvaluesandeigenvectors">Lesson 7: Eigenvalues and Eigenvectors</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/characteristicpolynomial"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/characteristicpolynomial">Lesson 8: Characteristic Polynomial</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/cayleyhamiltontheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/cayleyhamiltontheorem">Lesson 9: Cayley-Hamilton Theorem</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/symmetricandskewsymmetricmatrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/symmetricandskewsymmetricmatrices">Lesson 10: Symmetric and Skew-Symmetric Matrices</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/hermitianandskewhermitianmatrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/hermitianandskewhermitianmatrices">Lesson 11: Hermitian and Skew-Hermitian Matrices</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/orthogonalandunitarymatricesandtheireigenvalues"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/orthogonalandunitarymatricesandtheireigenvalues">Lesson 12: Orthogonal and Unitary Matrices and their Eigenvalues</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algebraofmatrices/quiz3algebraofmatrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algebraofmatrices/quiz3algebraofmatrices">Quiz 3: Algebra of Matrices</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/realanalysis">Real Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/realanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/calculus">Calculus</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/calculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/vectoranalysis">Vector Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/vectoranalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/complexanalysis">Complex Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/complexanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/analyticgeometry">Analytic Geometry</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/analyticgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearalgebra">Linear Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearalgebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/ordinarydifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/partialdifferentialequations">Partial Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/partialdifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/numericalmethods">Numerical Methods</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/numericalmethods">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearprogramming">Linear Programming</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearprogramming">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/probabilityandstatistics">Probability and Statistics</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/probabilityandstatistics">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
