


    <div class="modal fade signin-form" id="modal-signin" role="dialog">
      <div class="modal-dialog signin-form__dialog">
        <div class="signin-form__button-close hidden-lg hidden-md hidden-sm">
          <button class="close signin-form__button-close__btn" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="signin-form__header"><a class="signin-form__header__logo" href="#"><img src="../assets/img/logo/Logo-form.png" alt=""></a>
          <p class="signin-form__sub">Universal access to the world’s best education.</p>
        </div>
        <div class="modal-content signin-form__content">
          <div class="modal-body signin-form__body">
            <ul class="signin-form__tabs">
              <li class="active signin-form__tabs__items"><a class="signin-form__tabs__link" data-toggle="tab" href="#sign-in">Sign In</a></li>
              <li class="signin-form__tabs__items"><a class="signin-form__tabs__link" data-toggle="tab" href="#sign-up">Sign Up</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="sign-in">
                <h3 class="signin-form__body__title">Log Into Your Account</h3>
                <p class="signin-form__body__sub">Your student account is your portal to all the things: your classroom, projects, forums, career resources, and more!</p>
                <form class="signin-form__form">
                  <div class="signin-form__form__inputs">
                    <input class="input-item" type="text" placeholder="Email">
                    <input class="input-item" type="password" placeholder="Password">
                  </div>
                  <button class="btn-green list-link__btn">Sign In</button><a class="signin-form__link" href="#">Forgot your password?</a>
                </form>
                <div class="group-btn-socials">
                  <p class="group-btn-socials__sub">or sign in with one of these services</p>
                  <div class="btn-social btn-social--facebook"><i class="glyph-icon flaticon-social-1"></i><i>facebook</i></div>
                  <div class="btn-social btn-social--twitter"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i><i>twitter</i></div>
                </div>
              </div>
              <div class="tab-pane fade" id="sign-up">
                <h3 class="signin-form__body__title">Log Into Your Account</h3>
                <p class="signin-form__body__sub">Your student account is your portal to all the things: your classroom, projects, forums, career resources, and more!</p>
                <form class="signin-form__form">
                  <div class="signin-form__form__inputs">
                    <input class="input-item" type="text" placeholder="User name">
                    <input class="input-item" type="email" placeholder="Email">
                    <input class="input-item" type="password" placeholder="Password">
                    <input class="input-item" type="password" placeholder="Confirm Password">
                  </div>
                  <button class="btn-green list-link__btn">Sign Up</button>
                </form>
                <div class="group-btn-socials">
                  <p class="group-btn-socials__sub">or sign up with one of these services</p>
                  <div class="btn-social btn-social--facebook"><i class="glyph-icon flaticon-social-1"></i><i>facebook</i></div>
                  <div class="btn-social btn-social--twitter"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i><i>twitter</i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="signin-form__footer"><a class="signin-form__footer__link" href="#">Having trouble logging in?</a></div>
      </div>
    </div>

    <div class="bundle-content">
      <div class="container">

        <div class="row">
          <nav class="breadcrumb-wapper">
            <ul class="breadcrumb">
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths/">UPSC Maths</a></li>
              <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/upscmaths/calculus">Calculus</a></li>
            </ul>
          </nav>
          <div class="col-lg-3 col-md-3 sidebar-left">

            <div class="list-link" id="menu-left">
                          <ul class="list-link__list">
                            <li class="list-link__item"><a class="list-link__link " href="#about">About the Course</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#overview">Course Overview</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#topics">Topics Covered</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#creator">Created By</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#faq">FAQs</a></li>
                            <!--<li class="list-link__item"><a class="list-link__link " href="#faq">Reviews</a></li> -->
                          </ul>
              <div class="title-list list-link__title">Calculus</div><a class="btn-green list-link__btn" href="algebra/coursestart">Start Course</a>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="bundle-header__about">
              <h1 class="bundle-header__title">Calculus</h1>
              <p>
                This course covers all the topics of the course Calculus, which forms an essential part of Engineering and many competitive examinations Maths Syllabus. The topics in this course are covered mainly for students or professionals preparing for competitive exams, such as UPSC Maths and GATE Maths.
              </p>
            </div>
            <div class="bundle-list">
                          <div class="bundle" id="about">
                            <div class="bundle__title">About the Course</div>
                            <div class="bundle__content">
                              <div class="bundle__content__sub">
                                <p class="paragrap-content">In these course, we will cover <u>Four Chapters</u>: 1) Functions of a Real Variable, 2) Functions of Two or Three Variables, 3) Integrals, and 4) Areas, Surfaces & Volumes. The total marks covered by these topics are 100.</p>
                                <p> 1) The chapter <u>Functions of a Real Variable</u> covers ten lessons:- i) Introduction ii) Limits, iii) Continuity, iv) Differentiability, v) Mean Value Theorem, vi) Taylor's Theorem with Remainders, vii) Indeterminate forms, viii) Maxima and Minima, ix) Lagrnage's method of Multipliers, and x) Jacobian.
                                </p>
                                <p> 2) The chapter <u>Functions of Two or Three Variables</u> covers six lessons:- i) Limits, ii) Continuity, iii) Partial Derivatives, iv) Maxima and Minima, v) Lagrange's method of Multipliers, and vi) Jacobian.
                                </p>
                                <p> 3) The chapter <u>Integrals</u> covers six lessons:- i) Riemann’s definition of Definite Integrals, ii) Indefinite Integrals, iii) Infinite Integrals, iv) Improper Integrals, v) Double Integrals, and vi) Triple Integrals.
                                </p>
                                <p> 4) The chapter <u>Areas, Surfaces & Volumes</u> covers three lessons:- i) Areas, ii) Surfaces and iii) Volumes.
                                </p>
                              </div>
                            </div>
                          </div>


                          <div class="detail__block" id="overview">
                                  <div class="bundle__title">Course Overview</div>
                                              <div class="detail__list">
                                                <div class="row">
                                                  <div class="col-md-4 col-sm-4 detail__list__item">
                                                    <div class="detail__list__wapper"><img class="detail__list__image" src="../assets/img/courses-bundle/bundle-icon-1.png" alt="creater by"></div>
                                                    <div class="detail__list__content">
                                                      <div class="detail__list__title">4 Chapters</div>
                                                      <div class="detail__list__subs">This course has 3 chapters. Chapters are further divided into lessons.</div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4 col-sm-4 detail__list__item">
                                                    <div class="detail__list__wapper"><img class="detail__list__image" src="../assets/img/courses-bundle/bundle-icon-2.png" alt="creater by"></div>
                                                    <div class="detail__list__content">
                                                      <div class="detail__list__title">4 Chapter Exams and 25 Lesson Quizzes</div>
                                                      <div class="detail__list__subs">These Exams and Quizzes are designed to prepare you well for the exams.</div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4 col-sm-4 detail__list__item">
                                                    <div class="detail__list__wapper"><img class="detail__list__image" src="../assets/img/courses-bundle/bundle-icon-3.png" alt="creater by"></div>
                                                    <div class="detail__list__content">
                                                      <div class="detail__list__title">Previous Year problems</div>
                                                      <div class="detail__list__subs">Some problems from previous years papers are solved to understand the pattern and trend of questions asked in the exam.</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                          </div>


                          <div class="bundle" id="topics">
                            <div class="bundle__title">Topics Covered</div>
                            <div class="bundle__content">

                              <div class="list-syllabus">
                                            <div class="list-brief-content">

                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 1:</div>
                                                  <div class="list-brief__top__title">Functions of a Real Variable</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Introduction</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Limits</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Continuity</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Differentiability</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Mean Value Theorem</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Taylor's Theorem with Remainders</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 7</a><span>·</span><a class="list-brief__item__content" href="#">Indeterminate forms</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 8</a><span>·</span><a class="list-brief__item__content" href="#">Maxima and Minima</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 9</a><span>·</span><a class="list-brief__item__content" href="#">Lagrnage's method of Multipliers</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 10</a><span>·</span><a class="list-brief__item__content" href="#">Jacobian</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 1</a><span>·</span><a class="list-brief__item__content" href="#">Functions of a Real Variable</a></div>
                                                </div>
                                              </div>

                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 2:</div>
                                                  <div class="list-brief__top__title">Functions of Two or Three Variables</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Limits</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Continuity</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Partial Derivatives</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Maxima and Minima</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Lagrange's method of Multipliers</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Jacobian</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 2</a><span>·</span><a class="list-brief__item__content" href="#">Functions of Two or Three Variables</a></div>
                                                </div>
                                              </div>

                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 3:</div>
                                                  <div class="list-brief__top__title">Integrals</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Riemann’s definition of Definite Integrals</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Indefinite Integrals</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Infinite Integrals</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 4</a><span>·</span><a class="list-brief__item__content" href="#">Improper Integrals</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 5</a><span>·</span><a class="list-brief__item__content" href="#">Double Integrals</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 6</a><span>·</span><a class="list-brief__item__content" href="#">Triple Integrals</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 3</a><span>·</span><a class="list-brief__item__content" href="#">Integrals</a></div>
                                                </div>
                                              </div>

                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Chapter 4:</div>
                                                  <div class="list-brief__top__title">Areas, Surfaces & Volumes</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 1</a><span>·</span><a class="list-brief__item__content" href="#">Areas</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 2</a><span>·</span><a class="list-brief__item__content" href="#">Surfaces</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="#">Lesson 3</a><span>·</span><a class="list-brief__item__content" href="#">Volumes</a></div>
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">Quiz 4</a><span>·</span><a class="list-brief__item__content" href="#">Areas, Surfaces & Volumes</a></div>
                                                </div>
                                              </div>

                                              <!--
                                              <div class="list-brief-content__item">
                                                <div class="list-brief__top">
                                                  <div class="list-brief__top__section">Lab:</div>
                                                  <div class="list-brief__top__title">Free trial</div>
                                                </div>
                                                <div class="list-brief__list">
                                                  <div class="list-brief__item"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i><a class="list-brief__item__kind" href="#">reading</a><span>·</span><a class="list-brief__item__content" href="#">Codelab - Sign Up for the Free Trial and Create a Project</a></div>
                                                </div>
                                              </div>
                                            -->
                                            </div>
                              </div>

                              <div class="list-syllabus__group-button">
                                <div class="list-syllabus__view-more" id="cs-button-view">View more</div>

                                <!--
                                <a class="button-default button-default--green-l list-syllabus__enroll" href="#">Enroll now</a>
                                -->
                              </div>


                            </div>

                          </div>
                          <!--
                          <div class="bundle" id="creator">
                            <div class="bundle__title">Creators by</div>
                            <div class="bundle__content">
                              <div class="creator">
                                <div class="creator__title">University of Republic SG</div>
                                <div class="creator__content">
                                  The city of southern California, san diego is locally known as ‘America’s Finest City’.
                                  It’s located on San Diego Bay, an inlet of the Pacific Ocean near the Mexican border.
                                  San Diego is the second largest city in California and the seventh largest in the United States.
                                  It is also nicknamed as ‘America’s biggest small town’.
                                </div>
                              </div>
                            </div>
                          </div>
                          -->

                          <div class="detail__block" id = "creator">
                                  <div class="bundle__title">Created by</div>
                                  <div class="detail__about">
                                    <div class="detail__wrapper-image"><img class="detail__image" src="../assets/img/courses-bundle/creator.png" alt="creater by"></div>
                                    <div class="detail__title">XYZ</div>
                                  </div>
                          </div>

                          <div class="bundle" id="faq">
                            <div class="bundle__title">FAQs</div>
                            <div class="bundle__content">
                                          <div class="faqs faqs--course-single" id="faqs">
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer1" aria-expanded="true">What is the importance of Calculus?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse in" id="answer1">
                                                            <div class="faqs__body">
                                                              Calculus forms an important segment of Engineering Maths and many competitive examinations Maths, including UPSC Maths, GATE Maths, etc.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer2" aria-expanded="false">What are the prerequisites of this course?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer2">
                                                            <div class="faqs__body">
                                                              This course requires basic efficieny with XII level Algebra and Calculus. Students are advised to practice a lot of problems to master in this course.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer3" aria-expanded="false">How can I access lectures and assignments?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer3">
                                                            <div class="faqs__body">
                                                              All the lectures and assignments can be accessed on the course-page itself.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer4" aria-expanded="false">What can I expect in the paid course?<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer4">
                                                            <div class="faqs__body">
                                                              In the paid course, all the course material would be provided. Apart from that, all the subjective
                                                              questions will be graded by us. You'll also get access to online tutoring for a specified amount of time.
                                                            </div>
                                                          </div>
                                                        </div>
                                          </div>
                            </div>
                          </div>


                          <!--
                          <div class="bundle" id="how-it-works">
                            <div class="bundle__title">How it works</div>
                            <div class="bundle__content">
                                          <div class="list_works">
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="../assets/img/course-single/Icon-how-it-works-1.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Coursework</div>
                                                <div class="list_works__subs">Each course is like an interactive textbook, featuring pre-recorded videos, quizzes and projects.</div>
                                              </div>
                                            </div>
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="../assets/img/course-single/Icon-how-it-works-2.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Help from Your Peers</div>
                                                <div class="list_works__subs">Connect with thousands of other learners and debate ideas, discuss course material, and get help mastering concepts.</div>
                                              </div>
                                            </div>
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="../assets/img/course-single/Icon-how-it-works-3.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Certificates</div>
                                                <div class="list_works__subs">Earn official recognition for your work, and share your success with friends, colleagues, and employers.</div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                          </div>
                          -->




                          <!--
                          <div class="bundle" id="reviews">
                            <div class="bundle__title">Reviews</div>
                            <div class="bundle__content">
                                          <div class="reviews">
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="../assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course. I highly recommend taking this course if you have an interest in web design. Looking forward to learning how to bring the site to life in Dan's Dreamweaver course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Course quality</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="../assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Learner support</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="../assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Learner support</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                              <div class="reviews__btn"><a class="button-default reviews__enroll" href="https://www.facebook.com/groups/1889374178036289/" target="_blank">Facebook Group</a></div>
                            </div>
                          </div>
                        -->
                        <div class="reviews__btn"><a class="button-default reviews__enroll" href="calculus/coursestart">Start Course</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
