<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/ixmaths">IX Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/ixmaths/geometry">Geometry</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/ixmaths/geometry/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Introduction to Euclid's Geometry
                                </li>
                                <li class="list-catagories__item">
                                  2. Lines and Angles
                                </li>
                                <li class="list-catagories__item">
                                  3. Triangles
                                </li>
                                <li class="list-catagories__item">
                                  4. Quadrilaterals
                                </li>
                                <li class="list-catagories__item">
                                  5. Circles
                                </li>
                                <li class="list-catagories__item">
                                  6. Constructions
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Introduction to Euclid's Geometry<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "introductiontoeuclidsgeometry/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontoeuclidsgeometry/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "introductiontoeuclidsgeometry/euclidsdefinitionaxiomsandpostulates"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontoeuclidsgeometry/euclidsdefinitionaxiomsandpostulates">Lesson 2: Euclid's Definition, Axioms and Postulates</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "introductiontoeuclidsgeometry/equivalentversionofeuclidsfifthpostulate"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontoeuclidsgeometry/equivalentversionofeuclidsfifthpostulate">Lesson 3: Equivalent version of Euclid's Fifth Postulate</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "introductiontoeuclidsgeometry/quiz1introductiontoeuclidsgeometry"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="introductiontoeuclidsgeometry/quiz1introductiontoeuclidsgeometry">Quiz 1: Introduction to Euclid's Geometry</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Lines and Angles<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <a class="list-brief__item__kind" href= "linesandangles/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linesandangles/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linesandangles/basictermsanddefinitions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linesandangles/basictermsanddefinitions">Lesson 2: Basic Terms and Definitions</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linesandangles/intersectingnonintersectinglines"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linesandangles/intersectingnonintersectinglines">Lesson 3: Intersecting/Non-Intersecting Lines</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linesandangles/pairofangles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linesandangles/pairofangles">Lesson 4: Pair of Angles</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linesandangles/parallellines"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linesandangles/parallellines">Lesson 5: Parallel Lines</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linesandangles/anglesumpropertyofatriangle"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linesandangles/anglesumpropertyofatriangle">Lesson 6: Angle Sum Property of a Triangle</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "linesandangles/quiz2linesandangles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="linesandangles/quiz2linesandangles">Quiz 2: Lines and Angles</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Triangles<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <a class="list-brief__item__kind" href= "triangles/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="triangles/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "triangles/congruenceoftriangles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="triangles/congruenceoftriangles">Lesson 2: Congruence of Triangles</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "triangles/somepropertiesofatriangle"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="triangles/somepropertiesofatriangle">Lesson 3: Some Properties of a Triangle</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "triangles/criteriaforcongruenceoftriangles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="triangles/criteriaforcongruenceoftriangles">Lesson 4: Criteria for Congruence of Triangles</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "triangles/inequalitiesinatriangle"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="triangles/inequalitiesinatriangle">Lesson 5: Inequalities in a Triangle</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "triangles/quiz3triangles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="triangles/quiz3triangles">Quiz 3: Triangles</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Quadrilaterals<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <a class="list-brief__item__kind" href= "quadrilaterals/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="quadrilaterals/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadrilaterals/anglesumproperty"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="quadrilaterals/anglesumproperty">Lesson 2: Angle Sum Property</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadrilaterals/typesofquadrilaterals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="quadrilaterals/typesofquadrilaterals">Lesson 3: Types of Quadrilaterals</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadrilaterals/propertiesofaparallelogram"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="quadrilaterals/propertiesofaparallelogram">Lesson 4: Properties of a Parallelogram</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadrilaterals/midpointtheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="quadrilaterals/midpointtheorem">Lesson 5: Mid-Point Theorem</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadrilaterals/quiz4quadrilaterals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="quadrilaterals/quiz4quadrilaterals">Quiz 4: Quadrilaterals</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Chapter 5. Circles<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter5">
                                <a class="list-brief__item__kind" href= "circles/circleandrelatedterms"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="circles/circleandrelatedterms">Lesson 1: Circle and Related Terms</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circles/propertiesofcircles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="circles/propertiesofcircles">Lesson 2: Properties of Circles</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circles/circlethroughthreepoints"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="circles/circlethroughthreepoints">Lesson 3: Circle Through Three Points</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circles/cyclicquadrilaterals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="circles/cyclicquadrilaterals">Lesson 4: Cyclic Quadrilaterals</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "circles/quiz5circles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="circles/quiz5circles">Quiz 5: Circles</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter6" aria-expanded="false">Chapter 6. Constructions<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter6">
                                <a class="list-brief__item__kind" href= "constructions/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="constructions/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "constructions/basicconstructions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="constructions/basicconstructions">Lesson 2: Basic Constructions</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "constructions/constructionoftriangles"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="constructions/constructionoftriangles">Lesson 3: Construction of Triangles</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "constructions/quiz6constructions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="constructions/quiz6constructions">Quiz 6: Constructions</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Number Systems">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ixmaths/numbersystems">Number Systems</a>
                    <a class="design-sprint__contents__link" href="/ixmaths/numbersystems">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ixmaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/ixmaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Coordinate Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ixmaths/coordinategeometry">Coordinate Geometry</a>
                    <a class="design-sprint__contents__link" href="/ixmaths/coordinategeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ixmaths/geometry">Geometry</a>
                    <a class="design-sprint__contents__link" href="/ixmaths/geometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Mensuration">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ixmaths/mensuration">Mensuration</a>
                    <a class="design-sprint__contents__link" href="/ixmaths/mensuration">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Statistics and Probability">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ixmaths/statisticsandprobability">Statistics and Probability</a>
                    <a class="design-sprint__contents__link" href="/ixmaths/statisticsandprobability">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Previous Year Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ixmaths/previousyearpapers">Previous Year Papers</a>
                    <a class="design-sprint__contents__link" href="/ixmaths/previousyearpapers">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
