<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/engineeringmaths">Engineering Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/engineeringmaths/algebra">Algebra</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/engineeringmaths/algebra/ringsidealsanddomains">Rings, Ideals and Domains</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Group Theory
                                </li>
                                <li class="list-catagories__item">
                                  2. Rings, Ideals and Domains
                                </li>
                                <li class="list-catagories__item">
                                  3. Fields
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Group Theory<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "grouptheory/groups"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/groups">Lesson 1: Groups</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/subgroups"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/subgroups">Lesson 2: Subgroups</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/normalsubgroups"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/normalsubgroups">Lesson 3: Normal Subgroups</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/homomorphismofgroups"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/homomorphismofgroups">Lesson 4: Homomorphism of Groups</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/quotientgroups"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/quotientgroups">Lesson 5: Quotient Groups</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/isomorphism"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/isomorphism">Lesson 6: Isomorphism</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/sylowsgroup"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/sylowsgroup">Lesson 7: Sylow's Group</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/permutationgroups"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/permutationgroups">Lesson 8: Permutation Groups</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/cayleystheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/cayleystheorem">Lesson 9: Cayley's Theorem</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "grouptheory/quiz1grouptheory"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="grouptheory/quiz1grouptheory">Quiz 1: Group Theory</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Rings, Ideals and Domains<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse in" id="chapter2">
                              <a class="list-brief__item__kind" href= "ringsidealsanddomains/ringsandideals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="ringsidealsanddomains/ringsandideals">Lesson 1: Rings and Ideals</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "ringsidealsanddomains/principalidealdomains"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="ringsidealsanddomains/principalidealdomains">Lesson 2: Principal Ideal Domains</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "ringsidealsanddomains/uniquefactorizationdomains"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="ringsidealsanddomains/uniquefactorizationdomains">Lesson 3: Unique Factorization Domains</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "ringsidealsanddomains/quiz2ringsandideals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="ringsidealsanddomains/quiz2ringsandideals">Quiz 2: Rings, Ideals and Domains</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Fields<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                              <a class="list-brief__item__kind" href= "fields/fieldextensions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="fields/fieldextensions">Lesson 1: Field Extensions</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "fields/finitefields"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="fields/finitefields">Lesson 2: Finite Fields</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "fields/quiz3fields"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="fields/quiz3fields">Quiz 3: Fields</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/realanalysis">Real Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/realanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/calculus">Calculus</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/calculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/vectoranalysis">Vector Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/vectoranalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/complexanalysis">Complex Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/complexanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/analyticgeometry">Analytic Geometry</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/analyticgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearalgebra">Linear Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearalgebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/ordinarydifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/partialdifferentialequations">Partial Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/partialdifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/numericalmethods">Numerical Methods</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/numericalmethods">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearprogramming">Linear Programming</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearprogramming">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/probabilityandstatistics">Probability and Statistics</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/probabilityandstatistics">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
