<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/engineeringmaths">Engineering Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/engineeringmaths/calculus">Calculus</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/engineeringmaths/calculus/functionsofarealvariable">Functions of a Real Variable</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Functions of a Real Variable
                                </li>
                                <li class="list-catagories__item">
                                  2. Functions of Two or Three Variables
                                </li>
                                <li class="list-catagories__item">
                                  3. Integrals
                                </li>
                                <li class="list-catagories__item">
                                  4. Areas, Surfaces and Volumes
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Function of a Real Variable<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse in" id="chapter1">
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/limits"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/limits">Lesson 2: Limits</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/continuity"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/continuity">Lesson 3: Continuity</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/differentiability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/differentiability">Lesson 4: Differentiability</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/meanvaluetheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/meanvaluetheorem">Lesson 5: Mean Value Theorem</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/taylorstheoremwithremainders"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/taylorstheoremwithremainders">Lesson 6: Taylor's Theorem with Remainders</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/indeterminateforms"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/indeterminateforms">Lesson 7: Indeterminate forms</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/maximaandminima"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/maximaandminima">Lesson 8: Maxima and Minima</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/lagrangesmethodofmultipliers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/lagrangesmethodofmultipliers">Lesson 9: Lagrange's Method of Multipliers</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/jacobian"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/jacobian">Lesson 10: Jacobian</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionsofarealvariable/quiz1functionsofarealvariable"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsofarealvariable/quiz1functionsofarealvariable">Quiz 1: Function of a Real Variable</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Functions of Two or Three Variables<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                              <a class="list-brief__item__kind" href= "functionsoftwoorthreevariables/limits"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsoftwoorthreevariables/limits">Lesson 1: Limits</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "functionsoftwoorthreevariables/continuity"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsoftwoorthreevariables/continuity">Lesson 2: Continuity</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "functionsoftwoorthreevariables/partialderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsoftwoorthreevariables/partialderivatives">Lesson 3: Partial Derivatives</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "functionsoftwoorthreevariables/maximaandminima"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsoftwoorthreevariables/maximaandminima">Lesson 4: Maxima and Minima</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "functionsoftwoorthreevariables/lagrangesmethodofmultipliers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsoftwoorthreevariables/lagrangesmethodofmultipliers">Lesson 5: Lagrnage's Method of Multipliers</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "functionsoftwoorthreevariables/jacobian"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsoftwoorthreevariables/jacobian">Lesson 6: Jacobian</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "functionsoftwoorthreevariables/quiz2functionsoftwoorthreevariables"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionsoftwoorthreevariables/quiz2functionsoftwoorthreevariables">Quiz 2: Functions of Two or Three Variables</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Integrals<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                              <a class="list-brief__item__kind" href= "integrals/riemannsdefinitionofdefiniteintegrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integrals/riemannsdefinitionofdefiniteintegrals">Lesson 1: Riemann’s definition of Definite Integrals</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "integrals/indefiniteintegrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integrals/indefiniteintegrals">Lesson 2: Indefinite Integrals</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "integrals/infiniteintegrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integrals/infiniteintegrals">Lesson 3: Infinite Integrals</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "integrals/improperintegrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integrals/improperintegrals">Lesson 4: Improper Integrals</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "integrals/doubleintegrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integrals/doubleintegrals">Lesson 5: Double Integrals</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "integrals/tripleintegrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integrals/tripleintegrals">Lesson 6: Triple Integrals</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "integrals/quiz3integrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integrals/quiz3integrals">Quiz 3: Integrals</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Areas, Surfaces and Volumes<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                              <a class="list-brief__item__kind" href= "areassurfacesandvolumes/areas"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="areassurfacesandvolumes/areas">Lesson 1: Areas</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "areassurfacesandvolumes/surfaces"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="areassurfacesandvolumes/surfaces">Lesson 2: Surfaces</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "areassurfacesandvolumes/volumes"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="areassurfacesandvolumes/volumes">Lesson 3: Volumes</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "areassurfacesandvolumes/quiz4areassurfacesandvolumes"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="areassurfacesandvolumes/quiz4areassurfacesandvolumes">Quiz 3: Areas, Surfaces and Volumes</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/realanalysis">Real Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/realanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/calculus">Calculus</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/calculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/vectoranalysis">Vector Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/vectoranalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/complexanalysis">Complex Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/complexanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/analyticgeometry">Analytic Geometry</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/analyticgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearalgebra">Linear Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearalgebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/ordinarydifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/partialdifferentialequations">Partial Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/partialdifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/numericalmethods">Numerical Methods</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/numericalmethods">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearprogramming">Linear Programming</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearprogramming">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/probabilityandstatistics">Probability and Statistics</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/probabilityandstatistics">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
