<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths">UPSC Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths/analyticgeometry">Analytic Geometry</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/upscmaths/analyticgeometry/cartesianandpolarcoordinates">Cartesian and Polar Coordinates</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Cartesian and Polar Coordinates
                                </li>
                                <li class="list-catagories__item">
                                  2. Second Degree Equations
                                </li>
                                <li class="list-catagories__item">
                                  3. Straight Lines
                                </li>
                                <li class="list-catagories__item">
                                  4. Geometric Objects of One and Two Sheets and their Properties
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Cartesian and Polar Coordinates<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "cartesianandpolarcoordinates/cartesianandpolarcoordinatesinthreedimensions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="cartesianandpolarcoordinates/cartesianandpolarcoordinatesinthreedimensions">Lesson 1: Cartesian and Polar Coordinates in Three Dimensions</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "cartesianandpolarcoordinates/quiz1cartesianandpolarcoordinates"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="cartesianandpolarcoordinates/quiz1cartesianandpolarcoordinates">Quiz 1: Cartesian and Polar Coordinates</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Second Degree Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                              <a class="list-brief__item__kind" href= "seconddegreeequations/seconddegreeequationsinthreevariables"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="seconddegreeequations/seconddegreeequationsinthreevariables">Lesson 1: Second Degree Equations in Three Variables</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "seconddegreeequations/reductiontocanonicalforms"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="seconddegreeequations/reductiontocanonicalforms">Lesson 2: Reduction to Canonical forms</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "seconddegreeequations/quiz2seconddegreeequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="seconddegreeequations/quiz2seconddegreeequations">Quiz 2: Second Degree Equations</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Straight Lines<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                              <a class="list-brief__item__kind" href= "straightlines/straightlines"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="straightlines/straightlines">Lesson 1: Straight Lines</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "straightlines/shortestdistancebetweentwoskewlines"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="straightlines/shortestdistancebetweentwoskewlines">Lesson 2: Shortest Distance between Two Skew Lines</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "straightlines/quiz3straightlines"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="straightlines/quiz3straightlines">Quiz 3: Straight Lines</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Geometric Objects of One and Two Sheets and their Properties<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                              <a class="list-brief__item__kind" href= "geometricobjectsofoneandtwosheetsandtheirproperties/plane"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="geometricobjectsofoneandtwosheetsandtheirproperties/plane">Lesson 1: Plane</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "geometricobjectsofoneandtwosheetsandtheirproperties/sphere"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="geometricobjectsofoneandtwosheetsandtheirproperties/sphere">Lesson 2: Sphere</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "geometricobjectsofoneandtwosheetsandtheirproperties/cone"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="geometricobjectsofoneandtwosheetsandtheirproperties/cone">Lesson 3: Cone</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "geometricobjectsofoneandtwosheetsandtheirproperties/cylinder"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="geometricobjectsofoneandtwosheetsandtheirproperties/cylinder">Lesson 4: Cylinder</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "geometricobjectsofoneandtwosheetsandtheirproperties/paraboloid"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="geometricobjectsofoneandtwosheetsandtheirproperties/paraboloid">Lesson 5: Paraboloid</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "geometricobjectsofoneandtwosheetsandtheirproperties/ellipsoid"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="geometricobjectsofoneandtwosheetsandtheirproperties/ellipsoid">Lesson 6: Ellipsoid</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "geometricobjectsofoneandtwosheetsandtheirproperties/hyperboloid"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="geometricobjectsofoneandtwosheetsandtheirproperties/hyperboloid">Lesson 7: Hyperboloid</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "geometricobjectsofoneandtwosheetsandtheirproperties/quiz4geometricobjectsofoneandtwosheetsandtheirproperties"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="geometricobjectsofoneandtwosheetsandtheirproperties/quiz4geometricobjectsofoneandtwosheetsandtheirproperties">Quiz 4: Geometric Objects of One and Two Sheets and their Properties</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/realanalysis">Real Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/realanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/calculus">Calculus</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/calculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/vectoranalysis">Vector Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/vectoranalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/complexanalysis">Complex Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/complexanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/analyticgeometry">Analytic Geometry</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/analyticgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearalgebra">Linear Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearalgebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/ordinarydifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/partialdifferentialequations">Partial Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/partialdifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/numericalmethods">Numerical Methods</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/numericalmethods">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearprogramming">Linear Programming</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearprogramming">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/probabilityandstatistics">Probability and Statistics</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/probabilityandstatistics">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
