<div class="container">
    <div class="intro-course-content">
        <div class="intro-course">
            <div class="intro-course__title">Introduction</div>
            <div class="intro-course__infor">
                <div class="intro-course__infor__item"><a class="intro-course__infor__name" href="#">Prateek Yadhav</a><span class="intro-course__infor__time">June 25, 2018</span></div>
                <div class="intro-course__infor__item">
                    <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span>347</span></div>
                    <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span>347</span></div>
                </div>
            </div>
            <div class="intro-course__wapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uWga9D134tU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="intro-course__sub">
                <div class="text-sub">Never settle for less! You can have everything you want and need. Use the most powerful and flexible tool to define an impressive. Phosfluo rescently white board empowered applications before cooperative e-markets. Dramatically monetize compelling markets without cross-unit quality vectors. Professionally syndicate client-focused innovation rather than premium supply chains.</div>
                <div class="text-sub">Rapidiously whiteboard premium applications and scalable convergence. Proactively facilitate dynamic e-tailers and functional meta-services. Authoritatively formulate timely models vis-a-vis.</div>
            </div>
            <div class="row intro-course__col">
                <div class="col-md-5">
                    <div class="intro-course__wapper"><img class="intro-course__wapper__image" src="assets/img/blog-details-full-width/blog-details-2.jpg" alt=""></div>
                </div>
                <div class="col-md-7">
                    <div class="intro-course__col__item">
                        <div class="intro-course__item__title">HOW TO DO THIS ?</div>
                        <div class="intro-course__col__list-sub">
                            <div class="text-sub">Completely incubate go forward innovation progressive portals. Completely seize building ROI via premium “outside the box” thinking. Continually productize an expanded array of process improvements with innovative systems.</div>
                            <div class="text-sub">Competently actualize world-class paradigms without intermandated ROI. Rapidiously underwhelm efficient. Ad aperiam aspernatur atque aut consequatur distinctio earumolestiae nihil obcaecati perferendis</div>
                            <div class="text-sub">Perspiciatis possimus molestiaemolestiae molestia, d aperiam aspernatur atque aut consequatur distinctio earumolestiae nihil obcaecati perferendis perspiciatis possimus molestiaemolestia erspiciatis possimus molestiaemolestiaee...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-sub">Never settle for less! You can have everything you want and need. Use the most powerful and flexible tool to define an impressive. Phosfluo rescently white board empowered applications before cooperative e-markets. Dramatically monetize compelling markets without cross-unit quality vectors. Professionally syndicate client-focused innovation rather than premium supply chains.</div>
        </div>
    </div>
</div>