<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="index.html">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/differentialcalculus">JEE Maths</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/differentialcalculus">Algebra</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Complex Numbers
                                </li>
                                <li class="list-catagories__item">
                                  2. Quadratic Equations
                                </li>
                                <li class="list-catagories__item">
                                  3. Sequence and Series
                                </li>
                                <li class="list-catagories__item">
                                  4. Binomial Theorem
                                </li>
                                <li class="list-catagories__item">
                                  5. Permutations and Comibinations
                                </li>
                                <li class="list-catagories__item">
                                  6. Matrices
                                </li>
                                <li class="list-catagories__item">
                                  7. Determinants
                                </li>
                                <li class="list-catagories__item">
                                  8. Probability
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Complex Numbers<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Complex Numbers<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Algebra of Complex Numbers<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Modulus and Conjugate<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Argand and Polar Representation<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Cube Roots of Unity<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Geometric Interpretations<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 1: Complex Numbers<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Quadratic Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quadratic Equations with Real Coefficients<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Relation between roots and Coefficients<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Properties and Graph of Quadratic Equations<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Symmetric Functions of Roots<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 2: Quadratic Equations<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Sequence and Series<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Arithmetic Progression<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Properties of Arithmetic Progression<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Geometric Progression<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Properties of Geometric Progression <span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Harmonic Progression<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Properties of Harmonic Progression<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Infinite Series<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Sums of Squares and Cubes<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 3: Sequence and Series<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Binomial Theorem<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Binomial Theorem for a Positive Integral Index<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Properties of Binomial Coefficients<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 4: Binomial Theorem<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Chapter 5. Permutations and Combinations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter5">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Addition and Multiplication Rule<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Formuale and Properties<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 5: Permutations and Combinations<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter6" aria-expanded="false">Chapter 6. Matrices<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter6">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Type of Matrices<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Operations on Matrices<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Symmetric and Skew-Symmetric Matrices<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Elementary Operations on Matrices<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Invertible Matrices<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Solutions of simultaneous linear equations in two or three variables<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 6: Matrices<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter7" aria-expanded="false">Chapter 7. Determinants<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Properties of Determinants<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Minors and Cofactors<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Adjoint and Inverse of a Matrix<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Application of Determinants and Matrices<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 7: Determinants<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter8" aria-expanded="false">Chapter 8. Probability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Conditional Probability<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Multiplication Theorems on Probability<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Independent Events<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Bayes' Theorem<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Random Variables and its Probability Distributions<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Bernoulli Trials and Binomial Distribution<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Computation of Probability of Events using Permutations and Combinations<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 8: Probability<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <h1 class="column-left__title">Recommended Courses</h1>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Algebra</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Analytical Geometry</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Differential Calculus</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Integral Calculus</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">JEE Maths Complete</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">JEE Maths Papers</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
