<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths">JEE Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/algebra">Algebra</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/permutationsandcombinations">Permutations and Combinations</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Complex Numbers
                                </li>
                                <li class="list-catagories__item">
                                  2. Quadratic Equations
                                </li>
                                <li class="list-catagories__item">
                                  3. Sequences and Series
                                </li>
                                <li class="list-catagories__item">
                                  4. Binomial Theorem
                                </li>
                                <li class="list-catagories__item">
                                  5. Permutations and Comibinations
                                </li>
                                <li class="list-catagories__item">
                                  6. Matrices
                                </li>
                                <li class="list-catagories__item">
                                  7. Determinants
                                </li>
                                <li class="list-catagories__item">
                                  8. Probability
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Complex Numbers<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "complexnumbers/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/complex numbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson 2: Complex Numbers</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/algebraofcomplex numbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson 3: Algebra of Complex Numbers</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/modulusandconjugate"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson 4: Modulus and Conjugate</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/argandandpolarrepresentation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson 5: Argand and Polar Representation</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/cuberootsofnuity"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson 6: Cube Roots of Unity</a><span class="pull-right">30 minutes</span></div></a></a></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/geometricinterpretation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Lesson 7: Geometric Interpretations</a><span class="pull-right">30 minutes</span></div></a></a>
                                <a class="list-brief__item__kind" href= "complexnumbers/quiz1complexnumbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i>Quiz 1: Complex Numbers</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Quadratic Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <a class="list-brief__item__kind" href= "quadraticequations/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "quadraticequations/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadraticequations/quadraticequationswithrealcoefficients"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "quadraticequations/quadraticequationswithrealcoefficients">Lesson 2: Quadratic Equations with Real Coefficients</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadraticequations/relationbetweenrootsandcoefficients"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "quadraticequations/relationbetweenrootsandcoefficients">Lesson 3: Relation between roots and Coefficients</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadraticequations/propertiesandgraphofquadraticequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "quadraticequations/propertiesandgraphofquadraticequations">Lesson 4: Properties and Graph of Quadratic Equations</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "quadraticequations/symmetricfunctionsofroots"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "quadraticequations/symmetricfunctionsofroots">Lesson 5: Symmetric Functions of Roots</a><span class="pull-right">30 minutes</span></div></a></a>
                                <a class="list-brief__item__kind" href= "quadraticequations/quiz2quadraticequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "quadraticequations/quiz2quadraticequations">Quiz 2: Quadratic Equations</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Sequences and Series<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <a class="list-brief__item__kind" href= "sequencesandseries/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/arithmeticprogression"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/arithmeticprogression">Lesson 2: Arithmetic Progression</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/propertiesofarithmeticprogression"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/propertiesofarithmeticprogression">Lesson 3: Properties of Arithmetic Progression</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/geometricprogression"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/geometricprogression">Lesson 4: Geometric Progression</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/propertiesofgeometricprogression"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/propertiesofgeometricprogression">Lesson 5: Properties of Geometric Progression</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/harmonicprogression"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/harmonicprogression">Lesson 6: Harmonic Progression</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/propertiesofharmonicprogression"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/propertiesofharmonicprogression">Lesson 7: Properties of Harmonic Progression</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/infiniteseries"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/infiniteseries">Lesson 8: Infinite Series</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/sumsofsquaresandcubes"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/sumsofsquaresandcubes">Lesson 9: Sums of Squares and Cubes</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "sequencesandseries/quiz3sequencesandseries"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "sequencesandseries/quiz3sequencesandseries">Quiz 3: Sequences and Series</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Binomial Theorem<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <a class="list-brief__item__kind" href= "binomialtheorem/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "binomialtheorem/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "binomialtheorem/binomialtheoremforapositiveintegralindex"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "binomialtheorem/binomialtheoremforapositiveintegralindex">Lesson 2: Binomial Theorem for a Positive Integral Index</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "binomialtheorem/propertiesofbinomialcoefficients"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "binomialtheorem/propertiesofbinomialcoefficients">Lesson 3: Properties of Binomial Coefficients</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "binomialtheorem/quiz4binomialtheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "binomialtheorem/quiz4binomialtheorem">Quiz 4: Binomial Theorem</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Chapter 5. Permutations and Combinations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse in" id="chapter5">
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "permutationsandcombinations/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/additionandmultiplicationrule"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "permutationsandcombinations/additionandmultiplicationrule">Lesson 2: Addition and Multiplication Rule</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/formulaeandproperties"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "permutationsandcombinations/formulaeandproperties">Lesson 3: Formuale and Properties</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "permutationsandcombinations/quiz5permutationsandcombinations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "permutationsandcombinations/quiz5permutationsandcombinations">Quiz 5: Permutations and Combinations</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter6" aria-expanded="false">Chapter 6. Matrices<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter6">
                                <a class="list-brief__item__kind" href= "matrices/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "matrices/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matrices/typesofmatrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "matrices/typesofmatrices">Lesson 2: Type of Matrices</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matrices/operationsonmatrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "matrices/operationsonmatrices">Lesson 3: Operations on Matrices</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matrices/symmetricandskewsymmetricmatrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "matrices/symmetricandskewsymmetricmatrices">Lesson 4: Symmetric and Skew-Symmetric Matrices</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matrices/elementaryoperationsonmatrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "matrices/elementaryoperationsonmatrices">Lesson 5: Elementary Operations on Matrices</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matrices/invertiblematrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "matrices/invertiblematrices">Lesson 6: Invertible Matrices</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matrices/solutionsofsimultaneouslinearequationsintwoorthreevariables"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "matrices/solutionsofsimultaneouslinearequationsintwoorthreevariables">Lesson 7: Solutions of simultaneous linear equations in two or three variables</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "matrices/quiz6matrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "matrices/quiz6matrices">Quiz 6: Matrices</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter7" aria-expanded="false">Chapter 7. Determinants<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter7">
                                <a class="list-brief__item__kind" href= "determinants/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "determinants/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "determinants/propertiesofdeterminants"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "determinants/propertiesofdeterminants">Lesson 2: Properties of Determinants</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "determinants/minorsandcofactors"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "determinants/minorsandcofactors">Lesson 3: Minors and Cofactors</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "determinants/adjointandinverseofamatrix"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "determinants/adjointandinverseofamatrix">Lesson 4: Adjoint and Inverse of a Matrix</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "determinants/applicationofdeterminantsandmatrices"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "determinants/applicationofdeterminantsandmatrices">Lesson 5: Application of Determinants and Matrices</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "determinants/quiz7determinants"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "determinants/quiz7determinants">Quiz 7: Determinants</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter8" aria-expanded="false">Chapter 8. Probability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter8">
                                <a class="list-brief__item__kind" href= "probability/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/conditionalprobability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/conditionalprobability">Lesson 2: Conditional Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/multiplicationtheoremsonprobability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/multiplicationtheoremsonprobability">Lesson 3: Multiplication Theorems on Probability</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/independentevents"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/independentevents">Lesson 4: Independent Events</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/bayestheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/bayestheorem">Lesson 5: Bayes' Theorem</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/randomvariablesandtheirprobabilitydistributions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/randomvariablesandtheirprobabilitydistributions">Lesson 6: Random Variables and their Probability Distributions</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/bernoullitrialsandbinomialdistribution"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/bernoullitrialsandbinomialdistribution">Lesson 7: Bernoulli Trials and Binomial Distribution</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/computationofprobabilityofeventsusingpermutationsandcombinations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/computationofprobabilityofeventsusingpermutationsandcombinations">Lesson 8: Computation of Probability of Events using Permutations and Combinations</a><span class="pull-right">30 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "probability/quiz8probability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href= "probability/quiz8probability">Quiz 8: Probability</a><span class="pull-right">30 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>

    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/trigonometry">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/trigonometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/analyticalgeometry">Analytical Geometry</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/analyticalgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/differentialcalculus">Differential Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/differentialcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/integralcalculus">Integral Calculus</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/integralcalculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/jeemaths/previousyearpapers">Previous Years Papers</a>
                    <a class="design-sprint__contents__link" href="/jeemaths/previousyearpapers">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

</div>
