<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/ximaths">XI Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/ximaths/mathematicalreasoning">Mathematical Reasoning</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/ximaths/mathematicalreasoning/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Mathematical Reasoning
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Mathematical Reasoning<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "mathematicalreasoning/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="mathematicalreasoning/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "mathematicalreasoning/statements"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="mathematicalreasoning/statements">Lesson 2: Statements</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "mathematicalreasoning/newstatementsfromold"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="mathematicalreasoning/newstatementsfromold">Lesson 3: New Statements from Old</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "mathematicalreasoning/specialwordsphrases"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="mathematicalreasoning/specialwordsphrases">Lesson 4: Special Words/Phrases</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "mathematicalreasoning/implications"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="mathematicalreasoning/implications">Lesson 5: Implications</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "mathematicalreasoning/validatingstatements"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="mathematicalreasoning/validatingstatements">Lesson 6: Validating Statements</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "mathematicalreasoning/quiz1mathematicalreasoning"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="mathematicalreasoning/quiz1mathematicalreasoning">Quiz 1: Mathematical Reasoning</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Sets and Functions">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/setsandfunctions">Sets and Functions</a>
                    <a class="design-sprint__contents__link" href="/ximaths/setsandfunctions">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/ximaths/algebra">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Coordinate Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/coordinategeometry">Coordinate Geometry</a>
                    <a class="design-sprint__contents__link" href="/ximaths/coordinategeometry">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/calculus">Calculus</a>
                    <a class="design-sprint__contents__link" href="/ximaths/calculus">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Mathematical Reasoning">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/mathematicalreasoning">Mathematical Reasoning</a>
                    <a class="design-sprint__contents__link" href="/ximaths/mathematicalreasoning">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Statistics and Probability">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/statisticsandprobability">Statistics and Probability</a>
                    <a class="design-sprint__contents__link" href="/ximaths/statisticsandprobability">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="XI Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/ximathscomplete">XI Maths Complete</a>
                    <a class="design-sprint__contents__link" href="/ximaths/ximathscomplete">Start</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Previous Year Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/ximaths/previousyearpapers">Previous Year Papers</a>
                    <a class="design-sprint__contents__link" href="/ximaths/previousyearpapers">Start</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
