<div class="container">
    <div class="intro-course-content video_page">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths">JEE Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/differentialcalculus">Differential Calculus</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/differentialcalculus/functions">Functions</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/differentialcalculus/functions/quiz1functions">Quiz 1: Functions</a></li>
        </ul>
      </nav>
        <div class="intro-course">
            <div class="row">
                <div class="col-md-3">
                    <div class="column-left__item">
                        <h1 class="column-left__title">Chapter Summary</h1><hr>
                        <div class="select list-selector">
                            <div class="list-catagories list-catagories" id="list-catagories">
                              <ul class="list-catagories__list">
                                  <li class="list-catagories__item">
                                    <a href="/jeemaths/differentialcalculus/functions/introduction">1. Introduction</a>
                                  </li>
                                  <li class="list-catagories__item">
                                    <a href="/jeemaths/differentialcalculus/functions/typesofrelationsandfunctions">2. Types of Relations and Functions</a>
                                  </li>
                                  <li class="list-catagories__item">
                                    <a href="/jeemaths/differentialcalculus/functions/realvaluedfunctionsofarealvariableintoontoandonetoonefunctions">3. Real-Valued Functions of a Real Variable; Into, Onto and One-To-One Functions</a>
                                  </li>
                                  <li class="list-catagories__item">
                                    <a href="/jeemaths/differentialcalculus/functions/sumdifferenceproductandquotientoftwofunctions">4. Sum, Difference, Product and Quotient of Two Functions</a>
                                  </li>
                                  <li class="list-catagories__item">
                                    <a href="/jeemaths/differentialcalculus/functions/compositefunctionsabsolutevaluepolynomialrationaltrigonometricexponentialandlogarithmicfunctions">5. Composite Functions, Absolute Value, Polynomial, Rational, Trigonometric, Exponential and Logarithmic Functions</a>
                                  </li>
                                  <li class="list-catagories__item">
                                    <a href="/jeemaths/differentialcalculus/functions/evenandoddfunctionsandinverseofafunction">6. Even and Odd Functions and Inverse of a Function</a>
                                  </li>
                                  <li class="list-catagories__item">
                                    <a href="/jeemaths/differentialcalculus/functions/continuityofcompositefunctions">7. Continuity of Composite Functions</a>
                                  </li>
                                  <li class="list-catagories__item active">
                                    <a href="/jeemaths/differentialcalculus/functions/quiz1functions">8. Quiz 1: Functions </a>
                                  </li>
                              </ul>
                            </div>
                        </div>
                        <hr>
                        <a href="/jeemaths/differentialcalculus/limitsandderivatives" class="tag-bunle brief-course__top__bundle">Next Chapter</a>
                    </div>
                </div>
                <div class="col-md-9 has_border_lft">
                    <div class="intro-course__title">Quiz 1: Functions</div>
                        <div class="intro-course__infor">
                            <div class="intro-course__infor__item">
                                <a href="/jeemaths/differentialcalculus/limitsandderivativesquiz2limitsandderivatives" class="btn btn-default button-default nav-right__instructor">Next Quiz <i class="glyph-icon flaticon-arrows-3 menu-main__icon"></i></a>
                            </div>
                        </div>

                        <!--
                        <div class="intro-course__wapper text-center">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/uWga9D134tU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        -->
                        <div id="disqus_thread"></div>
                        <script>


                        var disqus_config = function () {
                        this.page.disqus_shortname  = 'Write Your Comments Here';
                        this.page.url = 'https://www.pymaths.com/jeemaths/differentialcalculus/introduction';
                        this.page.identifier = 'Course Name';
                        };


                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://pymaths.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                </div>
            </div>

        </div>
    </div>
</div>
