<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/xiimaths">XII Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/xiimaths/calculus">Calculus</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/xiimaths/calculus/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Continuity and Differentiability
                                </li>
                                <li class="list-catagories__item">
                                  2. Application of Derivatives
                                </li>
                                <li class="list-catagories__item">
                                  3. Integration
                                </li>
                                <li class="list-catagories__item">
                                  4. Application of Integrals
                                </li>
                                <li class="list-catagories__item">
                                  5. Differential Equations
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Continuity and Differentiability<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/continuity"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/continuity">Lesson 2: Continuity</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/differentiability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/differentiability">Lesson 3: Differentiability</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/exponentialandlogarithmicfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/exponentialandlogarithmicfunctions">Lesson 4: Exponential and Logarithmic Functions</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/logarithmicdifferentiation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/logarithmicdifferentiation">Lesson 5: Logarithmic Differentiation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/derivativesoffunctionsinparametricforms"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/derivativesoffunctionsinparametricforms">Lesson 6: Derivatives of Functions in Parametric Forms</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/secondorderderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/secondorderderivatives">Lesson 7: Second Order Dervatives</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/meanvaluetheorem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/meanvaluetheorem">Lesson 8: Mean Value Theorem</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "continuityanddifferentiability/quiz1continuityanddifferentiability"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="continuityanddifferentiability/quiz1continuityanddifferentiability">Quiz 1: Continuity and Differentiability</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Application of Derivatives<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <a class="list-brief__item__kind" href= "applicationofderivatives/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="applicationofderivatives/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/rateofchangeofderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="applicationofderivatives/rateofchangeofderivatives">Lesson 2: Rate of Change of Derivatives</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/increasinganddecreasingfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="applicationofderivatives/increasinganddecreasingfunctions">Lesson 3: Increasing and Decreasing Functions</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/tangentsandnormals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="applicationofderivatives/tangentsandnormals">Lesson 4: Tangents and Normals</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/approximations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="applicationofderivatives/approximations">Lesson 5: Approximations</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/maximaandminima"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="applicationofderivatives/maximaandminima">Lesson 6: Maxima and Minima</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "applicationofderivatives/quiz2applicationofderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="applicationofderivatives/quiz2applicationofderivatives">Quiz 2: Application of Derivatives</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Integration<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <a class="list-brief__item__kind" href= "integration/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/integrationasaninverseprocessofdifferentiation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/integrationasaninverseprocessofdifferentiation">Lesson 2: Integration as an Inverse Process of Differentiation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/methodsofintegration"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/methodsofintegration">Lesson 3: Methods of Integration</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/integralsofsomeparticularfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/integralsofsomeparticularfunctions">Lesson 4: Integrals of some Particular Functions</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/integrationbypartialfractions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/integrationbypartialfractions">Lesson 5: Integration by Partial Fractions</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/integrationbyparts"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/integrationbyparts">Lesson 6: Integration by Parts</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/definiteintegration"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/definiteintegration">Lesson 7: Definite Integration</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/fundamentaltheoremofcalculus"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/fundamentaltheoremofcalculus">Lesson 8: Fundamental Therem of Calculus</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/evaluationofdefiniteintegralsbysubstitution"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/evaluationofdefiniteintegralsbysubstitution">Lesson 9: Evaluation of Definite Integrals by Substitution</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/somepropertiesofdefiniteintegrals"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/somepropertiesofdefiniteintegrals">Lesson 10: Some Properties of Definite Integrals</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "integration/quiz3integration"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="integration/quiz3integration">Quiz 3: Integration</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Function of a Real Variable<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <a class="list-brief__item__kind" href= "functionofarealvariable/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionofarealvariable/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionofarealvariable/areaundersimplecurves"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionofarealvariable/areaundersimplecurves">Lesson 2: Area under Simple Curves</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionofarealvariable/areabetweentwocurves"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionofarealvariable/areabetweentwocurves">Lesson 3: Area between Two Curves</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "functionofarealvariable/quiz4functionofarealvariable"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="functionofarealvariable/quiz4functionofarealvariable">Quiz 4: Function of a Real Variable</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Chapter 5. Differential Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter5">
                                <a class="list-brief__item__kind" href= "differentialequations/introduction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="differentialequations/introduction">Lesson 1: Introduction</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialequations/basicconcepts"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="differentialequations/basicconcepts">Lesson 2: Basic Concepts</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialequations/generalandparticularsolutionsofadifferentialequation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="differentialequations/generalandparticularsolutionsofadifferentialequation">Lesson 3: General and Particular Solutions of a Differential Equation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialequations/formationofadifferentialequationwhosegeneralsolutionisgiven"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="differentialequations/formationofadifferentialequationwhosegeneralsolutionisgiven">Lesson 4: Formation of a Differential Equation whose General Solution is Given</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialequations/methodsofsolvingfirstorderfirstdegreedifferentialequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="differentialequations/methodsofsolvingfirstorderfirstdegreedifferentialequations">Lesson 5: Methods of Solving First order, First Degree Differential Equations</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "differentialequations/quiz5differentialequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="differentialequations/quiz5differentialequations">Quiz 5: Differential Equations</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Relations and Functions">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xiimaths/relationsandfunctions">Relations and Functions</a>
                    <a class="design-sprint__contents__link" href="/xiimaths/relationsandfunctions">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xiimaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/xiimaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xiimaths/calculus">Calculus</a>
                    <a class="design-sprint__contents__link" href="/xiimaths/calculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Vectors & 3D Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xiimaths/vectorsandthreedimensionalgeometry">Vectors & 3D Geometry</a>
                    <a class="design-sprint__contents__link" href="/xiimaths/vectorsandthreedimensionalgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xiimaths/linearprogramming">Linear Programming</a>
                    <a class="design-sprint__contents__link" href="/xiimaths/linearprogramming">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Probability">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xiimaths/probability">Probability</a>
                    <a class="design-sprint__contents__link" href="/xiimaths/probability">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="XII Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/xiimaths/previousyearpapers">Previous Year Papers</a>
                    <a class="design-sprint__contents__link" href="/xiimaths/previousyearpapers">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
