<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/engineeringmaths">Engineering Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/engineeringmaths/numericalmethods">Numerical Methods</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/engineeringmaths/numericalmethods/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Numerical Methods
                                </li>
                                <li class="list-catagories__item">
                                  2. Numerical Integration
                                </li>
                                <li class="list-catagories__item">
                                  3. Numerical Solution of ODEs
                                </li>
                                <li class="list-catagories__item">
                                  4. Computer Programming
                                </li>
                                <li class="list-catagories__item">
                                  5. Algorithms and Flow Charts
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Numerical Methods<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "numericalmethods/solutionofalgebraicandtranscendentalequationsofonevariablebybisectionmethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/solutionofalgebraicandtranscendentalequationsofonevariablebybisectionmethod">Lesson 1: Solution of Algebraic and Transcendental Equations of One Variable by Bisection Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/regulafalsimethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/regulafalsimethod">Lesson 2: Regula-Falsi Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/newtonraphsonmethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/newtonraphsonmethod">Lesson 3: Newton-Raphson Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/solutionofsystemoflinearequationsbygaussianeliminationandgaussjordan(direct)methods"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/solutionofsystemoflinearequationsbygaussianeliminationandgaussjordan(direct)methods">Lesson 4: Solution of System of Linear Equations by Gaussian Elimination and Gauss-Jordan (Direct) Methods</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/gaussseidel(iterative)method"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/gaussseidel(iterative)method">Lesson 5: Gauss-Seidel (Iterative) Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/newtons(forwardandbackward)interpolation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/newtons(forwardandbackward)interpolation">Lesson 6: Newton’s (Forward and Backward) Interpolation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/quiz1numericalmethods"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/quiz1numericalmethods">Quiz 1: Numerical Methods</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Numerical Integration<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                              <a class="list-brief__item__kind" href= "numericalintegration/trapezoidalrule"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalintegration/trapezoidalrule">Lesson 1: Trapezoidal Rule</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalintegration/simpsonsrules"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalintegration/simpsonsrules">Lesson 2: Simpson's Rules</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalintegration/gaussianquadratureformula"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalintegration/gaussianquadratureformula">Lesson 3: Gaussian Quadrature Formula</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalintegration/quiz2numericalintegration"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalintegration/quiz2numericalintegration">Quiz 2: Numerical Integration</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Numerical Solution of ODEs<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                              <a class="list-brief__item__kind" href= "numericalsolutionofodes/eulermethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalsolutionofodes/eulermethod">Lesson 1: Euler Method</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalsolutionofodes/rungekuttamethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalsolutionofodes/rungekuttamethod">Lesson 2: Runge-Kutta Method</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalsolutionofodes/quiz3numericalsolution"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalsolutionofodes/quiz3numericalsolution">Quiz 3: Numerical Solution of ODEs</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Computer Programming<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                              <a class="list-brief__item__kind" href= "computerprogramming/binarysystems"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/binarysystems">Lesson 1: Binary System</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/arithmeticandlogicaloperationsonnumbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/arithmeticandlogicaloperationsonnumbers">Lesson 2: Arithmetic and Logical Operations on Numbers</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/octalandhexadecimalsystems"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/octalandhexadecimalsystems">Lesson 3: Octal and Hexadecimal Systems</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/conversiontoandfromdecimalsystems"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/conversiontoandfromdecimalsystems">Lesson 4: Conversion to and from Decimal Systems</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/algebraofbinarynumbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/algebraofbinarynumbers">Lesson 5: Algebra of Binary Numbers</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/elementsofcomputersystemsandconceptofmemory"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/elementsofcomputersystemsandconceptofmemory">Lesson 6: Elements of Computer Systems and Concept of Memory</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/basiclogicgatesandtruthtables"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/basiclogicgatesandtruthtables">Lesson 7: Basic Logic Gates and Truth Tables</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/booleanalgebra"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/booleanalgebra">Lesson 8: Boolean Algebra</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/normalforms"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/normalforms">Lesson 9: Normal Forms</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/quiz4computerprogramming"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/quiz4computerprogramming">Quiz 4: Computer Programming</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Chapter 5. Algorithms and Flow Charts<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter5">
                              <a class="list-brief__item__kind" href= "algorithmsandflowcharts/algorithmsandflowchartsforsolvingnumericalanalysisproblems"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algorithmsandflowcharts/algorithmsandflowchartsforsolvingnumericalanalysisproblems">Lesson 1: Algorithms and Flow Charts for solving Numerical Analysis Problems</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "algorithmsandflowcharts/quiz5algorithmsandflowcharts"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="algorithmsandflowcharts/quiz5algorithmsandflowcharts">Quiz 5: Algorithms and Flow Charts</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h2>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
                <div class="special courses__list">
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/realanalysis">Real Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/realanalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/realanalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/calculus">Calculus</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/calculus"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/calculus"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/vectoranalysis">Vector Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/vectoranalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/vectoranalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/complexanalysis">Complex Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/complexanalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/complexanalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/analyticgeometry">Analytic Geometry</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/analyticgeometry"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/analyticgeometry"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/linearalgebra">Linear Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/linearalgebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/linearalgebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/ordinarydifferentialequations">ODEs</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/ordinarydifferentialequations"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/ordinarydifferentialequations"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/partialdifferentialequations">PDEs</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/partialdifferentialequations"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/partialdifferentialequations"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/numericalmethods">Numerical Methods</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/numericalmethods"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/numericalmethods"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/linearprogramming">Linear Programming</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/linearprogramming"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/linearprogramming"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/algebra">Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/algebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/algebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/engineeringmaths.png" alt="Engineering Maths"></div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/engineeringmaths/probabilityandstatistics">Prob-Stats</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/engineeringmaths/probabilityandstatistics"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/engineeringmaths/probabilityandstatistics"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
</div>
