<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths">UPSC Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths/previousyearpapers">Previous Years Papers</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/upscmaths/previousyearpapers/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. 2017 Paper I
                                </li>
                                <li class="list-catagories__item">
                                  2. 2017 Paper II
                                </li>
                                <li class="list-catagories__item">
                                  3. 2016 Paper I
                                </li>
                                <li class="list-catagories__item">
                                  4. 2016 Paper II
                                </li>
                                <li class="list-catagories__item">
                                  5. 2015 Paper I
                                </li>
                                <li class="list-catagories__item">
                                  6. 2015 Paper II
                                </li>
                                <li class="list-catagories__item">
                                  7. 2014 Paper I
                                </li>
                                <li class="list-catagories__item">
                                  8. 2014 Paper II
                                </li>
                                <li class="list-catagories__item">
                                  9. 2013 Paper I
                                </li>
                                <li class="list-catagories__item">
                                  10. 2013 Paper II
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. 2017 Paper I<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "2017paperi/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperi/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperi/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperi/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperi/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperi/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperi/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperi/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperi/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperi/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperi/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperi/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperi/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperi/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperi/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperi/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. 2017 Paper II<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <a class="list-brief__item__kind" href= "2017paperii/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperii/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperii/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperii/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperii/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperii/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperii/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperii/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperii/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperii/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperii/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperii/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperii/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperii/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2017paperii/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2017paperii/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. 2016 Paper I<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <a class="list-brief__item__kind" href= "2016paperi/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperi/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperi/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperi/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperi/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperi/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperi/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperi/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperi/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperi/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperi/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperi/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperi/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperi/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperi/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperi/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. 2016 Paper II<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <a class="list-brief__item__kind" href= "2016paperii/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperii/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperii/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperii/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperii/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperii/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperii/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperii/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperii/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperii/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperii/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperii/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperii/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperii/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2016paperii/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2016paperii/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Chapter 5. 2015 Paper I<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter5">
                                <a class="list-brief__item__kind" href= "2015paperi/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperi/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperi/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperi/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperi/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperi/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperi/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperi/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperi/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperi/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperi/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperi/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperi/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperi/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperi/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperi/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter6" aria-expanded="false">Chapter 6. 2015 Paper II<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter6">
                                <a class="list-brief__item__kind" href= "2015paperii/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperii/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperii/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperii/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperii/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperii/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperii/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperii/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperii/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperii/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperii/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperii/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperii/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperii/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2015paperii/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2015paperii/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter7" aria-expanded="false">Chapter 7. 2014 Paper I<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter7">
                                <a class="list-brief__item__kind" href= "2014paperi/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperi/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperi/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperi/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperi/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperi/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperi/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperi/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperi/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperi/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperi/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperi/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperi/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperi/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperi/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperi/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter8" aria-expanded="false">Chapter 8. 2014 Paper II<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter8">
                                <a class="list-brief__item__kind" href= "2014paperii/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperii/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperii/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperii/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperii/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperii/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperii/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperii/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperii/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperii/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperii/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperii/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperii/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperii/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2014paperii/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2014paperii/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter9" aria-expanded="false">Chapter 9. 2013 Paper I<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter9">
                                <a class="list-brief__item__kind" href= "2013paperi/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperi/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperi/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperi/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperi/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperi/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperi/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperi/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperi/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperi/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperi/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperi/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperi/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperi/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperi/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperi/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter10" aria-expanded="false">Chapter 10. 2013 Paper II<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter10">
                                <a class="list-brief__item__kind" href= "2013paperii/sectionaq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperii/sectionaq1">Lesson 1: Section A - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperii/sectionaq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperii/sectionaq2">Lesson 2: Section A - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperii/sectionaq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperii/sectionaq3">Lesson 3: Section A - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperii/sectionaq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperii/sectionaq4">Lesson 4: Section A - Q4</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperii/sectionbq1"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperii/sectionbq1">Lesson 5: Section B - Q1</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperii/sectionbq2"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperii/sectionbq2">Lesson 6: Section B - Q2</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperii/sectionbq3"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperii/sectionbq3">Lesson 7: Section B - Q3</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "2013paperii/sectionbq4"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="2013paperii/sectionbq4">Lesson 8: Section B - Q4</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>

    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h2>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
                <div class="special courses__list">
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearalgebra">Linear Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearalgebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearalgebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearalgebra">Linear Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearalgebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearalgebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/calculus">Calculus</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/calculus"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/calculus"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/analyticgeometry">Analytic Geometry</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/analyticgeometry"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/analyticgeometry"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/ordinarydifferentialequations"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/ordinarydifferentialequations"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/dynamicsandstatics">Dynamics and Statics</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/dynamicsandstatics"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/dynamicsandstatics"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/vectoranalysis">Vector Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/vectoranalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/vectoranalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/algebra">Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/algebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/algebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/realanalysis">Real Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/realanalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/realanalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/complexanalysis">Complex Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/complexanalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/complexanalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearprogramming">Linear Programming</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearprogramming"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearprogramming"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/numericalanalysisandcomputerprogramming">Numerical Analysis and Computer Programming</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/numericalanalysisandcomputerprogramming"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/numericalanalysisandcomputerprogramming"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/mechanicsandfluiddynamics">Mechanics and Fluid Dynamics</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/mechanicsandfluiddynamics"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/mechanicsandfluiddynamics"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
</div>
