<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths">UPSC Maths</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link" href="/upscmaths/ordinarydifferentialequations">Ordinary Differential Equations</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/upscmaths/ordinarydifferentialequations/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. First Order ODEs
                                </li>
                                <li class="list-catagories__item">
                                  2. Second and Higher Order ODEs
                                </li>
                                <li class="list-catagories__item">
                                  3. Laplace Transform
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. First Order ODEs<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "firstorderderivatives/formulationofdifferentialequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="firstorderderivatives/formulationofdifferentialequations">Lesson 1: Formulation of Differential Equations</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "firstorderderivatives/equationsoffirstorderandfirstdegree"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="firstorderderivatives/equationsoffirstorderandfirstdegree">Lesson 2: Equations of First Order and First Degree</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "firstorderderivatives/integratingfactor"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="firstorderderivatives/integratingfactor">Lesson 3: Integrating Factor</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "firstorderderivatives/orthogonaltrajectory"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="firstorderderivatives/orthogonaltrajectory">Lesson 4: Orthogonal Trajectory</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "firstorderderivatives/equationsoffirstorderbutnotoffirstdegree"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="firstorderderivatives/equationsoffirstorderbutnotoffirstdegree">Lesson 5: Equations of First Order but not of First Degree</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "firstorderderivatives/clairautsequation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="firstorderderivatives/clairautsequation">Lesson 6: Clairaut’s Equation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "firstorderderivatives/singularsolution"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="firstorderderivatives/singularsolution">Lesson 7: Singular Solution</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "firstorderderivatives/quiz1firstorderderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="firstorderderivatives/quiz1firstorderderivatives">Quiz 1: First Order ODEs</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Second and Higher Order ODEs<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                              <a class="list-brief__item__kind" href= "secondandhigherorderderivatives/secondandhigherorderlinearequationswithconstantcoefficients"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="secondandhigherorderderivatives/secondandhigherorderlinearequationswithconstantcoefficients">Lesson 1: Second and Higher Order Linear Equations with Constant Coefficients</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "secondandhigherorderderivatives/complementaryfunction"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="secondandhigherorderderivatives/complementaryfunction">Lesson 2: Complementary Function</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "secondandhigherorderderivatives/particularintegralandgeneralsolution"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="secondandhigherorderderivatives/particularintegralandgeneralsolution">Lesson 3: Particular Integral and General Solution</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "secondandhigherorderderivatives/secondorderlinearequationswithvariablecoefficients"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="secondandhigherorderderivatives/secondorderlinearequationswithvariablecoefficients">Lesson 4: Second Order Linear Equations with Variable Coefficients</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "secondandhigherorderderivatives/eulercauchyequation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="secondandhigherorderderivatives/eulercauchyequation">Lesson 5: Euler-Cauchy Equation</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "secondandhigherorderderivatives/determinationofcompletesolutionwhenonesolutionisknownusingmethodofvariationofparameters"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="secondandhigherorderderivatives/determinationofcompletesolutionwhenonesolutionisknownusingmethodofvariationofparameters">Lesson 6: Determination of Complete Solution when one solution is known using Method of Variation of Parameters</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "secondandhigherorderodes/quiz2secondandhigherorderderivatives"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="secondandhigherorderodes/quiz2secondandhigherorderderivatives">Quiz 2: Second and Higher Order ODEs</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Laplace Transform<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                              <a class="list-brief__item__kind" href= "laplacetransform/laplaceandinverselaplacetransformsandtheirproperties"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="laplacetransform/laplaceandinverselaplacetransformsandtheirproperties">Lesson 1: Laplace and Inverse Laplace Transforms and their Properties</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "laplacetransform/laplacetransformsofelementaryfunctions"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="laplacetransform/laplacetransformsofelementaryfunctions">Lesson 2: Laplace Transforms of Elementary Functions</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "laplacetransform/applicationtoinitialvalueproblemsfor2ndorderlinearequationswithconstantcoefficients"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="laplacetransform/applicationtoinitialvalueproblemsfor2ndorderlinearequationswithconstantcoefficients">Lesson 3: Application to Initial Value Problems for 2nd Order Linear Equations with Constant Coefficients</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "laplacetransform/quiz3laplacetransform"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="laplacetransform/quiz3laplacetransform">Quiz 3: Laplace Transform</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h4 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h4>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/realanalysis">Real Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/realanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/calculus">Calculus</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/calculus">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/vectoranalysis">Vector Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/vectoranalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/complexanalysis">Complex Analysis</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/complexanalysis">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/analyticgeometry">Analytic Geometry</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/analyticgeometry">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearalgebra">Linear Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearalgebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/ordinarydifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/partialdifferentialequations">Partial Differential Equations</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/partialdifferentialequations">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/numericalmethods">Numerical Methods</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/numericalmethods">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/linearprogramming">Linear Programming</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/linearprogramming">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/algebra">Algebra</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/algebra">Start Course</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="/engineeringmaths/probabilityandstatistics">Probability and Statistics</a>
                    <a class="design-sprint__contents__link" href="/engineeringmaths/probabilityandstatistics">Start Course</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
