    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/daterangepicker.js"></script>
    <!-- iCheck -->
    <script src="/assets/js/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/assets/js/main.min.js"></script>
	<!-- Custom Script -->
    <script src="/assets/js/custom.js"></script>
	<script src="/assets/js/custom_admin.js"></script>
	</body>
</html>