<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths">UPSC Maths</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/upscmaths/numericalanalysisandcomputerprogramming">Numerical Analysis and Computer Programming</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/upscmaths/numericalanalysisandcomputerprogramming/coursestart">Start Course</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Numerical Methods
                                </li>
                                <li class="list-catagories__item">
                                  2. Numerical Integration
                                </li>
                                <li class="list-catagories__item">
                                  3. Numerical Solution of Ordinary Differential Equations
                                </li>
                                <li class="list-catagories__item">
                                  4. Computer Programming
                                </li>
                                <li class="list-catagories__item">
                                  5. Elements of Computer Systems and Concept of Memory
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Numerical Methods<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <a class="list-brief__item__kind" href= "numericalmethods/bisectionmethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/bisectionmethod">Lesson 1: Bisection Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/regulafalsimethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/regulafalsimethod">Lesson 2: Regula-Falsi Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/newtonraphsonmethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/newtonraphsonmethod">Lesson 3: Newton-Raphson Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/gaussianeliminationandgaujordanmethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/gaussianeliminationandgaujordanmethod">Lesson 4: Gaussian Elimination and Gauss-Jordan Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/gaussseidelmethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/gaussseidelmethod">Lesson 5: Gauss-Seidel Method</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/newtonsforwardandbackwardinterpolation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/newtonsforwardandbackwardinterpolation">Lesson 6: Newton's Forward and Backward Interpolation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/lagrangesinterpolation"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/lagrangesinterpolation">Lesson 7: Lagrange's Interpolation</a><span class="pull-right">10 minutes</span></div></a>
                                <a class="list-brief__item__kind" href= "numericalmethods/quiz1numericalmethods"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalmethods/quiz1numericalmethods">Quiz 1: Numerical Methods</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Numerical Integration<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                              <a class="list-brief__item__kind" href= "numericalintegration/trapezoidalrule"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalintegration/trapezoidalrule">Lesson 1: Trapezoidal Rule</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalintegration/simpsonsrule"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalintegration/simpsonsrule">Lesson 2: Simpson's Rule</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalintegration/gaussianquadratureformula"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalintegration/gaussianquadratureformula">Lesson 3: Gaussian Quadrature Formula</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalintegration/quiz2numericalintegration"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalintegration/quiz2numericalintegration">Quiz 2: Numerical Integration</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Numerical Solution of Ordinary Differential Equations<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                              <a class="list-brief__item__kind" href= "numericalsolutionofordinarydifferentialequations/eulermethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalsolutionofordinarydifferentialequations/eulermethod">Lesson 1: EUler Method</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalsolutionofordinarydifferentialequations/rungekuttamethod"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalsolutionofordinarydifferentialequations/rungekuttamethod">Lesson 2: Runge-Kutta Method</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "numericalsolutionofordinarydifferentialequations/quiz3numericalsolutionofordinarydifferentialequations"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="numericalsolutionofordinarydifferentialequations/quiz3numericalsolutionofordinarydifferentialequations">Quiz 3: Numerical Solution of Ordinary Differential Equations</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Computer Programming<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                              <a class="list-brief__item__kind" href= "computerprogramming/binarysystem"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/binarysystem">Lesson 1: Binary System</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/arithmeticandlogicaloperationsonnumbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/arithmeticandlogicaloperationsonnumbers">Lesson 2: Arithmetic and Logical Operations on Numbers</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/octalandhexadecimalsystems"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/octalandhexadecimalsystems">Lesson 3: Octal and Hexadecimal Systems</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/conversiontoandfromdecimalsystems"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/conversiontoandfromdecimalsystems">Lesson 4: Conversion to and from Decimal Systems</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/algebraofbinarynumbers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/algebraofbinarynumbers">Lesson 5: Algebra of Binary Numbers</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "computerprogramming/quiz4computerprogramming"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="computerprogramming/quiz4computerprogramming">Quiz 4: Computer Programming</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter5" aria-expanded="false">Chapter 5. Elements of Computer Systems and Concept of Memory<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter5">
                              <a class="list-brief__item__kind" href= "elementsofcomputersystemsandconceptofmemory/basiclogicgatesandtruthtables"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="elementsofcomputersystemsandconceptofmemory/basiclogicgatesandtruthtables">Lesson 1: Basic Logic Gates and Truth Tables</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "elementsofcomputersystemsandconceptofmemory/booleanalgebra"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="elementsofcomputersystemsandconceptofmemory/booleanalgebra">Lesson 2: Boolean Algebra</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "elementsofcomputersystemsandconceptofmemory/representationofunsignedandsignedintegers"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="elementsofcomputersystemsandconceptofmemory/representationofunsignedandsignedintegers">Lesson 3: Representation of Unsigned and Signed Integers</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "elementsofcomputersystemsandconceptofmemory/representationofrealsdoubleprecision"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="elementsofcomputersystemsandconceptofmemory/representationofrealsdoubleprecision">Lesson 4: Representation of Reals (Double Precision)</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "elementsofcomputersystemsandconceptofmemory/algorithmsandflowcharts"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="elementsofcomputersystemsandconceptofmemory/algorithmsandflowcharts">Lesson 5: Algorithms and Flow Charts</a><span class="pull-right">10 minutes</span></div></a>
                              <a class="list-brief__item__kind" href= "elementsofcomputersystemsandconceptofmemory/quiz5elementsofcomputersystemsandconceptofmemory"><div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-interface-1"></i><a class="list-brief__item__kind" href="elementsofcomputersystemsandconceptofmemory/quiz5elementsofcomputersystemsandconceptofmemory">Quiz 5: Elements of Computer Systems and Concept of Memory</a><span class="pull-right">10 minutes</span></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <div class="list-course__header">
          <h2 class="list-course__header__title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.002s">Recommended Courses</h2>
          <div class="list-course__view-more"><a class="list-course__header__btn"><span class="list-course__header__text">view more</span></a>
            <div class="list-course__header__icon list-course-icon-arrow-special"><span class="glyph-icon flaticon-arrows-3 list-course__header__icon-arrow"></span></div>
          </div>
        </div>
        <div class="list-course__gird">
          <div class="course specializations">
                <div class="special courses__list">
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearalgebra">Linear Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearalgebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearalgebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearalgebra">Linear Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearalgebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearalgebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/calculus">Calculus</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/calculus"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/calculus"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/analyticgeometry">Analytic Geometry</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/analyticgeometry"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/analyticgeometry"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/ordinarydifferentialequations">Ordinary Differential Equations</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/ordinarydifferentialequations"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/ordinarydifferentialequations"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/dynamicsandstatics">Dynamics and Statics</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/dynamicsandstatics"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/dynamicsandstatics"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/vectoranalysis">Vector Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/vectoranalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/vectoranalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/algebra">Algebra</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/algebra"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/algebra"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/realanalysis">Real Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/realanalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/realanalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/complexanalysis">Complex Analysis</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/complexanalysis"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/complexanalysis"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/linearprogramming">Linear Programming</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/linearprogramming"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/linearprogramming"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/numericalanalysisandcomputerprogramming">Numerical Analysis and Computer Programming</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/numericalanalysisandcomputerprogramming"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/numericalanalysisandcomputerprogramming"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="undefined courses__item">
                    <div class="courses__wapper">
                      <div class="col-equal courses__top">
                        <div class="courses__top__wapper"><img class="courses__top__image" src="/assets/img/coverpages/upscmaths.png" alt="UPSC Maths"></div>
                        <div class="courses__hover">
                          <div class="courses__hover-content"><span class="courses__hover-content__item"><span class="glyph-icon flaticon-shapes courses__hover-content__icon"></span></span><span class="courses__hover-content__item"><span class="glyph-icon flaticon-interface courses__hover-content__icon"></span></span></div>
                        </div>
                      </div>
                      <div class="col-equal courses__content"><a class="courses__content__title" href="/upscmaths/mechanicsandfluiddynamics">Mechanics and Fluid Dynamics</a>
                        <div class="courses__content__author"><a class="courses__col-left" href="/upscmaths/mechanicsandfluiddynamics"><span class="courses__content__avatar"><img class="courses__content__image" src="/assets/img/partner/partner-details-6.png" alt=""></span><span class="courses__content__author-name">PyMaths</span></a>
                          <div class="courses__col-right">
                            <div class="rating-start" data-rating="5"></div>
                          </div>
                        </div>
                        <div class="courses__content__info">
                          <div class="courses__col-left">
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span class="courses__content__number">200</span></div>
                            <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span class="courses__content__number">417</span></div>
                          </div>
                          <a href="/upscmaths/mechanicsandfluiddynamics"><div class="courses__col-right courses__content__price">Start</div></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
</div>
