<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="index.html">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/differentialcalculus">JEE Maths</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/differentialcalculus">Analytical Geometry</a></li>
        </ul>
      </nav>
        <div class="row">

            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1><hr>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Straight Lines
                                </li>
                                <li class="list-catagories__item">
                                  2. Circles
                                </li>
                                <li class="list-catagories__item">
                                  3. Conic Sections
                                </li>
                                <li class="list-catagories__item">
                                  4. Three-Dimensional Geometry
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter1" aria-expanded="false">Chapter 1. Straight Lines<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter1">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Various Forms of the Equation of Line<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Distance of a Point From a Line<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Equation of the Bisector of the Angle between two Lines<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Concurrency of Lines<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Centroid, Orthocentre, Incentre and Circumcentre of a Triangle<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 1: Straight Lines<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter2" aria-expanded="false">Chapter 2. Circles<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter2">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Equation of a Circle in various forms<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Equations of Tangent, Normal and Chord<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Parametric Equations of a Circle<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Intersection of a Circle with a Straight Line or a Circle<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Equation of a Circle through the points of intersection of two Circles and those of a Circle and a Straight Line<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Family of Circles<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 2: Circles<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter3" aria-expanded="false">Chapter 3. Conic Sections<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter3">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Sections of a Cone<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Foci, Directrices and Eccentricity<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Parabola<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Ellipse<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Hyperbola<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Parametric Equations, Equations of Tangent and Normal<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 3: Conic Sections<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#chapter4" aria-expanded="false">Chapter 4. Three-Dimensional Geometry<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="chapter4">
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Introduction<span class="pull-right">10 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Direction Cosines and Direction Ratios of a Line<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Equation of a Line in Space<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Angle between Two Lines<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Shortest Distance between Two Lines<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Plane<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Coplanarity of Two Lines<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Distance of a Point from a Plane<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Angle between a Line and a Plane<span class="pull-right">30 minutes</span></div>
                                <div class="faqs__body"><i class="glyph-icon list-brief__item__icon flaticon-sheet"></i>Quiz 4: Three-Dimensional Geometry<span class="pull-right">30 minutes</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <h1 class="column-left__title">Recommended Courses</h1>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Algebra">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Algebra</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Trigonometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Trigonometry</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Analytical Geometry">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Analytical Geometry</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Differential Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Differential Calculus</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Integral Calculus">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Integral Calculus</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Complete">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">JEE Maths Complete</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="JEE Maths Papers">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">JEE Maths Papers</a>
                    <a class="design-sprint__contents__link" href="#">Enroll now</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
