<div class="container">
    <div class="intro-course-content">
        <div class="intro-course">
            <div class="intro-course__title">Introduction</div>
            <div class="intro-course__infor">
                <div class="intro-course__infor__item"><a class="intro-course__infor__name" href="#">Prateek Yadhav</a><span class="intro-course__infor__time">June 25, 2018</span></div>
                <div class="intro-course__infor__item">
                    <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-shapes icon-custom"></span></span><span>347</span></div>
                    <div class="col-left__item"><span class="courses__content__icon"><span class="glyph-icon flaticon-profile-1 icon-custom"></span></span><span>347</span></div>
                </div>
            </div>
            <div class="intro-course__wapper text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uWga9D134tU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="intro-course__sub">
                <div class="text-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum rem nisi aperiam quam, libero perspiciatis necessitatibus incidunt, sed placeat eaque obcaecati qui cum maiores ex fugit illum! Soluta, voluptate aliquam!</div>
                <div class="text-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum rem nisi aperiam quam, libero perspiciatis necessitatibus incidunt, sed placeat eaque obcaecati qui cum maiores ex fugit illum! Soluta, voluptate aliquam!</div>
            </div>
            <div class="row intro-course__col">
                <div class="col-md-12">
                    <div class="intro-course__col__item">
                        <div class="intro-course__item__title">HOW TO DO THIS ?</div>
                        <div class="intro-course__col__list-sub">
                            <div class="text-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum rem nisi aperiam quam, libero perspiciatis necessitatibus incidunt, sed placeat eaque obcaecati qui cum maiores ex fugit illum! Soluta, voluptate aliquam!</div>
                            <div class="text-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum rem nisi aperiam quam, libero perspiciatis necessitatibus incidunt, sed placeat eaque obcaecati qui cum maiores ex fugit illum! Soluta, voluptate aliquam!</div>
                            <div class="text-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum rem nisi aperiam quam, libero perspiciatis necessitatibus incidunt, sed placeat eaque obcaecati qui cum maiores ex fugit illum! Soluta, voluptate aliquam!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum rem nisi aperiam quam, libero perspiciatis necessitatibus incidunt, sed placeat eaque obcaecati qui cum maiores ex fugit illum! Soluta, voluptate aliquam!</div>
        </div>
    </div>
</div>