<div class="container">
    <div class="intro-course-content video_page">
        <div class="intro-course">
            <div class="row">
                <div class="col-md-3">
                    <div class="column-left__item">
                        <h1 class="column-left__title">Lesson Summary</h1><hr>
                        <div class="select list-selector">
                            <div class="list-catagories list-catagories" id="list-catagories">
                                <ul class="list-catagories__list">
                                    <li class="list-catagories__item active">
                                      <a href="">1. Introduction</a>
                                    </li>
                                    <li class="list-catagories__item">
                                      <a href="">2. Topic Two</a>
                                    </li>
                                    <li class="list-catagories__item">
                                      <a href="">3. Topic Three</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <a href="" class="tag-bunle brief-course__top__bundle">Previous Chapter</a>
                        <a href="" class="tag-bunle brief-course__top__bundle">Next Chapter</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="intro-course__title">Introduction</div>
                        <div class="intro-course__infor">

                            <div class="intro-course__infor__item">
                                <a href="" class="btn btn-default button-default nav-right__instructor"><i class="glyph-icon flaticon-arrows-4 menu-main__icon"></i> Previous Lesson</a>
                            </div>
                            <div class="intro-course__infor__item">
                                <a href="" class="btn btn-default button-default nav-right__instructor">Next Lesson <i class="glyph-icon flaticon-arrows-3 menu-main__icon"></i></a>
                            </div>
                        </div>

                        <div class="intro-course__wapper text-center">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/uWga9D134tU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        
                        <div id="disqus_thread"></div>
                        <script>


                        var disqus_config = function () {
                        this.page.disqus_shortname  = 'Write Your Comments Here';
                        this.page.url = 'https://www.pymaths.com/jeemaths/differentialcalculus/introduction';  
                        this.page.identifier = 'Course Name';
                        };


                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://pymaths.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                                    
                </div>
            </div>
            
        </div>
    </div>
</div>
