<div class="courseListing">
    <div class="container">
      <nav class="breadcrumb-wapper">
        <ul class="breadcrumb">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="index.html" target="_blank">home</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths/differentialcalculus" target="_blank">JEE Maths</a></li>
          <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/differentialcalculus" target="_blank">Differential Calculus</a></li>
        </ul>
      </nav>
        <div class="row">
             
            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Functions
                                </li>
                                <li class="list-catagories__item">
                                  2. Limits & Derivatives
                                </li>
                                <li class="list-catagories__item">
                                  3. Continuity & Differentiality
                                </li>
                                <li class="list-catagories__item">
                                  4. Application of Derivatives
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="bundle" id="faq">
                <div class="bundle__content">
                    <div class="faqs" id="faqs">
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer1" aria-expanded="true">FUNCTIONS<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="answer1">
                                <div class="faqs__body">
                                    Introduction
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Types of Derivative Functions
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Introduction
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Types of Derivative Functions
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer2" aria-expanded="false">FUNCTIONS<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                                                </h4>
                            </div>
                            <div class="panel-collapse collapse " id="answer2">
                                <div class="faqs__body">
                                    Introduction
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Types of Derivative Functions
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Introduction
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Types of Derivative Functions
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer3" aria-expanded="false">FUNCTIONS<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                                                </h4>
                            </div>
                            <div class="panel-collapse collapse " id="answer3">
                                <div class="faqs__body">
                                    Introduction
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Types of Derivative Functions
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Introduction
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Types of Derivative Functions
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="panel faqs__item">
                            <div class="faqs__heading">
                                <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer4" aria-expanded="false">FUNCTIONS<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                                                </h4>
                            </div>
                            <div class="panel-collapse collapse " id="answer4">
                                <div class="faqs__body">
                                    Introduction
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Types of Derivative Functions
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Introduction
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                                <div class="faqs__body">
                                    Types of Derivative Functions
                                    <span class="pull-right">
                                      5 Hrs
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
    <section class="spy list-course" id="exploer">
      <div class="container">
        <h1 class="column-left__title">Recommanded Courses</h1>
        <div class="list-course__gird">
          <div class="course specializations">
              <div class="special courses__list ">
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Mathematics</a>
                    <a class="design-sprint__contents__link" href="#">enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Mathematics</a>
                    <a class="design-sprint__contents__link" href="#">enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Mathematics</a>
                    <a class="design-sprint__contents__link" href="#">enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Mathematics</a>
                    <a class="design-sprint__contents__link" href="#">enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Mathematics</a>
                    <a class="design-sprint__contents__link" href="#">enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Mathematics</a>
                    <a class="design-sprint__contents__link" href="#">enroll now</a>
                  </div>
                </div>
                <div class="undefined courses__item">
                  <div class="design-sprint__wapper">
                    <img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management">
                  </div>
                  <div class="design-sprint__contents" style="height: 92px;">
                    <a class="design-sprint__contents__title" href="#">Mathematics</a>
                    <a class="design-sprint__contents__link" href="#">enroll now</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
