<div class="courseListing">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 column-left">
                <div class="column-left__item">
                    <h1 class="column-left__title">Course Summary</h1>
                    <div class="select list-selector"><a class="column-left__button-drop" href="#list-catagories" data-toggle="collapse" id="btn-list-catagories"><span class="column-left__button-drop__text" id="select-text">Categories</span><span class="glyph-icon flaticon-arrows-2 column-left__icon"></span></a>
                        <div class="list-catagories list-catagories" id="list-catagories">
                            <ul class="list-catagories__list">
                                <li class="list-catagories__item">
                                  1. Functions
                                </li>
                                <li class="list-catagories__item">
                                  2. Limits & Derivatives
                                </li>
                                <li class="list-catagories__item">
                                  3. Continuity & Differentiality
                                </li>
                                <li class="list-catagories__item">
                                  4. Application of Derivatives
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div class="learning-table-course-detail">
                <div class="learning-table-menu">
                  <div class="learning-table-wrapper">
                      <table class="table learning-table">
                          <tbody>
                              <tr>
                                  <td class="space" colspan="3">FUNCTIONS</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Introduction</a></td>
                                  <td>5 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Types of Derivative Functions</a></td>
                                  <td>12 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Introduction</a></td>
                                  <td>5 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Types of Derivative Functions</a></td>
                                  <td>12 Hrs</td>
                              </tr>
                              <tr>
                                  <td class="space" colspan="3">FUNCTIONS</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Introduction</a></td>
                                  <td>5 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Types of Derivative Functions</a></td>
                                  <td>12 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Introduction</a></td>
                                  <td>5 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Types of Derivative Functions</a></td>
                                  <td>12 Hrs</td>
                              </tr>
                              <tr>
                                  <td class="space" colspan="3">FUNCTIONS</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Introduction</a></td>
                                  <td>5 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Types of Derivative Functions</a></td>
                                  <td>12 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Introduction</a></td>
                                  <td>5 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Types of Derivative Functions</a></td>
                                  <td>12 Hrs</td>
                              </tr>
                              <tr>
                                  <td class="space" colspan="3">FUNCTIONS</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Introduction</a></td>
                                  <td>5 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Types of Derivative Functions</a></td>
                                  <td>12 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Introduction</a></td>
                                  <td>5 Hrs</td>
                              </tr>
                              <tr>
                                  <td><a href="/jeemaths/differentialcalculus/introduction">Types of Derivative Functions</a></td>
                                  <td>12 Hrs</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container recom_courses_cvr">
      <div class="row">
        <h1 class="column-left__title">Recommanded Courses</h1>
        <div class="col-lg-4 col-md-4 col-sm-4 design-sprint__item-image">
          <div class="design-sprint__wapper"><img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management"></div>
          <div class="design-sprint__contents" style="height: 92px;"><a class="design-sprint__contents__title" href="#">Mathematics</a><a class="design-sprint__contents__link" href="#">enroll now</a></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 design-sprint__item-image">
          <div class="design-sprint__wapper"><img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management"></div>
          <div class="design-sprint__contents" style="height: 92px;"><a class="design-sprint__contents__title" href="#">Mathematics</a><a class="design-sprint__contents__link" href="#">enroll now</a></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 design-sprint__item-image">
          <div class="design-sprint__wapper"><img class="design-sprint__wapper__image" src="/assets/img/mathematicsforengineeringupscandquant.jpg" alt="Product management"></div>
          <div class="design-sprint__contents" style="height: 92px;"><a class="design-sprint__contents__title" href="#">Mathematics</a><a class="design-sprint__contents__link" href="#">enroll now</a></div>
        </div>
      </div>
    </div>
</div>
