



    <div class="modal fade signin-form" id="modal-signin" role="dialog">
      <div class="modal-dialog signin-form__dialog">
        <div class="signin-form__button-close hidden-lg hidden-md hidden-sm">
          <button class="close signin-form__button-close__btn" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="signin-form__header"><a class="signin-form__header__logo" href="#"><img src="../assets/img/logo/Logo-form.png" alt=""></a>
          <p class="signin-form__sub">Universal access to the world’s best education.</p>
        </div>
        <div class="modal-content signin-form__content">
          <div class="modal-body signin-form__body">
            <ul class="signin-form__tabs">
              <li class="active signin-form__tabs__items"><a class="signin-form__tabs__link" data-toggle="tab" href="#sign-in">Sign In</a></li>
              <li class="signin-form__tabs__items"><a class="signin-form__tabs__link" data-toggle="tab" href="#sign-up">Sign Up</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="sign-in">
                <h3 class="signin-form__body__title">Log Into Your Account</h3>
                <p class="signin-form__body__sub">Your student account is your portal to all the things: your classroom, projects, forums, career resources, and more!</p>
                <form class="signin-form__form">
                  <div class="signin-form__form__inputs">
                    <input class="input-item" type="text" placeholder="Email">
                    <input class="input-item" type="password" placeholder="Password">
                  </div>
                  <button class="btn-green list-link__btn">Sign In</button><a class="signin-form__link" href="#">Forgot your password?</a>
                </form>
                <div class="group-btn-socials">
                  <p class="group-btn-socials__sub">or sign in with one of these services</p>
                  <div class="btn-social btn-social--facebook"><i class="glyph-icon flaticon-social-1"></i><i>facebook</i></div>
                  <div class="btn-social btn-social--twitter"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i><i>twitter</i></div>
                </div>
              </div>
              <div class="tab-pane fade" id="sign-up">
                <h3 class="signin-form__body__title">Log Into Your Account</h3>
                <p class="signin-form__body__sub">Your student account is your portal to all the things: your classroom, projects, forums, career resources, and more!</p>
                <form class="signin-form__form">
                  <div class="signin-form__form__inputs">
                    <input class="input-item" type="text" placeholder="User name">
                    <input class="input-item" type="email" placeholder="Email">
                    <input class="input-item" type="password" placeholder="Password">
                    <input class="input-item" type="password" placeholder="Confirm Password">
                  </div>
                  <button class="btn-green list-link__btn">Sign Up</button>
                </form>
                <div class="group-btn-socials">
                  <p class="group-btn-socials__sub">or sign up with one of these services</p>
                  <div class="btn-social btn-social--facebook"><i class="glyph-icon flaticon-social-1"></i><i>facebook</i></div>
                  <div class="btn-social btn-social--twitter"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i><i>twitter</i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="signin-form__footer"><a class="signin-form__footer__link" href="#">Having trouble logging in?</a></div>
      </div>
    </div>

    <div class="bundle-content">
      <div class="container">

        <nav class="breadcrumb-wapper">
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">home</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/jeemaths">JEE Maths</a></li>
            <li class="breadcrumb__item active"><a class="breadcrumb__link active" href="/jeemaths/Syllabus">Syllabus</a></li>
          </ul>
        </nav>
        <div class="row">
          <div class="col-lg-3 col-md-3 sidebar-left">
            <div class="list-link" id="menu-left">
                          <ul class="list-link__list">
                            <li class="list-link__item"><a class="list-link__link " href="#mains">Mains Syllabus</a></li>
                            <li class="list-link__item"><a class="list-link__link " href="#advanced">Advanced Syllabus</a></li>
                            <!--<li class="list-link__item"><a class="list-link__link " href="#faq">Reviews</a></li> -->
                          </ul>
              <div class="title-list list-link__title">JEE Maths Syllabus</div><a class="btn-green list-link__btn" href="https://www.facebook.com/groups/1889374178036289/">facebook group</a>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="bundle-header__about">
              <h1 class="bundle-header__title">JEE Maths Syllabus</h1>
              <p class="bundle-header__content">
                JEE is organized in two stages: Mains and Advanced. Understanding the syllabus of JEE Maths is extremely crucial to understand the depth and breadth of various topics covered in JEE examination.
              </p>
            </div>
            <div class="bundle-list">
                          <div class="bundle" id="mains">
                              <div class="bundle__title">Mains Syllabus</div>

                              <table border="100" cellpadding="10" cellspacing="10" style="width: 100%;">
                                <tbody>
                               <tr>
                                 <td >
                                 <p><strong>Sets, Relations and Functions</strong></p>
                                 </td>
                                 <td>
                                 <p><strong>Complex Numbers and Quadratic Equations</strong></p>
                                 </td>
                                 <td>
                                 <p><strong>Matrices and Determinants</strong></p>
                                 </td>
                                 <td >
                                 <p><strong>Permutations and Combinations</strong></p>
                                 </td>
                               </tr>
                               <tr>
                                 <td >
                                 <p><strong>Mathematical Induction</strong></p>
                                 </td>
                                 <td >
                                 <p><strong>Binomial Theorem and its Simple Applications</strong></p>
                                 </td>
                                 <td >
                                 <p><strong>Sequences and Series</strong></p>
                                 </td>
                                 <td >
                                 <p><strong>Limit, Continuity and Differentiability</strong></p>
                                 </td>
                               </tr>
                               <tr>
                                 <td>
                                 <p><strong>Integral Calculus</strong></p>
                                 </td>
                                 <td>
                                 <p><strong>Differential Equations</strong></p>
                                 </td>
                                 <td>
                                 <p><strong>Co-ordinate Geometry</strong></p>
                                 </td>
                                 <td>
                                 <p><strong>Three Dimensional Geometry</strong></p>
                                 </td>
                               </tr>
                               <tr>
                                 <td>
                                 <p><strong>Vector Algebra</strong></p>
                                 </td>
                                 <td>
                                 <p><b>Statistics and Probability</b></p>
                                 </td>
                                 <td>
                                 <p><strong>Trigonometry</strong></p>
                                 </td>
                                 <td>
                                 <p><strong>Mathematical Reasoning</strong></p>
                                 </td>
                               </tr>
                             </tbody>
                            </table>


                          </div>


                          <div class="detail__block" id="advanced">
                              <div class="bundle__title">Advanced Syllabus</div>
                              <table border="100" cellpadding="10" cellspacing="10" style="width: 100%;">
                                <tbody>
                                  <tr>
                                    <td>
                                    <p><strong>Algebra</strong></p>
                                    </td>
                                    <td>
                                    <p><strong>Trigonometry</strong></p>
                                    </td>
                                    <td>
                                    <p><strong>Analytical geometry (2 dimensions)</strong><</p>
                                    </td>
                                    <td>
                                    <p><strong>Analytical geometry (3 dimensions)</strong></p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                    <p><strong>Differential calculus</strong></p>
                                    </td>
                                    <td>
                                    <p><strong>Integral calculus</strong></p>
                                    </td>
                                    <td>
                                    <p><strong>Vectors</strong></span></p>
                                    </td>
                                    <td>
                                    <p>&nbsp;</p>
                                    </td>
                                  </tr>
                                </tbody>
                                </table>



                          </div>



                          <!--
                          <div class="bundle" id="creator">
                            <div class="bundle__title">Creators by</div>
                            <div class="bundle__content">
                              <div class="creator">
                                <div class="creator__title">University of Republic SG</div>
                                <div class="creator__content">
                                  The city of southern California, san diego is locally known as ‘America’s Finest City’.
                                  It’s located on San Diego Bay, an inlet of the Pacific Ocean near the Mexican border.
                                  San Diego is the second largest city in California and the seventh largest in the United States.
                                  It is also nicknamed as ‘America’s biggest small town’.
                                </div>
                              </div>
                            </div>
                          </div>
                          -->

                          <!--
                          <div class="bundle" id="faq">
                            <div class="bundle__title">FAQs</div>
                            <div class="bundle__content">
                                          <div class="faqs faqs--course-single" id="faqs">
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer1" aria-expanded="true">CoFor Women Only Your Computer Usage Could Cost You Your Job<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse in" id="answer1">
                                                            <div class="faqs__body">
                                                              To enroll in an individual course, search for the course title in the catalog.
                                                              When you subscribe to a course that is part of a Specialization, you will be automatically
                                                              subscribed to the entire Specialization. If you are just interested in a single course,
                                                              you will need to cancel your subscription after completing this course in order to stop
                                                              the recurring monthly charge.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer2" aria-expanded="false">Can I just enroll in a single course? I'm not interested in the entire Specialization.<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer2">
                                                            <div class="faqs__body">
                                                              To enroll in an individual course, search for the course title in the catalog.
                                                              When you subscribe to a course that is part of a Specialization, you will be automatically
                                                              subscribed to the entire Specialization. If you are just interested in a single course,
                                                              you will need to cancel your subscription after completing this course in order to stop
                                                              the recurring monthly charge.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer3" aria-expanded="false">Microsoft Patch Management For Home Users<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer3">
                                                            <div class="faqs__body">
                                                              To enroll in an individual course, search for the course title in the catalog.
                                                              When you subscribe to a course that is part of a Specialization, you will be automatically
                                                              subscribed to the entire Specialization. If you are just interested in a single course,
                                                              you will need to cancel your subscription after completing this course in order to stop
                                                              the recurring monthly charge.
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="panel faqs__item">
                                                          <div class="faqs__heading">
                                                            <h4 class="faqs__title"><a class="faqs__link" data-toggle="collapse" data-parent="#faqs" href="#answer4" aria-expanded="false">Live Poker How To Win Tournament Games<span class="glyph-icon flaticon-arrows-3 faqs__icon"></span></a>
                                                            </h4>
                                                          </div>
                                                          <div class="panel-collapse collapse " id="answer4">
                                                            <div class="faqs__body">
                                                              To enroll in an individual course, search for the course title in the catalog.
                                                              When you subscribe to a course that is part of a Specialization, you will be automatically
                                                              subscribed to the entire Specialization. If you are just interested in a single course,
                                                              you will need to cancel your subscription after completing this course in order to stop
                                                              the recurring monthly charge.
                                                            </div>
                                                          </div>
                                                        </div>
                                          </div>
                            </div>
                          </div>
                        -->

                          <!--
                          <div class="bundle" id="how-it-works">
                            <div class="bundle__title">How it works</div>
                            <div class="bundle__content">
                                          <div class="list_works">
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="../assets/img/course-single/Icon-how-it-works-1.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Coursework</div>
                                                <div class="list_works__subs">Each course is like an interactive textbook, featuring pre-recorded videos, quizzes and projects.</div>
                                              </div>
                                            </div>
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="../assets/img/course-single/Icon-how-it-works-2.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Help from Your Peers</div>
                                                <div class="list_works__subs">Connect with thousands of other learners and debate ideas, discuss course material, and get help mastering concepts.</div>
                                              </div>
                                            </div>
                                            <div class="list_works__item">
                                              <div class="list_works__wapper"><img class="list_works__image" src="../assets/img/course-single/Icon-how-it-works-3.png" alt="How to works"></div>
                                              <div class="list_works__content">
                                                <div class="list_works__title">Certificates</div>
                                                <div class="list_works__subs">Earn official recognition for your work, and share your success with friends, colleagues, and employers.</div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                          </div>
                          -->

                          <!--
                          <div class="bundle" id="reviews">
                            <div class="bundle__title">Reviews</div>
                            <div class="bundle__content">
                                          <div class="reviews">
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="../assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course. I highly recommend taking this course if you have an interest in web design. Looking forward to learning how to bring the site to life in Dan's Dreamweaver course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Course quality</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="../assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Learner support</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="reviews__item">
                                              <div class="reviews__wapper"><img class="reviews__image" src="../assets/img/30w.jpg" alt="How to works"></div>
                                              <div class="reviews__content">
                                                <div class="reviews__info">
                                                  <div class="reviews__title">Agnes Reynolds</div>
                                                  <div class="reviews__subs">UI Designer</div>
                                                </div>
                                                <div class="reviews__comment">
                                                  <div class="reviews__sub-content">Really great, detailed course that has opened my eyes to how easy it easy to use Photoshop for mocking up websites. I've learnt so much from this course.</div>
                                                  <div class="reviews__quality">
                                                    <div class="rating-start reviews__star" data-rating="4"></div><span class="reviews__about">for</span><span class="reviews__name-course">Learner support</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                              <div class="reviews__btn"><a class="button-default reviews__enroll" href="https://www.facebook.com/groups/1889374178036289/" target="_blank">Facebook Group</a></div>
                            </div>
                          </div>
                        -->
            </div>
          </div>
        </div>
      </div>
    </div>
